Repository interledger/rafiki, pull requests merged in 2021-06, with the labels that each got.

#17 feat(connector): receipts, modify stream dst
  .github/workflows/lint_test_build.yml
  .github/workflows/main.yml
  .pnp.js
  .yarn/cache/@types-ioredis-npm-4.26.4-eeb37feb17-0138b8c3c2.zip
  .yarn/cache/ioredis-npm-4.27.3-899bb9a141-f7080a5912.zip
  packages/connector/jest.setup.js
  packages/connector/package.json
  packages/connector/src/connector.ts
  packages/connector/src/services/admin-api/index.ts
  packages/connector/src/services/core/controllers/stream.ts
  packages/connector/src/services/core/factories/rafiki-services.ts
  packages/connector/src/services/core/middleware/account.ts
  packages/connector/src/services/core/middleware/index.ts
  packages/connector/src/services/core/middleware/stream-address.ts
  packages/connector/src/services/core/rafiki.ts
  packages/connector/src/services/core/test/controllers/stream-controller.test.ts
  packages/connector/src/services/core/test/middleware/account-middleware.test.ts
  packages/connector/src/services/core/test/middleware/stream-address.test.ts
  yarn.lock
Labels: connector

#19 feat(backend): scaffold user service and backend structure
  .prettierignore
  packages/backend/docker-compose.yml
  packages/backend/migrations/20210608134505_create_users_table.js
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/infrastructure/messageProducer.ts
  packages/backend/src/logger/service.ts
  packages/backend/src/messaging/graphileProducer.ts
  packages/backend/src/messaging/graphileWorker.ts
  packages/backend/src/messaging/messageProducer.ts
  packages/backend/src/models/event.ts
  packages/backend/src/models/index.ts
  packages/backend/src/services/index.ts
  packages/backend/src/shared/baseModel.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/graphileDb.ts
  packages/backend/src/user/model.ts
  packages/backend/src/user/service.test.ts
  packages/backend/src/user/service.ts
Labels: backend

#22 refactor(backend): service dependencies param list -> object
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/shared/baseService.ts
  packages/backend/src/user/service.test.ts
  packages/backend/src/user/service.ts
Labels: backend

#20 feat(backend): spsp
  .pnp.js
  .yarn/cache/base64url-npm-3.0.1-4c171c4917-e7c3424af4.zip
  .yarn/cache/merge-descriptors-npm-1.0.1-615287aaa8-2d2a09eaac.zip
  .yarn/cache/mime-npm-1.6.0-60ae95038a-d540c24dd3.zip
  .yarn/cache/node-mocks-http-npm-1.10.1-bf742b32ef-50f3f26e76.zip
  .yarn/cache/range-parser-npm-1.2.1-1a470fa390-05074f5b23.zip
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/spsp/endpoint.test.ts
  packages/backend/src/spsp/endpoint.ts
  yarn.lock
Labels: backend

#18 feat(connector): implement accounts service with tigerbeetle
  .github/workflows/lint_test_build.yml
  .github/workflows/main.yml
  .pnp.js
  .yarn/cache/tigerbeetle-node-npm-0.3.2-8eb7218a19-1f558aac5e.zip
  README.md
  package.json
  packages/backend/jest.setup.js
  packages/backend/jest.teardown.js
  packages/backend/src/index.ts
  packages/backend/src/runner.ts
  packages/backend/src/scheduler.ts
  packages/connector/README.md
  packages/connector/docker-compose.yml
  packages/connector/jest.setup.js
  packages/connector/jest.teardown.js
  packages/connector/migrations/20210422194131_create_ilp_accounts_table.js
  packages/connector/migrations/20210517125429_create_ilp_http_tokens_table.js
  packages/connector/package.json
  packages/connector/src/accounts.ts
  packages/connector/src/services/accounts/app.ts
  packages/connector/src/services/accounts/config/index.ts
  packages/connector/src/services/accounts/errors/index.ts
  packages/connector/src/services/accounts/index.ts
  packages/connector/src/services/accounts/models/ilpAccount.ts
  packages/connector/src/services/accounts/models/ilpAccountSettings.ts
  packages/connector/src/services/accounts/models/ilpHttpToken.ts
  packages/connector/src/services/accounts/models/index.ts
  packages/connector/src/services/accounts/services/accounts.ts
  packages/connector/src/services/accounts/tests/factories/account.ts
  packages/connector/src/services/accounts/tests/factories/index.ts
  packages/connector/src/services/accounts/tests/helpers/app.ts
  packages/connector/src/services/accounts/tests/helpers/asset.ts
  packages/connector/src/services/accounts/tests/services/accounts.test.ts
  packages/connector/src/services/accounts/utils/balance-id.ts
  packages/connector/src/services/accounts/utils/calculate-balance.ts
  packages/connector/src/services/accounts/utils/index.ts
  packages/connector/src/services/core/controllers/ildcp-protocol.ts
  packages/connector/src/services/core/errors/index.ts
  packages/connector/src/services/core/factories/account.ts
  packages/connector/src/services/core/factories/rafiki-services.ts
  packages/connector/src/services/core/middleware/account.ts
  packages/connector/src/services/core/middleware/balance.ts
  packages/connector/src/services/core/services/accounts.ts
  packages/connector/src/services/core/test/controllers/ildcp-controller.test.ts
  packages/connector/src/services/core/test/middleware/balance-middleware.test.ts
  packages/connector/src/services/core/test/middleware/token-auth-middleware.test.ts
  packages/connector/src/services/core/test/mocks/accounts-service.ts
  yarn.lock
Labels: backend, connector
