Repository interledger/rafiki, pull requests merged in 2021-07, with the labels that each got.

#37 feat(connector): rate backend, rate service
  .github/workflows/lint_test_build.yml
  .pnp.js
  .yarn/cache/@types-sax-npm-1.2.1-b77192f97a-99f2c89dd6.zip
  .yarn/cache/sax-npm-1.2.4-178f05f12f-9d7668d691.zip
  packages/connector/src/index.ts
  packages/connector/src/services/core/factories/rafiki-services.ts
  packages/connector/src/services/core/middleware/balance.ts
  packages/connector/src/services/core/rafiki.ts
  packages/connector/src/services/core/services/index.ts
  packages/connector/src/services/core/services/rates/service.test.ts
  packages/connector/src/services/core/services/rates/service.ts
  packages/connector/src/services/core/services/rates/util.test.ts
  packages/connector/src/services/core/services/rates/util.ts
  packages/connector/src/services/core/test/middleware/balance-middleware.test.ts
  packages/connector/src/services/core/test/mocks/accounts-service.ts
  packages/rates/.gitignore
  packages/rates/README.md
  packages/rates/jest.config.js
  packages/rates/package.json
  packages/rates/src/config.ts
  packages/rates/src/ecb/service.test.ts
  packages/rates/src/ecb/service.ts
  packages/rates/src/ecb/test-eurofxref-daily.json
  packages/rates/src/ecb/test-eurofxref-daily.xml
  packages/rates/src/ecb/util.test.ts
  packages/rates/src/ecb/util.ts
  packages/rates/src/http/service.test.ts
  packages/rates/src/http/service.ts
  packages/rates/src/index.test.ts
  packages/rates/src/index.ts
  packages/rates/src/logger.ts
  packages/rates/src/xrp/service.test.ts
  packages/rates/src/xrp/service.ts
  packages/rates/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: connector

#38 fix(ci): fix sanity check and run for PRs
  .github/workflows/main.yml
  packages/connector/README.md
Labels: connector

#34 feat(backend): create invoice service and graphql resolvers
  packages/backend/migrations/20210608134505_create_users_table.js
  packages/backend/migrations/20210615140530_add_account_id_to_users_table.js
  packages/backend/migrations/20210615140737_create_accounts_table.js
  packages/backend/migrations/20210624151514_create_invoices_table.js
  packages/backend/package.json
  packages/backend/src/account/model.ts
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/graphql/resolvers/invoice.ts
  packages/backend/src/graphql/resolvers/user.test.ts
  packages/backend/src/graphql/resolvers/user.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/invoice/model.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/tests/tableManager.ts
  packages/backend/src/types/UserToken.ts
  packages/backend/src/user/service.test.ts
  packages/backend/src/user/service.ts
Labels: backend

#45 test(backend): configure db per jest worker
  packages/backend/jest.setup.js
  packages/backend/package.json
  packages/backend/scripts/init.sh
  packages/backend/src/config/app.ts
Labels: backend

#56 feat(wm): add webmonetization capability into backend
  .pnp.js
  .yarn/cache/luxon-npm-2.0.1-8400bf4032-60c7bc66d3.zip
  packages/backend/migrations/20210624151514_create_invoices_table.js
  packages/backend/migrations/20210706142216_create_web_monetization_table.js
  packages/backend/package.json
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/account.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/graphql/resolvers/invoice.ts
  packages/backend/src/graphql/resolvers/user.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/invoice/model.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/spsp/service.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/user/model.ts
  packages/backend/src/user/service.test.ts
  packages/backend/src/user/service.ts
  packages/backend/src/webmonetization/model.ts
  packages/backend/src/webmonetization/service.test.ts
  packages/backend/src/webmonetization/service.ts
  yarn.lock
Labels: backend

#66 refactor: change autolabeller to match new labels
  .github/contributing.md
  .github/labeler.yml
  .github/workflows/label.yml
  README.md
Labels: type: ci, type: documentation
