Repository interledger/rafiki, pull requests merged in 2022-11, with the labels that each got.

#714 chore: quote expiration cannot be set past the receiver's expiration
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: type: tests, pkg: backend, type: source

#718 fix(auth): do not check for content-digest in signature if body is empty
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
Labels: type: tests, type: source, pkg: auth

#684 fix(auth): bring in Open API schemas for IdP and RS
  packages/auth/.gitignore
  packages/auth/README.md
  packages/auth/openapi/id-provider.yaml
  packages/auth/openapi/resource-server.yaml
  packages/auth/package.json
  packages/auth/scripts/get-op-schema.sh
Labels: type: documentation, team: core, pkg: auth

#683 feat(auth): Make sig validation not processed in dev mode
  packages/auth/docker-compose.yml
  packages/auth/src/config/app.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
Labels: type: tests, type: source, pkg: auth

#706 663/mk/use open payments client
  .github/workflows/lint_test_build.yml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
  packages/backend/src/open_payments/connection/model.ts
  packages/backend/src/open_payments/connection/service.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/model.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/quote.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: type: ci, type: tests, pkg: backend, type: source

#726 chore: add validation for the OpenAPI specs to GitHub Actions
  .github/workflows/lint_test_build.yml
  packages/auth/openapi/id-provider.yaml
  packages/auth/openapi/resource-server.yaml
Labels: type: ci, pkg: auth

#719 feat(map): display account transactions
  packages/mock-account-provider/app/lib/requesters.ts
  packages/mock-account-provider/app/lib/transactions.server.ts
  packages/mock-account-provider/app/routes/accounts.$accountId.tsx
  packages/mock-account-provider/app/routes/index.tsx
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: pkg: map

#723 fix: update localenv for the latest postgres version
  infrastructure/local/dbinit.sql
  infrastructure/local/docker-compose.yml
  packages/auth/docker-compose.yml
  packages/auth/jest.setup.js
  packages/backend/docker-compose.yml
  packages/backend/jest.setup.js
Labels: pkg: backend, pkg: auth, type: localenv

#692 feat(auth): use split auth specs in app
  .github/workflows/lint_test_build.yml
  README.md
  packages/auth/.gitignore
  packages/auth/package.json
  packages/auth/scripts/get-op-schema.sh
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/index.ts
  packages/auth/src/openapi/id-provider.yaml
  packages/auth/src/openapi/resource-server.yaml
Labels: type: documentation, type: ci, type: tests, type: source, pkg: auth

#735 feat(auth): fix httpsig bypass env
  packages/auth/src/app.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
Labels: type: tests, type: source, pkg: auth

#672 feat(backend): validate httpsig on rs requests using auth implementation
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/signature.ts
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#730 chore(backend): skip balance updates on incoming rate probe packets
  packages/backend/src/connector/core/middleware/balance.ts
  packages/backend/src/connector/core/test/middleware/balance-middleware.test.ts
Labels: type: tests, pkg: backend, type: source

#741 feat(backend): bypass sig validation
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/middleware.ts
Labels: pkg: backend, type: source

#744 chore(localenv): enable BYPASS_SIGNATURE_VALIDATION
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
Labels: type: localenv

#743 chore(auth): update OpenAPI specs
  packages/auth/scripts/get-op-schema.sh
Labels: pkg: auth

#742 fix(auth): use correct port for peer-auth instance
  infrastructure/local/peer-docker-compose.yml
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.ts
Labels: type: source, pkg: auth, type: localenv

#572 feat(auth): mock idp
  infrastructure/local/database_docker-compose.yml
  packages/auth/knexfile.js
  packages/auth/package.json
  packages/auth/scripts/get-op-schema.sh
  packages/auth/seeds/development/01_grants.js
  packages/auth/seeds/development/02_accesses.js
  packages/auth/seeds/development/03_access_tokens.js
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/mock-account-provider/README.md
  packages/mock-account-provider/app/lib/apiClient.ts
  packages/mock-account-provider/app/lib/types.ts
  packages/mock-account-provider/app/lib/utils.ts
  packages/mock-account-provider/app/root.tsx
  packages/mock-account-provider/app/routes/consent-screen.tsx
  packages/mock-account-provider/app/routes/mock-idp/fake-client.ts
  packages/mock-account-provider/app/routes/mock-idp/index.tsx
  packages/mock-account-provider/app/routes/shoe-shop.tsx
  packages/mock-account-provider/package.json
  packages/mock-account-provider/public/wallet-logo.png
  packages/mock-account-provider/remix.config.js
  packages/openapi/src/middleware.ts
  pnpm-lock.yaml
Labels: type: documentation, type: tests, type: source, pkg: openapi, pkg: auth, pkg: map, type: localenv

#745 fix(backend): enable Redis stringNumbers
  packages/backend/src/index.ts
  packages/backend/src/session/service.test.ts
Labels: type: tests, pkg: backend, type: source

#746 fix(backend): don't reject ConnectionClose packet
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/connector/core/test/middleware/account-middleware.test.ts
Labels: type: tests, pkg: backend, type: source

#736 fix(map): return 200 on webhook event processing error
  packages/mock-account-provider/app/lib/webhooks.server.ts
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: pkg: map

#748 fix(backend): check that outgoing payment quote is unused
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
Labels: type: tests, pkg: backend, type: source

#739 chore(auth): query client key via payment pointer
  .github/workflows/lint_test_build.yml
  packages/auth/migrations/20220504161932_create_grants_table.js
  packages/auth/package.json
  packages/auth/scripts/get-op-schema.sh
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/client/service.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
  packages/auth/src/openapi/resource-server.yaml
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/context.ts
  packages/auth/src/tests/signature.ts
  packages/backend/package.json
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/mock-account-provider/app/routes/keys.$keyId.ts
  packages/open-payments/src/client/payment-pointer.test.ts
  packages/open-payments/src/client/payment-pointer.ts
  packages/open-payments/src/config.ts
  packages/open-payments/src/generated/auth-server-types.ts
  packages/open-payments/src/generated/resource-server-types.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
  pnpm-lock.yaml
Labels: type: ci, type: tests, pkg: backend, type: source, pkg: auth, pkg: map, pkg: open-payments

#758 feat(backend): serve jwks.json from client payment pointer
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment_pointer/middleware.test.ts
  packages/backend/src/open_payments/payment_pointer/middleware.ts
  packages/backend/src/paymentPointerKey/routes.test.ts
  packages/backend/src/paymentPointerKey/routes.ts
  packages/backend/src/tests/app.ts
  packages/open-payments/src/client/grant.ts
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/requests.ts
Labels: type: tests, pkg: backend, type: source, pkg: open-payments

#772 chore: update dependencies
  packages/backend/package.json
  packages/mock-account-provider/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: map

#769 fix(auth): add clientKeyId to context
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
Labels: type: tests, type: source, pkg: auth

#783 fix(auth): use expires_in in grant initiation response body
  packages/auth/scripts/get-op-schema.sh
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/open-payments/src/config.ts
  packages/open-payments/src/generated/auth-server-types.ts
  packages/open-payments/src/generated/resource-server-types.ts
Labels: type: tests, type: source, pkg: auth, pkg: open-payments

#788 feat(open-payments): generateJwk
  packages/open-payments/src/index.ts
  packages/open-payments/src/jwk.test.ts
  packages/open-payments/src/jwk.ts
Labels: type: tests, type: source, pkg: open-payments

#793 feat(open-payments): get outgoing payment
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/outgoing-payment.test.ts
  packages/open-payments/src/client/outgoing-payment.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
Labels: type: tests, type: source, pkg: open-payments

#777 feat(auth): validate content-digest header
  packages/auth/package.json
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/signature.ts
  packages/open-payments/package.json
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
  packages/open-payments/src/client/signatures.ts
  pnpm-lock.yaml
Labels: type: tests, type: source, pkg: auth, pkg: open-payments

#785 chore(ci): exclude CodeQL hardcoded-credentials check in tests
  .github/codeql/source.yml
  .github/codeql/tests.yml
  .github/workflows/codeql-analysis.yml
Labels: type: ci

#784 fix(openapi): resolve type errors
  packages/openapi/src/index.ts
  packages/openapi/src/middleware.ts
  packages/openapi/tsconfig.json
Labels: type: source, pkg: openapi

#804 feat(auth): add content type and length to signature headers
  packages/auth/src/tests/context.ts
  packages/auth/src/tests/signature.ts
Labels: type: source, pkg: auth
