Repository interledger/rafiki, pull requests merged in 2022-04, with the labels that each got.

#306 chore(backend): remove outgoing payment authorization and re-quote
  docs/transaction-api.md
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
Labels: type: tests, pkg: backend, type: source

#308 fix(backend): fix AppServices typos
  packages/backend/codegen.yml
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/models/incoming_payment.ts
  packages/backend/src/graphql/models/index.ts
  packages/backend/src/graphql/resolvers/account.ts
  packages/backend/src/graphql/resolvers/apiKey.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/resolvers/session.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: type: tests, pkg: backend, type: source

#313 feat(backend): add Open Payments auth middleware
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/tests/app.ts
Labels: type: tests, pkg: backend, type: source

#315 feat(auth): initialize package
  .github/labeler.yml
  .github/workflows/lint_test_build.yml
  .pnp.cjs
  .yarn/cache/@types-koa-bodyparser-npm-4.3.7-ff2df015ea-3a2cac14cb.zip
  .yarn/cache/@types-koa-npm-2.13.4-e10e6e7742-35a54e6894.zip
  .yarn/cache/@types-koa__cors-npm-3.1.1-e9d7fc72b9-7ef2c09a45.zip
  .yarn/cache/@types-koa__router-npm-8.0.11-08ca25f7c2-81f55ed772.zip
  .yarn/cache/@types-pino-npm-7.0.5-3a1468bc70-f1c59f7d9a.zip
  .yarn/cache/colorette-npm-2.0.16-7b996485d7-cd55596a3a.zip
  .yarn/cache/dateformat-npm-4.6.3-aa1a4cb7f9-c3aa0617c0.zip
  .yarn/cache/duplexify-npm-4.1.2-7f2140a477-964376c61c.zip
  .yarn/cache/joycon-npm-3.1.1-3033e0e5f4-8003c9c3fc.zip
  .yarn/cache/koa-convert-npm-2.0.0-d709eca55c-7385b33919.zip
  .yarn/cache/koa-npm-2.13.4-8aee05a69e-c9a6f9c803.zip
  .yarn/cache/on-exit-leak-free-npm-0.2.0-58bc1e8da0-d22b0f0538.zip
  .yarn/cache/pino-abstract-transport-npm-0.5.0-2cfa907a2a-c503f867de.zip
  .yarn/cache/pino-npm-7.10.0-f011a10b43-154173fc0c.zip
  .yarn/cache/pino-pretty-npm-7.6.1-21474091db-31e0e03bfd.zip
  .yarn/cache/pino-std-serializers-npm-4.0.0-391192ed8b-89d487729b.zip
  .yarn/cache/process-warning-npm-1.0.0-8b886c4a9d-c708a03241.zip
  .yarn/cache/real-require-npm-0.1.0-354945c66f-96745583ed.zip
  .yarn/cache/rfdc-npm-1.3.0-272f288ad8-fb2ba8512e.zip
  .yarn/cache/safe-stable-stringify-npm-2.3.1-5e1888c3a7-a0a0bad029.zip
  .yarn/cache/secure-json-parse-npm-2.4.0-161f104c50-efaafcaa08.zip
  .yarn/cache/sonic-boom-npm-2.7.0-25d33e5491-00dfa56fe9.zip
  .yarn/cache/split2-npm-4.1.0-1c1a4bd984-ec581597cb.zip
  .yarn/cache/stream-shift-npm-1.0.1-9526210fa7-59b82b44b2.zip
  .yarn/cache/thread-stream-npm-0.15.1-4c34f26b51-defe210d02.zip
  packages/auth/Dockerfile
  packages/auth/README.md
  packages/auth/docker-compose.yml
  packages/auth/knexfile.js
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: type: documentation, type: ci, pkg:auth

#322 fix(backend): make graphql path reachable
  packages/backend/src/app.ts
Labels: pkg: backend, type: source
