Repository interledger/rafiki, pull requests merged in 2022-10, with the labels that each got.

#652 fix: setting continueToken & continueId fields in seed script
  packages/auth/seeds/development/01_grants.js
Labels: pkg: auth

#643 refactor(auth): refactor httpsig into more specialized per-route middlewares
  packages/auth/src/app.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/signature/service.ts
  packages/auth/src/tests/app.ts
  packages/auth/src/tests/context.ts
  packages/auth/src/tests/signature.ts
Labels: type: tests, type: source, type: quality, pkg: auth

#650 feat: added createIncomingPayment functionality for GraphQL
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source, pkg: map

#660 feat(MAP): support for incoming payment expiry webhook
  docs/transaction-api.md
  packages/mock-account-provider/app/lib/accounts.server.ts
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: pkg: map

#658 chore(backend): don't resolve local receiver over http
  packages/backend/src/index.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
Labels: type: tests, pkg: backend, type: source

#670 fix: provide nonce in interaction redirect
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
Labels: type: tests, type: source, pkg: auth

#674 chore(docker): pin base image to node 16.17.1
  packages/auth/Dockerfile
  packages/backend/Dockerfile
Labels: pkg: backend, pkg: auth

#675 chore(docs): update Contributor Guidelines for Hacktoberfest
  .github/contributing.md
  README.md
Labels: type: documentation, type: ci

#685 feat(tests): replace privileged mode with --cap-add IPC_LOCK for TB
  packages/auth/package.json
  packages/backend/jest.setup.js
  packages/backend/package.json
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, pkg: auth

#669 feat(open-payments): adding open-payments package
  .github/labeler.yml
  .github/workflows/lint_test_build.yml
  packages/open-payments/jest.config.js
  packages/open-payments/package.json
  packages/open-payments/scripts/generate-types.ts
  packages/open-payments/src/client.test.ts
  packages/open-payments/src/client.ts
  packages/open-payments/src/config.ts
  packages/open-payments/src/generated/types.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/types.ts
  packages/open-payments/tsconfig.json
  pnpm-lock.yaml
Labels: type: ci, type: tests

#647 chore(backend): match subresources by payment pointer
  packages/backend/migrations/20220819162331_create_quotes_table.js
  packages/backend/src/app.ts
  packages/backend/src/connector/core/factories/rafiki-services.ts
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/shared/baseModel.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/shared/routes.test.ts
  packages/backend/src/spsp/routes.test.ts
  packages/backend/src/tests/grant.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#691 fix(backend): do not import (nonexistent) test code
  packages/backend/package.json
  packages/backend/src/open_payments/client/service.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#679 663/mk/open payments validate
  .github/workflows/lint_test_build.yml
  packages/open-payments/package.json
  packages/open-payments/src/client.test.ts
  packages/open-payments/src/client.ts
  packages/open-payments/src/client/ilp-stream-connection.test.ts
  packages/open-payments/src/client/ilp-stream-connection.ts
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/incoming-payment.ts
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
  packages/open-payments/src/config.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
  packages/open-payments/tsconfig.json
  packages/openapi/README.md
  pnpm-lock.yaml
Labels: type: documentation, type: ci, type: tests, type: source, pkg: openapi, pkg: open-payments

#638 feat(backend): provision private key
  packages/backend/.gitignore
  packages/backend/src/config/app.test.ts
  packages/backend/src/config/app.ts
Labels: type: tests, pkg: backend, type: source

#671 feat(auth): handle grant choice params correctly
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
Labels: type: tests, type: source, pkg: auth

#696 fix(backend): don't assign undefined to ilpStreamConnection
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
Labels: type: tests, pkg: backend, type: source

#694 feat(map): add balances endpoint and display accounts with balances on index
  infrastructure/local/peer-docker-compose.yml
  packages/auth/seeds/development/02_accesses.js
  packages/mock-account-provider/app/lib/accounts.server.ts
  packages/mock-account-provider/app/lib/balances.server.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/app/routes/balances.ts
  packages/mock-account-provider/app/routes/index.tsx
  packages/mock-account-provider/app/styles/table.css
Labels: pkg: auth, pkg: map, type: localenv

#709 fix(openapi): guard response body type
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/client/service.ts
  packages/open-payments/src/client/requests.ts
  packages/openapi/src/index.ts
Labels: type: tests, pkg: backend, type: source, pkg: openapi, pkg: open-payments

#711 fix(backend): store grantId on create quote route
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
Labels: type: tests, pkg: backend, type: source

#704 fix(map): cast all amount values to bigint
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: pkg: map

#676 fix: only store grant and client IDs on create routes
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
Labels: type: tests, pkg: backend, type: source

#708 fix(auth): use milliseconds when determining access token expiration
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
Labels: type: tests, type: source, pkg: auth

#705 663/mk/update response validation
  packages/open-payments/package.json
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/incoming-payment.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
  packages/openapi/README.md
  pnpm-lock.yaml
  tsconfig.json
Labels: type: documentation, type: tests, type: source, pkg: openapi, pkg: open-payments
