Repository interledger/rafiki, pull requests merged in 2022-08, with the labels that each got.

#404 feat(auth): refuse authorization interaction
  packages/auth/src/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/tests/context.ts
Labels: type: tests, type: source, pkg: auth

#388 feat(backend): periodically clean up expired rows
  packages/auth/migrations/20220504163005_create_access_token_table.js
  packages/auth/src/accessToken/model.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
Labels: type: source, pkg: auth

#421 fix(tests): add withPrivilegedMode for tigerbeetle containers in test
  packages/backend/jest.setup.js
Labels: pkg: backend

#425 chore: add a ci status check to end of workflows
  .github/workflows/lint_test_build.yml
  .github/workflows/main.yml
Labels: type: ci

#428 add arm64 docker build
  .github/workflows/docker.yml
  .yarn/plugins/@yarnpkg/plugin-docker-build.cjs
  .yarnrc.yml
  packages/backend/Dockerfile
Labels: type: ci, pkg: backend

#430 feat(auth): add seed files for grant, access, access token
  packages/auth/knexfile.js
  packages/auth/seeds/development/01_grants.js
  packages/auth/seeds/development/02_accesses.js
  packages/auth/seeds/development/03_access_tokens.js
Labels: pkg: auth

#435 remove tb-init container
  packages/rates/package.json
  rafiki-docker-compose.yml
  yarn.lock
Labels: pkg: rates

#438 feat: add rates to docker-compose
  packages/rates/Dockerfile
  rafiki-docker-compose.yml
Labels: pkg: rates

#448 fix: change pnpm docs to not show -F since it does not work
  packages/auth/Dockerfile
  packages/auth/package.json
  packages/backend/Dockerfile
  packages/backend/README.md
  packages/backend/package.json
  packages/mock-account-provider/Dockerfile
  packages/openapi/README.md
  packages/rates/Dockerfile
Labels: type: documentation, pkg: backend, pkg: rates, pkg: openapi, pkg: auth

#451 feat(infra): local deploy 2 rafiki instances
  README.md
  dbinit.sql
  infrastructure/local/dbinit.sql
  infrastructure/local/docker-compose.yml
  infrastructure/local/local-override.yml
  infrastructure/local/peer-docker-compose.yml
  package.json
  packages/auth/seeds/development/01_grants.js
Labels: type: documentation, pkg: auth

#437 fix meeting time
  README.md
Labels: type: documentation

#457 chore(testing): test optimizations
  .prettierrc.yml
  jest.config.base.js
  package.json
  packages/auth/src/access/model.ts
  packages/auth/src/accessToken/model.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/index.ts
  packages/backend/jest.setup.js
  packages/backend/src/connector/core/test/middleware/reduce-expiry.test.ts
  packages/backend/src/httpToken/model.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, pkg: auth

#459 chore(deps): update more deps
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend

#414 fix(backend): properly stringify webhook signature payload
  packages/backend/package.json
  packages/backend/src/webhook/service.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#470 chore(deps): upgrade knex and objection
  packages/auth/jest.setup.js
  packages/auth/package.json
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/index.ts
  packages/auth/src/tests/app.ts
  packages/auth/src/tests/tableManager.ts
  packages/backend/jest.setup.js
  packages/backend/package.json
  packages/backend/src/accounting/service.test.ts
  packages/backend/src/apiKey/service.test.ts
  packages/backend/src/app.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/apiKey.test.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/session.test.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/account/routes.test.ts
  packages/backend/src/open_payments/account/service.test.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/runner.ts
  packages/backend/src/scheduler.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/spsp/routes.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/graphileDb.ts
  packages/backend/src/tests/tableManager.ts
  packages/backend/src/webhook/service.test.ts
  packages/mock-account-provider/package.json
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, pkg: auth

#473 fix: correct tsc build order, add clean to rates
  packages/rates/package.json
  tsconfig.json
Labels: pkg: rates

#462 refactor(backend): separate admin and open payments server
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/resolvers/index.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#475 fix(auth): prevent root route from skipping its mounting
  packages/auth/src/access/model.ts
  packages/auth/src/accessToken/model.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/model.ts
  packages/backend/src/httpToken/model.ts
Labels: pkg: backend, type: source, pkg: auth

#472 chore(backend): remove graphile
  packages/backend/package.json
  packages/backend/src/accounting/service.test.ts
  packages/backend/src/apiKey/service.test.ts
  packages/backend/src/app.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/index.ts
  packages/backend/src/messaging/graphileProducer.ts
  packages/backend/src/messaging/graphileWorker.ts
  packages/backend/src/messaging/messageProducer.ts
  packages/backend/src/open_payments/account/routes.test.ts
  packages/backend/src/open_payments/account/service.test.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/runner.ts
  packages/backend/src/scheduler.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/spsp/routes.test.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#474 chore(deps): upgrade redis
  packages/backend/package.json
  packages/backend/src/connector/core/factories/rafiki-services.ts
  packages/backend/src/connector/index.ts
  packages/backend/src/index.ts
  packages/backend/src/session/service.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#476 Peering docs
  README.md
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  infrastructure/local/peer-setup.md
  package.json
  packages/auth/knexfile.js
  packages/auth/seeds/development/01_grants.js
  packages/auth/seeds/development/02_accesses.js
  packages/mock-account-provider/src/app.ts
Labels: type: documentation, pkg: auth

#499 chore(deps): remove got dependency
  packages/backend/package.json
  packages/backend/src/graphql/resolvers/index.test.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#366 chore(backend): validate outgoing payment grant limits
  packages/backend/migrations/20220414142553_create_outgoing_payments_table.js
  packages/backend/migrations/20220819162330_create_grants_table.js
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#504 chore(deps): upgrade @swc/core pino @koar/cores eslint-plugin+parser
  package.json
  packages/auth/package.json
  packages/backend/package.json
  packages/mock-account-provider/package.json
  packages/rates/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: rates, pkg: auth

#442 feat(auth): distributed key verification
  .github/workflows/lint_test_build.yml
  .lintstagedrc.js
  packages/auth/package.json
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/client/service.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  packages/backend/migrations/20220818141305_create_clients_table.js
  packages/backend/migrations/20220819120358_create_client_keys_table.js
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/clientKeys/model.ts
  packages/backend/src/clientKeys/routes.test.ts
  packages/backend/src/clientKeys/routes.ts
  packages/backend/src/clientKeys/service.test.ts
  packages/backend/src/clientKeys/service.ts
  packages/backend/src/clients/model.ts
  packages/backend/src/clients/service.test.ts
  packages/backend/src/clients/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/clientKeys.test.ts
  packages/backend/src/graphql/resolvers/clientKeys.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/tests/graphileDb.ts
  pnpm-lock.yaml
Labels: type: ci, type: tests, pkg: backend, type: source, pkg: auth

#509 chore: deprecate rates package
  .github/labeler.yml
  .github/workflows/docker-rates.yml
  .github/workflows/lint_test_build.yml
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  packages/rates/.gitignore
  packages/rates/Dockerfile
  packages/rates/README.md
  packages/rates/jest.config.js
  packages/rates/package.json
  packages/rates/src/mocks.ts
  packages/rates/src/server/config.ts
  packages/rates/src/server/ecb/service.test.ts
  packages/rates/src/server/ecb/service.ts
  packages/rates/src/server/ecb/test-eurofxref-daily.json
  packages/rates/src/server/ecb/test-eurofxref-daily.xml
  packages/rates/src/server/ecb/util.test.ts
  packages/rates/src/server/ecb/util.ts
  packages/rates/src/server/fixtures/ecb-eurofxref-daily.xml
  packages/rates/src/server/http/service.test.ts
  packages/rates/src/server/http/service.ts
  packages/rates/src/server/index.test.ts
  packages/rates/src/server/index.ts
  packages/rates/src/server/logger.ts
  packages/rates/src/server/xrp/service.test.ts
  packages/rates/src/server/xrp/service.ts
  packages/rates/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: type: documentation, type: ci, type: tests, pkg: rates, type: source

#517 refactor(backend): koa server create function
  packages/backend/src/app.ts
Labels: pkg: backend, type: source

#511 chore: remove codacy github action
  .github/workflows/codacy-analysis.yml
Labels: type: ci

#508 chore(deps): upgrade testcontainers
  packages/auth/package.json
  packages/backend/package.json
  packages/mock-account-provider/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth

#522 chore: add timesouts for github actions workflows
  .github/workflows/docker-auth.yml
  .github/workflows/docker-backend.yml
  .github/workflows/lint_test_build.yml
Labels: type: ci

#520 feat(map): move MAP to remix
  .eslintignore
  .lintstagedrc.js
  .prettierignore
  packages/mock-account-provider/.eslintrc
  packages/mock-account-provider/.gitignore
  packages/mock-account-provider/.prettierrc.yml
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/README.md
  packages/mock-account-provider/app/entry.client.tsx
  packages/mock-account-provider/app/entry.server.tsx
  packages/mock-account-provider/app/root.tsx
  packages/mock-account-provider/app/routes/healthz.ts
  packages/mock-account-provider/app/routes/index.tsx
  packages/mock-account-provider/app/routes/keys.$keyId.ts
  packages/mock-account-provider/app/routes/quotes.ts
  packages/mock-account-provider/app/routes/webhooks.ts
  packages/mock-account-provider/package.json
  packages/mock-account-provider/public/favicon.ico
  packages/mock-account-provider/remix.config.js
  packages/mock-account-provider/remix.env.d.ts
  packages/mock-account-provider/src/app.ts
  packages/mock-account-provider/src/config/app.ts
  packages/mock-account-provider/src/index.ts
  packages/mock-account-provider/tsconfig.json
  pnpm-lock.yaml
Labels: type: documentation

#514 feat(auth): add client id to introspection response
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/config/app.ts
Labels: type: tests, type: source, pkg: auth

#524 fix(docs): fix README.md typo
  README.md
Labels: type: documentation

#523 chore: upgrade codeql version
  .github/workflows/codeql-analysis.yml
Labels: type: ci

#526 chore: add frozen lockfile
  .github/workflows/rafiki/env-setup/action.yml
Labels: type: ci

#455 feat(auth): match dereferenced name with spec name
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
Labels: type: tests, type: source, pkg: auth

#502 feat: add seed file framework
  packages/mock-account-provider/README.md
  packages/mock-account-provider/package.json
  packages/mock-account-provider/seed.example.yml
  packages/mock-account-provider/src/parse_config.ts
  packages/mock-account-provider/src/requesters.ts
  packages/mock-account-provider/src/run_seed.ts
  pnpm-lock.yaml
Labels: type: documentation

#532 feat(migrate): exponentially retry
  packages/auth/src/index.ts
  packages/backend/src/index.ts
Labels: pkg: backend, type: source, pkg: auth

#534 feat(backend): graphql get client
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/clientKeys.test.ts
  packages/backend/src/graphql/resolvers/clientKeys.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
Labels: type: tests, pkg: backend, type: source

#531 feat: cleanup add liquidity
  packages/backend/codegen.yml
  packages/mock-account-provider/app/entry.server.tsx
  packages/mock-account-provider/generated/graphql.ts
  packages/mock-account-provider/package.json
  packages/mock-account-provider/seed.example.yml
  packages/mock-account-provider/src/apolloClient.ts
  packages/mock-account-provider/src/parse_config.ts
  packages/mock-account-provider/src/requesters.ts
  packages/mock-account-provider/src/run_seed.ts
  pnpm-lock.yaml
Labels: pkg: backend

#387 feat(auth): httpsig request validation
  packages/auth/migrations/20220504163005_create_access_token_table.js
  packages/auth/package.json
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/client/service.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/service.test.ts
  packages/auth/src/signature/service.ts
  packages/auth/src/tests/context.ts
  packages/auth/src/tests/signature.ts
  pnpm-lock.yaml
Labels: type: tests, type: source, pkg: auth

#538 feat(auth): add new APIs to router
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
Labels: type: tests, type: source, pkg: auth

#539 fix: update local docker compose
  infrastructure/local/build-override.yml
  infrastructure/local/docker-compose.yml
  infrastructure/local/local-override.yml
  infrastructure/local/peer-docker-compose.yml
  package.json
  packages/auth/seeds/development/01_grants.js
  packages/auth/seeds/development/02_accesses.js
  packages/auth/seeds/development/03_access_tokens.js
  packages/backend/src/open_payments/payment_pointer/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/app/routes/keys.$keyId.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#545 chore: remove lint-staged commit hook ¯\_(ツ)_/¯
  .github/workflows/lint_test_build.yml
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
Labels: type: documentation, type: ci

#543 fix: quote flow for local docker compose
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/connector/core/test/middleware/account-middleware.test.ts
  packages/mock-account-provider/app/routes/prices.ts
  packages/mock-account-provider/app/routes/quotes.ts
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: type: tests, pkg: backend, type: source

#548 feat(MAP): run seed on startup and populate in memory account values
  packages/mock-account-provider/README.md
  packages/mock-account-provider/app/entry.server.tsx
  packages/mock-account-provider/app/lib/accounts.server.ts
  packages/mock-account-provider/app/lib/apolloClient.ts
  packages/mock-account-provider/app/lib/parse_config.ts
  packages/mock-account-provider/app/lib/requesters.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/package.json
  pnpm-lock.yaml
Labels: type: documentation

#541 chore(deps): upgrade graphql and all associated libraries
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/scalars/BigInt.test.ts
  packages/mock-account-provider/generated/graphql.ts
  packages/mock-account-provider/package.json
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#544 feat(backend): use payment pointer url in Open Payments
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment_pointer/middleware.test.ts
  packages/backend/src/open_payments/payment_pointer/middleware.ts
  packages/backend/src/open_payments/payment_pointer/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/shared/routes.test.ts
  packages/backend/src/spsp/routes.test.ts
  packages/backend/src/spsp/routes.ts
  packages/backend/src/tests/context.ts
  packages/backend/src/tests/paymentPointer.ts
  packages/backend/src/tests/quote.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#549 refactor(gnap): remove client details from jwk
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/client/service.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/signature/service.test.ts
  packages/auth/src/signature/service.ts
  packages/auth/src/tests/signature.ts
  packages/backend/src/clientKeys/routes.test.ts
  packages/backend/src/clientKeys/routes.ts
  packages/backend/src/clientKeys/service.test.ts
  packages/backend/src/clientKeys/service.ts
  packages/backend/src/index.ts
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#568 fix(auth): await next() calls in httpsig middleware
  packages/auth/src/signature/service.ts
Labels: type: source, pkg: auth

#566 feat(backend): logging
  packages/backend/src/index.ts
Labels: pkg: backend, type: source

#567 fix(backend): add payment pointer route last
  packages/backend/src/app.ts
Labels: pkg: backend, type: source

#553 feat(auth): auth server api for idp consent screen, update stuff to match openapi spec
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/types.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/signature/service.test.ts
Labels: type: tests, type: source, pkg: auth

#536 feat(backend): allow revoking client keys
  packages/backend/src/clientKeys/service.test.ts
  packages/backend/src/clientKeys/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/clientKeys.test.ts
  packages/backend/src/graphql/resolvers/clientKeys.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source

#579 chore(auth): make introspection httpsig validation optional
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
Labels: type: source, pkg: auth
