Repository interledger/rafiki, pull requests merged in 2022-06, with the labels that each got.

#344 docs(backend): added fix for intel macbooks to run tigerbeetle
  packages/backend/README.md
Labels: type: documentation, pkg: backend

#359 chore: update tigerbeetle version
  packages/backend/README.md
  packages/backend/jest.setup.js
  packages/backend/src/tests/tigerbeetle.ts
Labels: type: tests, pkg: backend, type: source

#348 feat(auth): token introspection
  packages/auth/migrations/20220504161932_create_grants_table.js
  packages/auth/src/access/model.ts
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/client/service.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
Labels: type: tests, type: source, pkg: auth

#350 chore(backend): add peer to outgoing payment webhook events
  docs/transaction-api.md
  packages/backend/migrations/20220414142553_create_outgoing_payments_table.js
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/tests/outgoingPayment.ts
Labels: type: tests, pkg: backend, type: source

#356 chore(backend): add receiver to quote/outgoing payment
  docs/transaction-api.md
  packages/backend/migrations/20220406190843_create_quotes_table.js
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/shared/baseModel.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#363 chore(backend): replace incoming payment state with completed
  .pnp.cjs
  .yarn/cache/@interledger-pay-npm-0.4.0-alpha.3-ed8bc62129-c1f3ff846d.zip
  .yarn/cache/@interledger-pay-npm-0.4.0-alpha.6-23cc0d889f-2a45860c0f.zip
  .yarn/cache/@interledger-stream-receiver-npm-0.2.2-48481babb9-d37e62f9ed.zip
  .yarn/cache/@interledger-stream-receiver-npm-0.3.3-alpha.1-b0813d2228-7da238dd7d.zip
  .yarn/cache/ilp-logger-npm-1.4.5-alpha.1-4e689891cc-ff7cdaa98e.zip
  .yarn/cache/ilp-packet-npm-3.1.4-alpha.1-53014178bf-c2f233b96f.zip
  .yarn/cache/ilp-protocol-stream-npm-2.7.2-alpha.0-4bc7861dde-b27a13cf00.zip
  .yarn/cache/oer-utils-npm-5.1.3-alpha.1-eda0cd2d1e-279b8b2ef4.zip
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/tests/app.ts
  yarn.lock
Labels: type: tests, pkg: backend, type: source

#352 chore(backend): validate token introspection response
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/tests/app.ts
  packages/openapi/src/index.ts
Labels: type: tests, pkg: backend, type: source, pkg: openapi

#360 feat(auth): access token revocation
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
Labels: type: tests, type: source, pkg: auth

#377 fix: use node-modules linker, not pnp
  .github/workflows/lint_test_build.yml
  .gitignore
  .pnp.cjs
  .yarnrc.yml
  packages/auth/Dockerfile
  packages/auth/jest.config.js
  packages/backend/Dockerfile
  packages/backend/jest.config.js
  packages/backend/src/tests/context.ts
  packages/openapi/jest.config.js
  packages/openapi/package.json
  packages/openapi/src/middleware.test.ts
  packages/rates/jest.config.js
Labels: type: ci, type: tests, pkg: backend, pkg: rates, type: source, pkg: openapi, pkg: auth

#386 fix: add openapi build to main docker build
  .github/workflows/docker.yml
Labels: type: ci
