Repository interledger/rafiki, pull requests merged in 2022-12, with the labels that each got.

#800 chore(backend): replace GrantReference with OutgoingPaymentGrant
  packages/backend/migrations/20220819162330_create_grant_references_table.js
  packages/backend/migrations/20220819162331_create_quotes_table.js
  packages/backend/migrations/20220908085845_create_incoming_payments_table.js
  packages/backend/migrations/20221129213740_create_outgoing_payment_grants_table.js
  packages/backend/migrations/20221129213751_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/grantReference/model.ts
  packages/backend/src/open_payments/grantReference/service.test.ts
  packages/backend/src/open_payments/grantReference/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/grant.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#791 Replace usages of assert outside of tests for error throws
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/utils.ts
  packages/backend/src/app.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/peer/service.ts
  packages/backend/src/tests/incomingPayment.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/paymentPointer.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/webhook/service.ts
  packages/mock-account-provider/app/lib/accounts.server.ts
  packages/openapi/src/index.ts
Labels: pkg: backend, type: source, pkg: openapi, pkg: map

#822 feat(auth): add read-all and list-all actions
  packages/auth/src/access/types.ts
Labels: type: source, pkg: auth

#779 feat(backend): request grant to query incoming payment receiver
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  packages/auth/migrations/20220504163024_create_accesses_table.js
  packages/auth/src/access/model.ts
  packages/auth/src/access/types.ts
  packages/auth/src/grant/service.test.ts
  packages/backend/migrations/20221005181411_create_auth_servers_table.js
  packages/backend/migrations/20221012013413_create_grants_table.js
  packages/backend/migrations/20221012205150_create_quotes_table.js
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/authServer/model.ts
  packages/backend/src/open_payments/authServer/service.test.ts
  packages/backend/src/open_payments/authServer/service.ts
  packages/backend/src/open_payments/grant/model.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/paymentPointerKey/routes.test.ts
  packages/backend/src/paymentPointerKey/routes.ts
  packages/open-payments/src/client/grant.ts
  packages/open-payments/src/index.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth, type: localenv, pkg: open-payments

#828 feat(open payments): continue grant added
  packages/open-payments/src/client/grant.test.ts
  packages/open-payments/src/client/grant.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
Labels: type: tests, type: source, pkg: open-payments

#826 chore(ci): fix CI warnings
  .github/workflows/docker-auth.yml
  .github/workflows/docker-backend.yml
  .github/workflows/lint_test_build.yml
  .github/workflows/rafiki/env-setup/action.yml
Labels: type: ci

#829 feat(open-payments): add get quote route
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/quote.test.ts
  packages/open-payments/src/client/quote.ts
  packages/open-payments/src/types.ts
Labels: type: tests, type: source, pkg: open-payments

#823 (open-payments): list outgoing payments
  packages/open-payments/src/client/outgoing-payment.test.ts
  packages/open-payments/src/client/outgoing-payment.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
Labels: type: tests, type: source, pkg: open-payments

#821 feat(auth): add typings to request contexts & bodies
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/openapi/id-provider.yaml
  packages/openapi/src/middleware.ts
Labels: type: source, pkg: openapi, pkg: auth

#797 feat(http-signature-utils): move http signature related code to this package
  .eslintignore
  .github/workflows/lint_test_build.yml
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  infrastructure/local/peer-private-key.pem
  infrastructure/local/private-key.pem
  packages/auth/package.json
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/client/service.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/context.ts
  packages/auth/src/tests/signature.ts
  packages/backend/package.json
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/paymentPointerKey/model.ts
  packages/backend/src/paymentPointerKey/routes.test.ts
  packages/backend/src/paymentPointerKey/routes.ts
  packages/backend/src/paymentPointerKey/service.ts
  packages/http-signature-utils/Dockerfile
  packages/http-signature-utils/README.md
  packages/http-signature-utils/jest.config.js
  packages/http-signature-utils/package.json
  packages/http-signature-utils/postman-scripts/preRequestSignatures.js
  packages/http-signature-utils/postman-scripts/preRequestSignaturesGrantRequest.js
  packages/http-signature-utils/src/app.ts
  packages/http-signature-utils/src/index.ts
  packages/http-signature-utils/src/test-utils/keys.ts
  packages/http-signature-utils/src/utils/headers.ts
  packages/http-signature-utils/src/utils/jwk.test.ts
  packages/http-signature-utils/src/utils/jwk.ts
  packages/http-signature-utils/src/utils/key.test.ts
  packages/http-signature-utils/src/utils/key.ts
  packages/http-signature-utils/src/utils/signatures.ts
  packages/http-signature-utils/src/utils/validation.test.ts
  packages/http-signature-utils/src/utils/validation.ts
  packages/http-signature-utils/tsconfig.json
  packages/mock-account-provider/app/lib/apolloClient.ts
  packages/mock-account-provider/app/lib/crypto.server.ts
  packages/mock-account-provider/app/lib/parse_config.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/app/routes/quotes.ts
  packages/mock-account-provider/package.json
  packages/open-payments/package.json
  packages/open-payments/src/client/requests.ts
  packages/open-payments/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: type: documentation, type: ci, type: tests, pkg: backend, type: source, pkg: auth, pkg: map, type: localenv, pkg: open-payments

#850 feat(auth): use ctx.throw, add 40X responses to idp spec
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/openapi/id-provider.yaml
Labels: type: tests, type: source, pkg: auth

#843 Fix/issue 813
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/token.test.ts
  packages/open-payments/src/client/token.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
Labels: type: tests, type: source, pkg: open-payments

#848 812/mk/cancel grant
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/open-payments/src/client/grant.test.ts
  packages/open-payments/src/client/grant.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
Labels: type: tests, pkg: backend, type: source, pkg: open-payments

#846 chore(open-payments): fetch OpenAPI specs locally
  .github/workflows/lint_test_build.yml
  README.md
  package.json
  packages/auth/.gitignore
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/scripts/get-op-schema.sh
  packages/auth/src/index.ts
  packages/auth/src/openapi/auth-server.yaml
  packages/auth/src/openapi/schemas.yaml
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/openapi/resource-server.yaml
  packages/backend/src/openapi/schemas.yaml
  packages/open-payments/package.json
  packages/open-payments/scripts/fetch-schemas.sh
  packages/open-payments/scripts/generate-types.ts
  packages/open-payments/src/client/grant.test.ts
  packages/open-payments/src/client/ilp-stream-connection.test.ts
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/outgoing-payment.test.ts
  packages/open-payments/src/client/payment-pointer.test.ts
  packages/open-payments/src/client/quote.test.ts
  packages/open-payments/src/client/token.test.ts
  packages/open-payments/src/config.ts
  packages/open-payments/src/openapi/auth-server.yaml
  packages/open-payments/src/openapi/generated/auth-server-types.ts
  packages/open-payments/src/openapi/generated/resource-server-types.ts
  packages/open-payments/src/openapi/resource-server.yaml
  packages/open-payments/src/openapi/schemas.yaml
  packages/open-payments/src/types.ts
Labels: type: documentation, type: ci, type: tests, pkg: backend, type: source, pkg: auth, pkg: open-payments

#861 chore(http-signature-utils): match JWK to Open Payments definition
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/openapi/token-introspection.yaml
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/tests/signature.ts
  packages/backend/migrations/20220819120358_create_payment_pointer_keys_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/paymentPointerKey.test.ts
  packages/backend/src/graphql/resolvers/paymentPointerKey.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/payment_pointer/key/model.ts
  packages/backend/src/open_payments/payment_pointer/key/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/key/routes.ts
  packages/backend/src/open_payments/payment_pointer/key/service.test.ts
  packages/backend/src/open_payments/payment_pointer/key/service.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/paymentPointerKey/model.ts
  packages/http-signature-utils/src/test-utils/keys.ts
  packages/http-signature-utils/src/utils/jwk.ts
  packages/http-signature-utils/src/utils/validation.test.ts
  packages/http-signature-utils/src/utils/validation.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: map

#874 feat(remove lodash): issue 820
  packages/backend/package.json
  packages/backend/src/connector/ilp-routing/lib/prefix-map.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/package.json
  pnpm-lock.yaml
Labels: pkg: backend, type: source, pkg: map

#836 chore(backend): clean up auth service + middleware
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/tests/context.ts
Labels: type: tests, pkg: backend, type: source

#884 fix(auth): test that client info is passed along when interaction is started
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/tests/context.ts
Labels: type: tests, type: source, pkg: auth

#860 feat(auth): check that token value matches during rotation & revocation
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
Labels: type: tests, type: source, pkg: auth

#914 feat(open-payments): add revoketoken function
  packages/open-payments/src/client/token.test.ts
  packages/open-payments/src/client/token.ts
Labels: type: tests, type: source, pkg: open-payments

#893 Bump `@types/koa-bodyparser`
  .github/labeler.yml
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.ts
  packages/backend/package.json
  packages/http-signature-utils/package.json
  packages/http-signature-utils/src/app.ts
  packages/http-signature-utils/src/utils/headers.ts
  packages/http-signature-utils/src/utils/jwk.ts
  packages/http-signature-utils/src/utils/signatures.ts
  packages/http-signature-utils/src/utils/validation.ts
  packages/http-signature-utils/tsconfig.json
  pnpm-lock.yaml
Labels: type: ci, pkg: backend, type: source, pkg: auth, pkg: http-signature-utils
