Repository interledger/rafiki, pull requests merged in 2022-09, with the labels that each got.

#575 chore: pin redis to specific version
  README.md
  infrastructure/local/docker-compose.yml
  packages/auth/docker-compose.yml
  packages/backend/docker-compose.yml
  packages/backend/jest.setup.js
Labels: type: documentation, pkg: backend, pkg: auth

#592 chore(backend): remove list quotes endpoint
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
Labels: type: tests, pkg: backend, type: source

#591 chore(backend): clean up incoming payment JSON conversion
  packages/backend/src/apiKey/service.ts
  packages/backend/src/connector/core/lib/crypto.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/session/service.ts
  packages/backend/src/shared/baseModel.ts
Labels: type: tests, pkg: backend, type: source

#595 feat(backend): add Open Payments client service
  docs/transaction-api.md
  packages/backend/migrations/20220228162503_create_incoming_payments_table.js
  packages/backend/package.json
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/connection/routes.ts
  packages/backend/src/open_payments/connection/service.test.ts
  packages/backend/src/open_payments/connection/service.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/errors.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/shared/receiver.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/outgoingPayment.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#604 chore(backend): delay payment pointer tigerbeetle account creation
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/connector/core/test/middleware/account-middleware.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/payment_pointer.test.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/backend/src/tests/paymentPointer.ts
Labels: type: tests, pkg: backend, type: source

#612 fix(auth): include required identifer in seed grant
  packages/auth/seeds/development/02_accesses.js
Labels: pkg: auth

#535 feat(backend): add clientId to OP resources
  packages/backend/migrations/20220819162330_create_grant_references_table.js
  packages/backend/migrations/20220819162330_create_grants_table.js
  packages/backend/migrations/20220908085845_create_incoming_payments_table.js
  packages/backend/migrations/20220908085854_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/grantReference/model.ts
  packages/backend/src/open_payments/grantReference/service.test.ts
  packages/backend/src/open_payments/grantReference/service.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/shared/baseModel.ts
  packages/backend/src/shared/routes.test.ts
  packages/backend/src/tests/app.ts
Labels: type: tests, pkg: backend, type: source

#617 fix(localenv): fix INTROSPECTION_HTTPSIG boolean definition in yaml
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
Labels: localenv

#619 fix(localenv): fix peer backend seed hostname
  infrastructure/local/seed.peer.yml
Labels: localenv

#622 chore(ci): add map and localenv to labeler
  .github/labeler.yml
Labels: type: ci

#613 feat(auth): refactor route mounting to be more easily readable
  packages/auth/src/app.ts
Labels: type: source, pkg: auth

#629 fix(backend): commit grant reference insert before calling next
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
Labels: type: tests, pkg: backend, type: source

#627 fix(backend): validate account provider-adjusted quote amounts
  infrastructure/local/seed.peer.yml
  infrastructure/local/seed.primary.yml
  packages/backend/src/open_payments/amount.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/mock-account-provider/app/routes/quotes.ts
  packages/mock-account-provider/seed.example.yml
  packages/openapi/src/index.ts
  packages/openapi/src/middleware.test.ts
Labels: type: tests, pkg: backend, type: source, pkg: openapi, pkg: map, type: localenv

#632 fix(map): clean up webhook parsing
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: pkg: map

#603 feat(backend): support Open Payments connection as receiver
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/connection/service.test.ts
  packages/backend/src/open_payments/connection/service.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/shared/receiver.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#634 fix(backend): base amount to deliver calculation on quote
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: type: tests, pkg: backend, type: source

#588 feat(auth): allow non-interactive grants for incoming payments
  packages/auth/migrations/20220504161932_create_grants_table.js
  packages/auth/src/access/types.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
Labels: type: tests, type: source, pkg: auth
