Repository interledger/rafiki, pull requests merged in 2023-09, with the labels that each got.

#1805 feat: get peering details
  packages/backend/src/app.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/auto-peering/routes.test.ts
  packages/backend/src/auto-peering/routes.ts
  packages/backend/src/auto-peering/service.test.ts
  packages/backend/src/auto-peering/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
Labels: type: tests, pkg: backend, type: source

#1812 chore: build images once
  localenv/happy-life-bank/docker-compose.yml
Labels: type: localenv

#1807 chore(ci): automating the weekly sync discussion
  .github/workflows/create_weekly_sync.yml
Labels: type: ci

#1504 feat(frontend): add webhook events page
  packages/frontend/app/components/Filters.tsx
  packages/frontend/app/components/Sidebar.tsx
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/webhook.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/webhooks.data.tsx
  packages/frontend/app/routes/webhooks.tsx
  packages/frontend/app/shared/enums.ts
  packages/frontend/app/shared/utils.ts
Labels: pkg: frontend

#1806 feat(auth): change sendAmount to debitAmount
  openapi/auth-server.yaml
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/types.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/schema.graphql
  packages/auth/src/signature/middleware.test.ts
  packages/documentation/src/schema-dumps/auth_raw_schema.md
  packages/token-introspection/src/openapi/token-introspection.yaml
  postman/collections/Interledger.json
Labels: type: tests, type: source, pkg: auth, pkg: documentation, type: documentation

#1837 feat: fetching retrieves non-revoked keys for a payment pointer
  packages/backend/src/open_payments/payment_pointer/key/service.test.ts
  packages/backend/src/open_payments/payment_pointer/key/service.ts
Labels: type: tests, pkg: backend, type: source

#1813 refactor: update shutdown process
  packages/auth/src/app.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/tests/context.ts
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/shared/ilp_plugin.ts
  packages/backend/src/tests/context.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#1836 fix(docs): Update readme links
  README.md
  localenv/README.md
Labels: type: localenv, type: documentation

#1782 feat: liquidity webhooks
  localenv/cloud-nine-wallet/seed.yml
  localenv/happy-life-bank/seed.yml
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/app/routes/webhooks.ts
  localenv/mock-account-servicing-entity/generated/graphql.ts
  localenv/mock-account-servicing-entity/seed.example.yml
  packages/backend/migrations/20230912091917_add_liquidityThreshold_assets.js
  packages/backend/migrations/20230912091925_add_liquidityThreshold_peers.js
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/asset/model.test.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/openapi/webhooks.yaml
  packages/backend/src/peer/model.test.ts
  packages/backend/src/peer/model.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
  packages/backend/src/tests/peer.ts
  packages/backend/src/webhook/model.ts
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/event-handlers.md
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/documentation/src/schema-dumps/backend_raw_schema.md
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/shared/enums.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#1795 chore: docker builds optimizations
  .dockerignore
  .github/workflows/rafiki/env-setup/action.yml
  localenv/local-http-signatures/Dockerfile
  localenv/mock-account-servicing-entity/Dockerfile
  localenv/mock-account-servicing-entity/package.json
  package.json
  packages/auth/Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
Labels: type: ci, pkg: backend, pkg: frontend, pkg: auth, pkg: mock-ase

#1848 feat: DuplicatePeer error
  packages/backend/migrations/20230907130701_add_peer_index.js
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/peer/errors.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
Labels: type: tests, pkg: backend, type: source

#1860 feat: add test coverage commands
  packages/auth/package.json
  packages/backend/package.json
  packages/token-introspection/package.json
Labels: pkg: backend, pkg: auth

#1878 fix(auth): update continue uri
  packages/auth/src/grant/model.ts
Labels: type: source, pkg: auth

#1797 feat(auth): add interaction model
  packages/auth/migrations/20230810154819_create_interactions_table.js
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
  packages/auth/src/interaction/model.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/interaction/service.test.ts
  packages/auth/src/interaction/service.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/grant.ts
  packages/auth/src/tests/interaction.ts
  packages/documentation/docs/apis/auth/enums.md
  packages/documentation/src/content/docs/integration/deployment.md
Labels: type: tests, type: source, pkg: auth, pkg: documentation, type: documentation

#1814 feat(docs): add astro-graphql-plugin to the documentation
  .github/workflows/lint_test_build.yml
  .prettierignore
  packages/documentation/.gitignore
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  packages/documentation/src/content/docs/apis/auth/enums.md
  packages/documentation/src/content/docs/apis/auth/inputObjects.md
  packages/documentation/src/content/docs/apis/auth/interfaces.md
  packages/documentation/src/content/docs/apis/auth/mutations.md
  packages/documentation/src/content/docs/apis/auth/objects.md
  packages/documentation/src/content/docs/apis/auth/queries.md
  packages/documentation/src/content/docs/apis/auth/scalars.md
  packages/documentation/src/content/docs/apis/auth/schema.mdx
  packages/documentation/src/content/docs/apis/backend/enums.md
  packages/documentation/src/content/docs/apis/backend/inputObjects.md
  packages/documentation/src/content/docs/apis/backend/interfaces.md
  packages/documentation/src/content/docs/apis/backend/mutations.md
  packages/documentation/src/content/docs/apis/backend/objects.md
  packages/documentation/src/content/docs/apis/backend/queries.md
  packages/documentation/src/content/docs/apis/backend/scalars.md
  packages/documentation/src/content/docs/apis/backend/schema.mdx
  packages/documentation/src/content/docs/index.mdx
  pnpm-lock.yaml
Labels: type: ci, pkg: documentation, type: documentation

#1888 chore(docs): remove schema dumps from docs
  packages/documentation/src/schema-dumps/auth_raw_schema.md
  packages/documentation/src/schema-dumps/backend_raw_schema.md
Labels: pkg: documentation, type: documentation

#1890 chore(docs): bump astro-graphql-plugin to remove astro peer dependency
  packages/documentation/package.json
  pnpm-lock.yaml
Labels: pkg: documentation

#1891 chore: update Starlight (and Astro) version
  packages/documentation/package.json
  packages/documentation/src/env.d.ts
  packages/documentation/src/overrides/Header.astro
  packages/documentation/src/styles/ilf-docs.css
  pnpm-lock.yaml
Labels: pkg: documentation

#1899 fix(auth): hash the correct url when interaction ends
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
Labels: type: tests, type: source, pkg: auth

#1908 feat(auth): update interaction hash method
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
Labels: type: tests, type: source, pkg: auth

#1884 feat(backend): mount resource server routes explicitly
  packages/backend/src/app.ts
Labels: pkg: backend, type: source

#1849 feat: accept peering request
  packages/backend/src/app.ts
  packages/backend/src/auto-peering/errors.ts
  packages/backend/src/auto-peering/routes.test.ts
  packages/backend/src/auto-peering/routes.ts
  packages/backend/src/auto-peering/service.test.ts
  packages/backend/src/auto-peering/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
Labels: type: tests, pkg: backend, type: source

#1916 chore: migrate theme to use npm package
  packages/documentation/README.md
  packages/documentation/astro.config.mjs
  packages/documentation/docs/apis/auth/enums.md
  packages/documentation/package.json
  packages/documentation/src/components/.keepme
  packages/documentation/src/components/docs/CodeBlock/CodeBlock.jsx
  packages/documentation/src/components/docs/CodeBlock/CodeBlock.module.css
  packages/documentation/src/components/docs/CodeBlock/index.js
  packages/documentation/src/components/docs/Disclosure/Disclosure.jsx
  packages/documentation/src/components/docs/Disclosure/Disclosure.module.css
  packages/documentation/src/components/docs/Disclosure/index.js
  packages/documentation/src/components/docs/Hidden.jsx
  packages/documentation/src/components/docs/LargeImg/LargeImg.jsx
  packages/documentation/src/components/docs/LargeImg/LargeImg.module.css
  packages/documentation/src/components/docs/LargeImg/index.js
  packages/documentation/src/components/docs/LinkOut/LinkOut.jsx
  packages/documentation/src/components/docs/LinkOut/LinkOut.module.css
  packages/documentation/src/components/docs/LinkOut/index.js
  packages/documentation/src/components/docs/StylishHeader/StylishHeader.jsx
  packages/documentation/src/components/docs/StylishHeader/StylishHeader.module.css
  packages/documentation/src/components/docs/StylishHeader/index.js
  packages/documentation/src/components/docs/Tooltip/Tooltip.jsx
  packages/documentation/src/components/docs/Tooltip/Tooltip.module.css
  packages/documentation/src/components/docs/Tooltip/index.js
  packages/documentation/src/content/docs/concepts/open-payments/grant-interaction.mdx
  packages/documentation/src/content/docs/concepts/open-payments/key-registry.mdx
  packages/documentation/src/styles/ilf-docs.css
  pnpm-lock.yaml
Labels: pkg: documentation, type: documentation

#1920 fix: updated the counter for funded transactions rather than complete…
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/telemetry/meter.ts
Labels: pkg: backend, type: source

#1861 feat(mock-ase): call setFee during seed script
  localenv/cloud-nine-wallet/seed.yml
  localenv/happy-life-bank/seed.yml
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/seed.example.yml
Labels: pkg: mock-ase

#1927 chore: remove debug console.log
  packages/backend/src/fee/model.test.ts
Labels: type: tests, pkg: backend, type: source

#1926 chore: add "breaking changes" section to release notes
  .github/release.yaml
Labels: type: ci

#1857 feat: createOrUpdatePeerByUrl mutation
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/app.ts
  packages/backend/src/auto-peering/errors.ts
  packages/backend/src/auto-peering/routes.test.ts
  packages/backend/src/auto-peering/routes.ts
  packages/backend/src/auto-peering/service.test.ts
  packages/backend/src/auto-peering/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/auto-peering.test.ts
  packages/backend/src/graphql/resolvers/auto-peering.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/peer/model.ts
  packages/backend/src/tests/app.ts
  packages/frontend/app/generated/graphql.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#1885 chore: Added Few more sections to contributing.md
  .github/contributing.md
Labels: type: ci, type: documentation

#1883 feat: add liquidity for create peer resolvers
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/auto-peering/errors.ts
  packages/backend/src/auto-peering/service.test.ts
  packages/backend/src/auto-peering/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/auto-peering.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
  packages/documentation/src/content/docs/concepts/interledger-protocol/peering.md
  packages/documentation/src/content/docs/integration/deployment.md
  packages/frontend/app/generated/graphql.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#1940 feat(backend): remove connections route
  openapi/resource-server.yaml
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/connection/routes.ts
Labels: type: tests, pkg: backend, type: source

#1943 feat: read env file
  packages/auth/package.json
  packages/auth/src/config/app.ts
  packages/backend/package.json
  packages/backend/src/config/app.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, pkg: auth

#1950 ci: checkout main branch when publishing postman API
  .github/workflows/postman-publish-main.yml
  .github/workflows/postman-publish-tag.yml
  .github/workflows/postman-publish.yml
Labels: type: ci

#1929 feat(docs): add mermaid support to docs
  packages/documentation/astro.config.mjs
  packages/documentation/netlify.toml
  packages/documentation/package.json
  packages/documentation/src/content/docs/integration/event-handlers.md
  packages/documentation/src/content/docs/introduction/architecture.md
  pnpm-lock.yaml
Labels: pkg: documentation, type: documentation

#1952 feat(backend): unauthenticated get incoming payment
  openapi/resource-server.yaml
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, type: source

#1960 fix: grant related fixes
  packages/auth/migrations/20230925183132_add_finalization_reason_grants.js
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
Labels: type: tests, type: source, pkg: auth
