Repository interledger/rafiki, pull requests merged in 2023-11, with the labels that each got.

#2149 chore: docs dependency updates
  packages/documentation/package.json
  packages/documentation/src/styles/rafiki.css
  pnpm-lock.yaml
Labels: pkg: documentation

#2152 docs: fix broken links and grammar issues
  packages/documentation/README.md
  packages/documentation/src/content/docs/concepts/accounting/accounts-and-transfers.md
  packages/documentation/src/content/docs/concepts/accounting/liquidity.md
  packages/documentation/src/content/docs/concepts/interledger-protocol/peering.md
  packages/documentation/src/content/docs/concepts/open-payments/overview.md
  packages/documentation/src/content/docs/playground/overview.md
Labels: pkg: documentation, type: documentation

#2140 feat: increase asset code length to 6 chars
  packages/frontend/app/lib/validate.server.ts
Labels: pkg: frontend, hacktoberfest-accepted

#2166 fix: alpha 4 fixes
  localenv/cloud-nine-wallet/seed.yml
  localenv/happy-life-bank/seed.yml
  packages/backend/src/fee/model.test.ts
  packages/backend/src/fee/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/receiver/model.ts
  packages/frontend/app/lib/validate.server.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source

#2090 feat: add option to paginate in desc order
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/fee/service.test.ts
  packages/backend/src/fee/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/combined_payments.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/page.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.ts
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/graphql/resolvers/webhooks.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/combined/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/ilp/peer/service.test.ts
  packages/backend/src/payment-method/ilp/peer/service.ts
  packages/backend/src/shared/baseModel.test.ts
  packages/backend/src/shared/baseModel.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/shared/pagination.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
  packages/frontend/app/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#2187 docs: update
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/documentation/src/content/docs/playground/autopeering.md
  packages/documentation/src/content/docs/playground/overview.md
Labels: pkg: documentation, type: documentation

#2237 refactor: update mermaid implementation
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  packages/documentation/src/content/docs/concepts/interledger-protocol/peering.md
  packages/documentation/src/content/docs/concepts/open-payments/key-registry.md
  packages/documentation/src/content/docs/integration/event-handlers.mdx
  packages/documentation/src/content/docs/integration/getting-started.md
  pnpm-lock.yaml
Labels: pkg: documentation, type: documentation

#2240 chore: update docs readme to remove playwright reference
  packages/documentation/README.md
Labels: pkg: documentation, type: documentation

#2177 fix: updated pagination tests to only test order along with forward a…
  packages/backend/src/asset/service.test.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/page.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/shared/baseModel.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/webhook/service.test.ts
Labels: type: tests, pkg: backend, type: source
