Repository interledger/rafiki, pull requests merged in 2023-02, with the labels that each got.

#1056 chore(backend): make toOpenPaymentType sync
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
Labels: type: tests, pkg: backend, type: source

#1032 fix(backend): support SPSP queries
  packages/backend/src/app.ts
  packages/backend/src/open_payments/connection/middleware.test.ts
  packages/backend/src/open_payments/connection/middleware.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/connection/routes.ts
  packages/backend/src/spsp/middleware.test.ts
  packages/backend/src/spsp/middleware.ts
  packages/backend/src/spsp/routes.test.ts
  packages/backend/src/spsp/routes.ts
  packages/openapi/src/middleware.ts
Labels: type: tests, pkg: backend, type: source, pkg: openapi

#1024 662/mk/use open payments types
  packages/backend/src/graphql/resolvers/receiver.test.ts
  packages/backend/src/open_payments/connection/model.ts
  packages/backend/src/open_payments/connection/routes.ts
  packages/backend/src/open_payments/connection/service.test.ts
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/model.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/incoming-payment.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
Labels: type: tests, pkg: backend, type: source, pkg: open-payments

#1029 feat(backend): make asset scale uint8 in admin API
  packages/backend/codegen.yml
  packages/backend/migrations/20210422194130_create_assets_table.js
  packages/backend/src/asset/service.test.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/scalars/UInt8.test.ts
  packages/backend/src/graphql/scalars/UInt8.ts
  packages/backend/src/graphql/scalars/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source, pkg: map

#1013 feat(auth): added revokeGrant function
  packages/auth/codegen.yml
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/graphql/resolvers/grant.ts
  packages/auth/src/graphql/resolvers/index.test.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/graphql/resolvers/page.test.ts
  packages/auth/src/graphql/schema.graphql
  packages/auth/src/index.ts
  packages/auth/src/shared/baseModel.test.ts
  packages/auth/src/shared/baseModel.ts
  packages/auth/src/shared/pagination.ts
  packages/auth/src/tests/app.ts
  packages/auth/src/tests/grant.ts
  pnpm-lock.yaml
Labels: type: tests, type: source, pkg: auth

#1061 662/mk/use open payments types auth
  packages/auth/src/access/model.ts
  packages/auth/src/accessToken/model.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/index.ts
  packages/auth/src/shared/utils.ts
  packages/auth/src/tests/context.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/types.ts
Labels: type: tests, type: source, pkg: auth, pkg: open-payments

#1057 1016/mk/psql accounting
  packages/backend/src/accounting/errors.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/accounts.ts
  packages/backend/src/accounting/tigerbeetle/errors.ts
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/accounting/tigerbeetle/transfers.ts
  packages/backend/src/accounting/tigerbeetle/utils.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/connector/core/rafiki.ts
  packages/backend/src/connector/core/test/middleware/account-middleware.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/peer/service.ts
  packages/backend/src/tests/accountFactory.ts
  packages/backend/src/tests/incomingPayment.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/paymentPointer.ts
Labels: type: tests, pkg: backend, type: source

#1028 feat(backend): rotate expired access token
  packages/backend/migrations/20221012013413_create_grants_table.js
  packages/backend/src/open_payments/grant/model.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
  packages/backend/src/open_payments/payment/incoming_remote/errors.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.test.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
Labels: type: tests, pkg: backend, type: source

#1044 chore(backend): upgrade to LSM Tigerbeetle version and tigerbeetle-node 0.11.11
  infrastructure/helm/tigerbeetle/values.yaml
  infrastructure/local/database_docker-compose.yml
  infrastructure/local/docker-compose.yml
  package.json
  packages/backend/jest.config.js
  packages/backend/jest.setup.ts
  packages/backend/package.json
  packages/backend/src/accounting/tigerbeetle/errors.ts
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/accounting/tigerbeetle/transfers.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, type: localenv

#1082 chore(open-payments): specify Accept header
  packages/backend/src/spsp/middleware.test.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
Labels: type: tests, pkg: backend, type: source, pkg: open-payments

#1073 chore(auth): use trx for token rotation
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/service.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/client/service.test.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/app.ts
  packages/auth/src/tests/context.ts
Labels: type: tests, type: source, pkg: auth

#1065 feat(backend): adding migrations for new tables
  packages/backend/migrations/20210422194130_create_assets_table.js
  packages/backend/migrations/20230201133042_create_ledger_accounts_table.js
  packages/backend/migrations/20230202124709_create_ledger_transfers_table.js
Labels: pkg: backend

#1106 chore: add wait strategy for postgres
  packages/backend/jest.setup.ts
Labels: pkg: backend

#1095 Account creation for psql accounting
  packages/backend/migrations/20230201133042_create_ledger_accounts_table.js
  packages/backend/src/accounting/psql/ledger-account/model.test.ts
  packages/backend/src/accounting/psql/ledger-account/model.ts
  packages/backend/src/accounting/psql/ledger-account/service.test.ts
  packages/backend/src/accounting/psql/ledger-account/service.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/app.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
Labels: type: tests, pkg: backend, type: source

#1100 Balance calculation for PSQL accounting
  packages/backend/src/accounting/psql/ledger-account/model.ts
  packages/backend/src/accounting/psql/ledger-account/service.test.ts
  packages/backend/src/accounting/psql/ledger-account/service.ts
  packages/backend/src/accounting/psql/ledger-transfer/model.ts
  packages/backend/src/accounting/psql/ledger-transfer/service.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/service.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/tests/ledgerAccount.ts
  packages/backend/src/tests/ledgerTransfer.ts
Labels: type: tests, pkg: backend, type: source

#1113 1016/mk/refactor services
  packages/backend/src/accounting/psql/balance.test.ts
  packages/backend/src/accounting/psql/balance.ts
  packages/backend/src/accounting/psql/ledger-account/index.test.ts
  packages/backend/src/accounting/psql/ledger-account/index.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/app.ts
  packages/backend/src/index.ts
Labels: type: tests, pkg: backend, type: source

#1080 chore(open-payments): update pagination query parameters
  packages/auth/src/shared/pagination.ts
  packages/backend/src/app.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/shared/pagination.ts
  packages/open-payments/scripts/fetch-schemas.sh
  packages/open-payments/src/index.ts
  packages/open-payments/src/openapi/generated/auth-server-types.ts
  packages/open-payments/src/openapi/generated/resource-server-types.ts
  packages/open-payments/src/openapi/resource-server.yaml
  packages/open-payments/src/types.ts
  packages/openapi/src/index.ts
  packages/openapi/src/middleware.test.ts
Labels: type: tests, pkg: backend, type: source, pkg: openapi, pkg: auth, pkg: open-payments

#1111 PSQL accounting service: createAccountDeposit
  packages/backend/src/accounting/errors.ts
  packages/backend/src/accounting/psql/balance.ts
  packages/backend/src/accounting/psql/ledger-account/index.test.ts
  packages/backend/src/accounting/psql/ledger-account/model.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/tigerbeetle/service.test.ts
Labels: type: tests, pkg: backend, type: source

#1129 1091/mk/psql withdrawal
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
Labels: type: tests, pkg: backend, type: source

#1131 1091/mk/post withdrawal
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/ledger-transfer/model.test.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
Labels: type: tests, pkg: backend, type: source

#1130 1091/mk/void withdrawal
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/ledger-transfer/model.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/model.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
Labels: type: tests, pkg: backend, type: source

#1134 1091/mk/cross account transfers
  packages/backend/src/accounting/errors.ts
  packages/backend/src/accounting/psql/balance.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
Labels: type: tests, pkg: backend, type: source

#1139 enable psql accounting by default
  .github/workflows/lint_test_build.yml
  packages/backend/jest.setup.ts
  packages/backend/jest.teardown.js
  packages/backend/src/accounting/psql/ledger-account/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/ledger-transfer/model.test.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/config/app.ts
  packages/backend/src/connector/ilp-routing/ilp-route-manager/index.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/tests/app.ts
Labels: type: ci, type: tests, pkg: backend, type: source

#1146 feat(map): quoting in multiple asset scales
  infrastructure/local/peer-docker-compose.yml
  infrastructure/local/seed.peer.yml
  infrastructure/local/seed.primary.yml
  packages/backend/src/open_payments/quote/service.ts
  packages/mock-account-provider/app/lib/parse_config.ts
  packages/mock-account-provider/app/routes/quotes.ts
Labels: pkg: backend, type: source, pkg: map, type: localenv

#1156 fix(hsu): Postman signature scripts allow for empty body in POST request
  packages/http-signature-utils/postman-scripts/preRequestSignatures.js
Labels: pkg: http-signature-utils

#1161 feat(backend): implement delete peer
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
Labels: type: tests, pkg: backend, type: source

#1163 feat(backend): add http endpoint validation for peers
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/peer/errors.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
  packages/backend/src/shared/utils.test.ts
  packages/backend/src/shared/utils.ts
Labels: type: tests, pkg: backend, type: source

#1148 Separate `localenv` docker-compose commands
  infrastructure/local/.env.tigerbeetle
  infrastructure/local/README.md
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  infrastructure/local/tigerbeetle_docker-compose.yml
  package.json
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/config/app.ts
Labels: type: tests, pkg: backend, type: source, type: localenv

#1169 Rename open-payments grant types
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.test.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/open-payments/src/client/grant.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.test.ts
  packages/open-payments/src/types.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: open-payments
