Repository interledger/rafiki, pull requests merged in 2023-07, with the labels that each got.

#1491 feat(frontend): add/display peers and assets liquidity
  packages/frontend/app/components/LiquidityDialog.tsx
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/lib/api/peer.server.ts
  packages/frontend/app/lib/message.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/_index.tsx
  packages/frontend/app/routes/assets.$assetId.add-liquidity.tsx
  packages/frontend/app/routes/assets.$assetId.tsx
  packages/frontend/app/routes/assets.$assetId.withdraw-liquidity.tsx
  packages/frontend/app/routes/assets._index.tsx
  packages/frontend/app/routes/assets.create.tsx
  packages/frontend/app/routes/peers.$peerId.add-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.tsx
  packages/frontend/app/routes/peers.$peerId.withdraw-liquidity.tsx
  packages/frontend/app/routes/peers._index.tsx
  packages/frontend/app/routes/peers.create.tsx
  packages/frontend/app/shared/utils.ts
  packages/frontend/package.json
  packages/frontend/remix.config.js
  pnpm-lock.yaml
Labels: pkg: frontend

#1522 feat(backend): add metadata to payments
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/transactions.server.ts
  localenv/mock-account-servicing-entity/app/routes/accounts.$accountId.tsx
  localenv/mock-account-servicing-entity/generated/graphql.ts
  openapi/resource-server.yaml
  packages/backend/migrations/20230629122543_update_payments_tables.js
  packages/backend/package.json
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/receiver.test.ts
  packages/backend/src/graphql/resolvers/receiver.ts
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/graphql/resolvers/webhooks.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.test.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/receiver/model.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/openapi/webhooks.yaml
  packages/documentation/docs/api-reference/inputObjects.md
  packages/documentation/docs/api-reference/interfaces.md
  packages/documentation/docs/api-reference/objects.md
  packages/documentation/docs/api-reference/queries.md
  packages/documentation/docs/api-reference/scalars.md
  packages/documentation/docusaurus.config.js
  packages/frontend/app/generated/graphql.ts
  pnpm-lock.yaml
Labels: documentation, type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#1541 chore: update sporadically failing tests, upgrade tigerbeetle
  infrastructure/helm/tigerbeetle/values.yaml
  jest.config.base.js
  localenv/tigerbeetle/docker-compose.yml
  packages/auth/src/grant/service.test.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/tests/grant.ts
  packages/backend/package.json
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, pkg: auth

#1554 ci: add check for gql docs generation
  .github/workflows/lint_test_build.yml
Labels: type: ci

#1551 fix(deps): update dependency open-payments to 2.0.0
  packages/auth/package.json
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth

#1558 chore: fix timestamp-related tests failures
  infrastructure/helm/tigerbeetle/values.yaml
  packages/backend/src/shared/baseModel.ts
Labels: pkg: backend, type: source

#1573 chore: upgrade TB version and node client
  infrastructure/helm/tigerbeetle/values.yaml
  localenv/tigerbeetle/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#1264 chore: rafiki helm chart
  infrastructure/helm/rafiki/Chart.lock
  infrastructure/helm/rafiki/Chart.yaml
  infrastructure/helm/rafiki/README.md
  infrastructure/helm/rafiki/charts/postgresql-12.0.0.tgz
  infrastructure/helm/rafiki/charts/rafiki-auth-0.1.0.tgz
  infrastructure/helm/rafiki/charts/rafiki-backend-0.1.0.tgz
  infrastructure/helm/rafiki/charts/rafiki-frontend-0.1.0.tgz
  infrastructure/helm/rafiki/charts/redis-17.9.2.tgz
  infrastructure/helm/rafiki/values.yaml
  infrastructure/terraform/rafiki-test/variables.tf
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/documentation/docs/integration/deployment.md
Labels: documentation, pkg: documentation, type: documentation

#1656 chore: fix postman collection sync
  .github/pull_request_template.md
  .postman/api
  .postman/api_579784be-0d40-46a1-8ec4-7df03a47d82a
  postman/collections/Interledger.json
Labels: type: ci, type: documentation

#1576 feat(auth): revoke grant instead of hard delete
  localenv/README.md
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/service.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/graphql/resolvers/grant.ts
  packages/auth/src/graphql/schema.graphql
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  postman/collections/Interledger.json
Labels: type: tests, type: source, pkg: auth, type: localenv

#1660 chore: update issue templates
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-or-feature-subtask.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: type: ci

#1663 docs: minor documentation updates
  README.md
  packages/documentation/docs/concepts/accounting/accounts-and-transfers.md
  packages/documentation/docs/concepts/interledger-protocol/connector.md
  packages/documentation/docs/concepts/open-payments/grant-interaction.md
  packages/documentation/docs/introduction/architecture.md
  packages/documentation/excalidraw/architecture.excalidraw
  packages/documentation/src/css/custom.css
  packages/documentation/static/docs/assets/architecture.png
Labels: pkg: documentation, type: documentation
