Repository interledger/rafiki, pull requests merged in 2023-10, with the labels that each got.

#1984 chore: dependency bumps
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  packages/documentation/src/content/docs/concepts/asset.md
  pnpm-lock.yaml
Labels: pkg: documentation, type: documentation

#1974 feat: payment method handler service (quoting)
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/payment-method/handler/service.test.ts
  packages/backend/src/payment-method/handler/service.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/tests/rates.ts
  packages/backend/src/tests/receiver.ts
Labels: type: tests, pkg: backend, type: source

#2005 docs: resolve issues raised in #2001
  README.md
Labels: type: documentation

#1981 docs: Updated Quotes/Rates #1977
  packages/documentation/src/content/docs/integration/getting-started.md
Labels: pkg: documentation, type: documentation

#2010 chore: refactor custom header implementation
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  packages/documentation/src/components/.keepme
  packages/documentation/src/components/Header.astro
  packages/documentation/src/overrideIntegration.mjs
  packages/documentation/src/overrides/LanguageSelect.astro
  packages/documentation/src/overrides/Search.astro
  packages/documentation/src/overrides/SocialIcons.astro
  packages/documentation/src/overrides/ThemeSelect.astro
  pnpm-lock.yaml
Labels: pkg: documentation

#1971 docs: Updated README.md to fix spelling and grammatical errors.
  README.md
Labels: type: documentation

#2024 fix: re-aligning both webhook type enum definitions
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/app/routes/webhooks.ts
  packages/frontend/app/shared/enums.ts
Labels: pkg: frontend, pkg: mock-ase

#1937 feat(backend): rename "payment pointer" tables & columns to use "wallet address"
  packages/backend/migrations/20230918113102_rename_payment_pointer_tables.js
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/combined_payments.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/open_payments/payment/combined/model.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/key/model.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#2017 feat: returns interaction state in IDP grant lookup
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/openapi/id-provider.yaml
Labels: type: tests, type: source, pkg: auth

#1978 fix: WebhookEvent models to match OpenAPI specification
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: type: tests, pkg: backend, type: source, pkg: mock-ase

#2028 feat: add pay method to ilpPaymentService
  packages/backend/src/payment-method/handler/errors.ts
  packages/backend/src/payment-method/handler/service.test.ts
  packages/backend/src/payment-method/handler/service.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#1964 feat: add AWS lambda for https signatures
  .github/workflows/lint_test_build.yml
  .gitignore
  .postman/api_84fc90ca-3153-4865-8b49-b91218e5d574
  aws/README.md
  aws/lambdas/http-signatures/README.md
  aws/lambdas/http-signatures/index.js
  aws/lambdas/http-signatures/package-lock.json
  aws/lambdas/http-signatures/package.json
  localenv/README.md
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/local-http-signatures/Dockerfile
  localenv/local-http-signatures/README.md
  localenv/local-http-signatures/package.json
  localenv/local-http-signatures/postman-scripts/preRequestSignaturesGrantRequest.js
  localenv/local-http-signatures/src/app.ts
  localenv/local-http-signatures/tsconfig.json
  packages/documentation/src/content/docs/playground/overview.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postman/collections/Interledger.json
  postman/environments/Local Playground Environment.postman_environment.json
  postman/environments/Remote Environment.postman_environment.json
  postman/pre-request-scripts/preRequestHostHeader.js
  postman/pre-request-scripts/preRequestSignatures.js
  tsconfig.json
Labels: type: ci, type: localenv, pkg: documentation, type: documentation

#2039 chore: make estimatedExchangeRate nullable (for now)
  packages/backend/migrations/20230927223235_make_quotes_generic.js
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source

#1951 docs: replace payment pointer with wallet address
  localenv/docs/peer-setup.md
  packages/backend/migrations/20230918113102_rename_payment_pointer_tables.js
Labels: pkg: backend

#2052 feat(backend): unauthenticated get incoming payment (#1952)
  openapi/auth-server.yaml
  openapi/resource-server.yaml
  openapi/schemas.yaml
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, type: source

#2031 feat: use paymentMethodHandler in outgoing payment lifecycle
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
Labels: type: tests, pkg: backend, type: source

#2003 fix(auth): fix noninteractive grant creation
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/grant/utils.ts
  packages/auth/src/index.ts
Labels: type: tests, type: source, pkg: auth

#2060 fix: fallback in case estimated exchange rate is missing
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
Labels: pkg: backend, type: source

#2053 feat(auth): fix auth tests for access tokens
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/signature/middleware.test.ts
Labels: type: tests, type: source, pkg: auth

#2048 refactor: Update Payment Pointer web monetization webhook
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/openapi/webhooks.yaml
  packages/documentation/src/content/docs/integration/event-handlers.md
Labels: pkg: backend, type: source, pkg: documentation, type: documentation, breaking

#2077 docs: fixed broken links in docs
  packages/documentation/src/content/docs/concepts/interledger-protocol/overview.md
  packages/documentation/src/content/docs/introduction/overview.md
  packages/documentation/src/content/docs/reference/glossary.md
Labels: pkg: documentation, type: documentation

#2062 feat: created home page for Rafiki Admin
  packages/frontend/app/routes/_index.tsx
Labels: pkg: frontend

#2050 feat: add fees to admin UI
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/fee/service.test.ts
  packages/backend/src/fee/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/tests/fee.ts
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/assets.$assetId.tsx
  packages/frontend/app/routes/assets.$assetId_.fee-history.tsx
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#2085 fix(backend): resolve breaking build after main rebase
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/payment-method/handler/service.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/tests/outgoingPayment.ts
Labels: type: tests, pkg: backend, type: source

#2094 fix(backend): combined_payment, ilp service tests
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/tests/outgoingPayment.ts
Labels: type: tests, pkg: backend, type: source

#1966 feat: connect local playground to rafiki.money
  .eslintrc.yml
  .gitignore
  localenv/README.md
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/cloud-nine-wallet/seed.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/happy-life-bank/seed.yml
  localenv/mock-account-servicing-entity/app/lib/apiClient.ts
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/app/routes/shoe-shop.tsx
  package.json
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/signature/middleware.ts
  packages/backend/src/app.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/documentation/src/content/docs/integration/deployment.md
  packages/documentation/src/content/docs/playground/overview.md
  pnpm-lock.yaml
  scripts/localenv-tunnel-setup.js
Labels: type: tests, pkg: backend, type: source, pkg: auth, type: localenv, pkg: mock-ase, pkg: documentation, type: documentation

#2099 fix: fetch walletAddress graph in quote and outgoing payment service
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#2108 feat(backend): add quotes route to exceptions in wallet address middleware
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/wallet_address/middleware.ts
Labels: type: tests, pkg: backend, type: source

#2091 feat: basis point fee explanation
  packages/frontend/app/routes/assets.$assetId.tsx
Labels: pkg: frontend

#2111 fix(backend): fix GET /incoming-payments
  packages/backend/src/open_payments/payment/incoming/routes.ts
Labels: pkg: backend, type: source

#2115 fix(backend): remove wallet address from OP response id and fix receiver service
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/open_payments/wallet_address/middleware.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, type: source

#2121 fix(backend): fix create remote incoming payment
  packages/backend/src/open_payments/payment/incoming_remote/service.test.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
Labels: type: tests, pkg: backend, type: source

#2101 chore: recursive builds
  README.md
  packages/auth/package.json
  packages/backend/package.json
  packages/documentation/README.md
  packages/documentation/netlify.toml
  packages/documentation/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth, pkg: documentation, type: documentation

#2127 fix: file name correction
  packages/frontend/app/routes/wallet-addresses._index.tsx
  packages/frontend/app/routes/wallet-addresses.create.tsx
Labels: pkg: frontend

#2129 fix(mase): wallet address on the fly creation
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
Labels: pkg: mock-ase

#2137 feat(auth): add finalizationReason grant filter
  packages/auth/src/grant/service.test.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/graphql/resolvers/grant.ts
  packages/auth/src/graphql/schema.graphql
  postman/collections/Interledger.json
Labels: type: tests, type: source, pkg: auth

#2147 fix: readme cmd
  README.md
Labels: type: documentation

#2148 feat(backend): return WWW-Authenticate header in public incoming payment response
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
Labels: type: tests, pkg: backend, type: source

#2135 fix(backend): prevent palindromic asset codes from causing test failure
  packages/backend/src/open_payments/payment/incoming/service.test.ts
Labels: type: tests, pkg: backend, type: source
