Repository interledger/rafiki, pull requests merged in 2023-05, with the labels that each got.

#1405 feat: incoming payment resolver
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#1352 feat: add GraphQL API idempotency/cache middleware
  docs/deployment.md
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/cache/data-stores/index.ts
  packages/backend/src/cache/data-stores/redis.test.ts
  packages/backend/src/cache/data-stores/redis.ts
  packages/backend/src/cache/middleware.test.ts
  packages/backend/src/cache/middleware.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/middleware/index.test.ts
  packages/backend/src/graphql/middleware/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#1398 feat: update mutations to use input object type, add idempotencyKey
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/paymentPointerKey.test.ts
  packages/backend/src/graphql/resolvers/paymentPointerKey.ts
  packages/backend/src/graphql/resolvers/payment_pointer.test.ts
  packages/backend/src/graphql/resolvers/payment_pointer.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/peer.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/peers.$peerId.tsx
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#1406 feat(backend): add locking middleware
  docs/deployment.md
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/middleware/index.test.ts
  packages/backend/src/graphql/middleware/index.ts
  packages/backend/src/middleware/cache/data-stores/index.ts
  packages/backend/src/middleware/cache/data-stores/redis.test.ts
  packages/backend/src/middleware/cache/data-stores/redis.ts
  packages/backend/src/middleware/cache/index.test.ts
  packages/backend/src/middleware/cache/index.ts
  packages/backend/src/middleware/lock/index.test.ts
  packages/backend/src/middleware/lock/index.ts
  packages/backend/src/middleware/lock/redis.test.ts
  packages/backend/src/middleware/lock/redis.ts
Labels: type: tests, pkg: backend, type: source

#1411 feat(documentation): scaffold docusaurus
  .gitignore
  packages/documentation/README.md
  packages/documentation/babel.config.js
  packages/documentation/docs/glossary/_category_.json
  packages/documentation/docs/glossary/_index.md
  packages/documentation/docs/glossary/account-holder.md
  packages/documentation/docs/glossary/account-provider.md
  packages/documentation/docs/glossary/client.md
  packages/documentation/docs/introduction.md
  packages/documentation/docs/reference/enums.md
  packages/documentation/docs/reference/inputObjects.md
  packages/documentation/docs/reference/interfaces.md
  packages/documentation/docs/reference/mutations.md
  packages/documentation/docs/reference/objects.md
  packages/documentation/docs/reference/queries.md
  packages/documentation/docs/reference/scalars.md
  packages/documentation/docusaurus.config.js
  packages/documentation/package.json
  packages/documentation/sidebars.js
  packages/documentation/src/components/HomepageFeatures/index.tsx
  packages/documentation/src/components/HomepageFeatures/styles.module.css
  packages/documentation/src/css/custom.css
  packages/documentation/src/pages/index.module.css
  packages/documentation/src/pages/index.tsx
  packages/documentation/static/.nojekyll
  packages/documentation/static/img/logo.svg
  packages/documentation/tsconfig.json
  pnpm-lock.yaml
Labels: type: documentation

#1427 chore: bump `remix-run/*` versions
  localenv/mock-account-servicing-entity/app/entry.server.tsx
  localenv/mock-account-servicing-entity/app/lib/apolloClient.ts
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/app/routes/quotes.ts
  localenv/mock-account-servicing-entity/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: pkg: frontend, pkg: mock-ase

#1417 feat: set payment pointer inactive
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20211012172409_create_payment_pointers_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/payment_pointer.test.ts
  packages/backend/src/graphql/resolvers/payment_pointer.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment_pointer/errors.ts
  packages/backend/src/open_payments/payment_pointer/middleware.test.ts
  packages/backend/src/open_payments/payment_pointer/middleware.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/documentation/docs/reference/enums.md
  packages/documentation/docs/reference/inputObjects.md
  packages/documentation/docs/reference/interfaces.md
  packages/documentation/docs/reference/mutations.md
  packages/documentation/docs/reference/objects.md
  packages/documentation/docs/reference/queries.md
  packages/frontend/app/generated/graphql.ts
Labels: type: documentation, type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#1457 feat(frontend): add confirmation dialog
  packages/frontend/app/components/ConfirmationDialog.tsx
  packages/frontend/app/components/Sidebar.tsx
  packages/frontend/app/components/icons.tsx
  packages/frontend/app/components/ui/Button.tsx
  packages/frontend/app/routes/peers.$peerId.tsx
Labels: pkg: frontend

#1387 feat: setup/teardown localenv with one docker compose
  localenv/README.md
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/docs/peer-setup.md
  localenv/happy-life-bank/docker-compose.yml
  localenv/merged/docker-compose.yml
  localenv/tigerbeetle/docker-compose.yml
  package.json
Labels: type: localenv

#1448 feat(frontend): update select component
  packages/frontend/app/components/icons.tsx
  packages/frontend/app/components/ui/Input.tsx
  packages/frontend/app/components/ui/Label.tsx
  packages/frontend/app/components/ui/Select.tsx
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/peers.create.tsx
Labels: pkg: frontend

#1450 chore(frontend): remove unnecessary scripts
  .gitignore
  packages/frontend/README.md
  packages/frontend/app/root.tsx
  packages/frontend/app/styles/README.md
  packages/frontend/app/styles/tailwind.css
  packages/frontend/package.json
  packages/frontend/remix.config.js
  pnpm-lock.yaml
Labels: type: documentation, pkg: frontend

#1473 chore: set dedicated num of workers for backend tests in CI
  .github/workflows/lint_test_build.yml
  packages/backend/package.json
Labels: type: ci, pkg: backend

#1474 test: add timeout to redis key expiry buffer
  packages/backend/src/cache/data-stores/index.ts
  packages/backend/src/cache/data-stores/redis.test.ts
  packages/backend/src/cache/data-stores/redis.ts
  packages/backend/src/cache/middleware.test.ts
  packages/backend/src/cache/middleware.ts
  packages/backend/src/middleware/cache/data-stores/redis.test.ts
  packages/backend/src/middleware/lock/redis.test.ts
Labels: type: tests, pkg: backend, type: source

#1466 feat(backend): liquidity resolver for asset and peer
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#1435 feat(backend): add incoming payment created webhook event
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/app/routes/webhooks.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/openapi/webhooks.yaml
  packages/documentation/docs/integration/getting-started.md
Labels: type: documentation, type: tests, pkg: backend, type: source, pkg: mock-ase, pkg: documentation

#1459 refactor(frontend): update message storage for notifications
  packages/frontend/app/components/Snackbar.tsx
  packages/frontend/app/lib/message.server.ts
  packages/frontend/app/root.tsx
  packages/frontend/app/routes/assets.$assetId.tsx
  packages/frontend/app/routes/assets.create.tsx
  packages/frontend/app/routes/peers.$peerId.tsx
  packages/frontend/app/routes/peers.create.tsx
Labels: pkg: frontend
