Repository interledger/rafiki, pull requests merged in 2023-12, with the labels that each got.

#2241 fix: error logging
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/graphql/resolvers/grant.ts
  packages/auth/src/index.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/auto-peering.ts
  packages/backend/src/graphql/resolvers/fee.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/resolvers/receiver.ts
  packages/backend/src/graphql/resolvers/walletAddressKey.ts
  packages/backend/src/graphql/resolvers/wallet_address.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/open_payments/wallet_address/key/service.ts
  packages/backend/src/payment-method/ilp/auto-peering/service.ts
  packages/backend/src/payment-method/ilp/peer/service.ts
  packages/backend/src/payment-method/ilp/service.ts
Labels: pkg: backend, type: source, pkg: auth

#2228 feat(backend): add `receiver` graphql query
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/receiver.test.ts
  packages/backend/src/graphql/resolvers/receiver.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#2216 feat(backend): add liquidity to payment and wallet address resolvers
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#2151 feat: add payment liquidity endpoints
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20231121184537_add_resource_fkeys_webhook_event.js
  packages/backend/src/asset/model.test.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.test.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/ilp/peer-http-token/model.ts
  packages/backend/src/payment-method/ilp/peer/model.test.ts
  packages/backend/src/payment-method/ilp/peer/model.ts
  packages/backend/src/tests/webhook.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/apis/idempotency.md
  packages/documentation/src/content/docs/concepts/accounting/liquidity.md
  packages/documentation/src/content/docs/integration/event-handlers.mdx
  packages/frontend/app/generated/graphql.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#2282 chore: update env variable descriptions
  infrastructure/helm/rafiki/values.yaml
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  packages/auth/src/config/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/documentation/src/content/docs/integration/deployment.md
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: mock-ase, pkg: documentation, type: documentation, breaking

#2297 fix(documentation): broken links
  packages/documentation/src/content/docs/concepts/accounting/accounts-and-transfers.md
  packages/documentation/src/content/docs/concepts/accounting/liquidity.md
  packages/documentation/src/content/docs/concepts/accounting/tigerbeetle.md
  packages/documentation/src/content/docs/integration/deployment.md
  packages/documentation/src/content/docs/integration/event-handlers.mdx
Labels: pkg: documentation, type: documentation
