Repository interledger/rafiki, pull requests merged in 2023-01, with the labels that each got.

#915 feat(backend): adds a name field for the peer model
  packages/backend/migrations/20211026133430_create_peers_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/peer/model.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
  packages/mock-account-provider/app/lib/parse_config.ts
  packages/mock-account-provider/app/lib/requesters.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source, pkg: map

#910 refactor(auth): factor out nonce generation
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/shared/utils.ts
Labels: type: tests, type: source, pkg: auth

#879 chore: remove sig validation bypass
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  packages/auth/docker-compose.yml
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/backend/src/config/app.ts
Labels: pkg: backend, type: source, pkg: auth, type: localenv

#924 fix(auth): require interact params in query
  packages/auth/src/openapi/id-provider.yaml
Labels: type: source, pkg: auth

#890 Revert "feat(backend): add API key authentication (#193)"
  packages/backend/migrations/20211022170432_create_api_keys_table.js
  packages/backend/package.json
  packages/backend/src/apiKey/errors.ts
  packages/backend/src/apiKey/model.ts
  packages/backend/src/apiKey/service.test.ts
  packages/backend/src/apiKey/service.ts
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/directives/auth.test.ts
  packages/backend/src/graphql/directives/auth.ts
  packages/backend/src/graphql/directives/index.ts
  packages/backend/src/graphql/directives/isAdmin.test.ts
  packages/backend/src/graphql/directives/isAdmin.ts
  packages/backend/src/graphql/directives/transformer.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/apiKey.test.ts
  packages/backend/src/graphql/resolvers/apiKey.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/session.test.ts
  packages/backend/src/graphql/resolvers/session.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/session/service.test.ts
  packages/backend/src/session/service.ts
  packages/backend/src/session/util.ts
  packages/mock-account-provider/generated/graphql.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, pkg: map

#928 chore(backend): revert incrementing total received on connector error
  packages/backend/src/connector/core/controllers/stream.ts
  packages/backend/src/connector/core/middleware/error-handler.ts
  packages/backend/src/connector/core/rafiki.ts
  packages/backend/src/connector/core/test/controllers/stream-controller.test.ts
  packages/backend/src/connector/core/test/middleware/error-handler-middleware.test.ts
Labels: type: tests, pkg: backend, type: source

#929 chore(backend): don't auto-create asset
  infrastructure/local/peer-setup.md
  infrastructure/local/seed.peer.yml
  infrastructure/local/seed.primary.yml
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/payment_pointer.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment_pointer/errors.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/peer/errors.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/peer/service.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/spsp/routes.test.ts
  packages/backend/src/tests/asset.ts
  packages/backend/src/tests/paymentPointer.ts
  packages/backend/src/tests/peer.ts
  packages/backend/src/tests/peerFactory.ts
  packages/backend/src/webhook/service.test.ts
  packages/mock-account-provider/app/lib/parse_config.ts
  packages/mock-account-provider/app/lib/requesters.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/app/routes/quotes.ts
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source, pkg: map, type: localenv

#851 feat(open-payments): add list incoming payments
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/incoming-payment.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
Labels: type: tests, type: source, pkg: open-payments

#918 test(backend/auth): audit knex definition
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/signature/middleware.test.ts
  packages/backend/src/accounting/service.test.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/paymentPointerKey.test.ts
  packages/backend/src/graphql/resolvers/payment_pointer.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/open_payments/authServer/service.test.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/connection/service.test.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment_pointer/key/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/key/service.test.ts
  packages/backend/src/open_payments/payment_pointer/middleware.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/peer/service.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/spsp/routes.test.ts
  packages/backend/src/webhook/service.test.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#911 chore(backend): do not store entire grant on context
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/grant/model.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/limits.test.ts
  packages/backend/src/open_payments/payment/outgoing/limits.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/tests/app.ts
Labels: type: tests, pkg: backend, type: source

#888 feat(open-payments): add create quote
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/open-payments/src/client/quote.test.ts
  packages/open-payments/src/client/quote.ts
  packages/open-payments/src/test/helpers.ts
  packages/open-payments/src/types.ts
Labels: type: tests, pkg: backend, type: source, pkg: open-payments

#959 test(auth): add api spec checks for interaction route responses
  packages/auth/src/grant/routes.test.ts
Labels: type: tests, type: source, pkg: auth

#971 663/mk/standardize op client requests
  packages/open-payments/src/client/grant.ts
  packages/open-payments/src/client/ilp-stream-connection.test.ts
  packages/open-payments/src/client/ilp-stream-connection.ts
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/incoming-payment.ts
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/outgoing-payment.test.ts
  packages/open-payments/src/client/outgoing-payment.ts
  packages/open-payments/src/client/payment-pointer.test.ts
  packages/open-payments/src/client/payment-pointer.ts
  packages/open-payments/src/client/quote.test.ts
  packages/open-payments/src/client/quote.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/token.ts
  packages/open-payments/src/test/helpers.ts
Labels: type: tests, type: source, pkg: open-payments

#956 feat(types): replace access type/action enums with generated unions
  packages/auth/src/access/model.ts
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/types.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/signature/middleware.test.ts
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/grant/model.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/open-payments/src/index.ts
  packages/open-payments/src/types.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: open-payments

#955 feat(map/backend): use currency pairs
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/rates/service.ts
  packages/mock-account-provider/app/routes/prices.ts
Labels: type: tests, pkg: backend, type: source, pkg: map

#960 feat(token-introspection): add token introspection package
  .github/workflows/lint_test_build.yml
  packages/auth/package.json
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/openapi/token-introspection.yaml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/payment/outgoing/limits.ts
  packages/backend/src/openapi/token-introspection.yaml
  packages/open-payments/package.json
  packages/token-introspection/jest.config.js
  packages/token-introspection/package.json
  packages/token-introspection/src/client/index.test.ts
  packages/token-introspection/src/client/index.ts
  packages/token-introspection/src/client/introspection.test.ts
  packages/token-introspection/src/client/introspection.ts
  packages/token-introspection/src/config.ts
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/openapi/generated/types.ts
  packages/token-introspection/src/openapi/schemas.yaml
  packages/token-introspection/src/openapi/token-introspection.yaml
  packages/token-introspection/src/test/helpers.ts
  packages/token-introspection/src/types.test.ts
  packages/token-introspection/src/types.ts
  packages/token-introspection/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: type: ci, type: tests, pkg: backend, type: source, pkg: auth, pkg: open-payments

#989 chore(backend): allow null in GraphQL response
  packages/backend/codegen.yml
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/mock-account-provider/generated/graphql.ts
Labels: pkg: backend, type: source, pkg: map

#997 Revert "chore(deps): update dependency openapi-typescript to v6 (#996)"
  packages/open-payments/package.json
  packages/token-introspection/package.json
  pnpm-lock.yaml
Labels: pkg: open-payments

#979 test: read tigerbeetle container log flag from env var
  packages/backend/jest.setup.js
Labels: pkg: backend

#1004 fix(backend): fix introspect call
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/token-introspection/src/client/index.test.ts
  packages/token-introspection/src/client/index.ts
Labels: type: tests, pkg: backend, type: source

#981 refactor(backend): rename `commit/rollback` with `post/void` for TB
  docs/account-service-api.md
  packages/backend/src/accounting/errors.ts
  packages/backend/src/accounting/service.test.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/transfers.ts
  packages/backend/src/connector/core/middleware/balance.ts
  packages/backend/src/connector/core/test/mocks/accounting-service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/mock-account-provider/generated/graphql.ts
Labels: type: tests, pkg: backend, type: source, pkg: map

#986 938/mk/create receiver
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/receiver.test.ts
  packages/backend/src/graphql/resolvers/receiver.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming_remote/errors.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.test.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/receiver/errors.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/model.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/tests/app.ts
  packages/mock-account-provider/generated/graphql.ts
  packages/open-payments/package.json
  packages/open-payments/src/index.ts
  packages/open-payments/src/test/helpers.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, pkg: map, pkg: open-payments

#1020 chore: remove last occurences of nock `scope.isDone()`
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/webhook/service.test.ts
Labels: type: tests, pkg: backend, type: source

#1007 chore(token-introspection): return client payment pointer, not key
  packages/auth/migrations/20220504161932_create_grants_table.js
  packages/auth/seeds/development/01_grants.js
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/backend/migrations/20220908085845_create_incoming_payments_table.js
  packages/backend/migrations/20221012205150_create_quotes_table.js
  packages/backend/migrations/20221129213751_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/quote.ts
  packages/http-signature-utils/src/index.ts
  packages/http-signature-utils/src/utils/headers.test.ts
  packages/http-signature-utils/src/utils/headers.ts
  packages/token-introspection/src/openapi/generated/types.ts
  packages/token-introspection/src/openapi/token-introspection.yaml
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: http-signature-utils

#1008 chore(backend): update createTransfer options
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/transfers.ts
Labels: pkg: backend, type: source

#728 chore(docker): use node:18-slim base image
  .github/workflows/docker-backend.yml
  .github/workflows/docker.yml
  .github/workflows/lint_test_build.yml
  .github/workflows/rafiki/env-setup/action.yml
  README.md
  package.json
  packages/auth/Dockerfile
  packages/backend/Dockerfile
  packages/http-signature-utils/Dockerfile
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/package.json
Labels: type: documentation, type: ci, pkg: backend, pkg: auth, pkg: map, pkg: http-signature-utils

#1014 feat(backend): migrate to `@apollo/server`
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/page.test.ts
  packages/backend/src/graphql/resolvers/paymentPointerKey.test.ts
  packages/backend/src/graphql/resolvers/payment_pointer.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/receiver.test.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source
