Repository interledger/rafiki, pull requests merged in 2023-03, with the labels that each got.

#1174 Move `http-signature-utils` app for Postman into `infrastructure/local`
  .github/workflows/lint_test_build.yml
  infrastructure/local/docker-compose.yml
  infrastructure/local/local-http-signatures/Dockerfile
  infrastructure/local/local-http-signatures/README.md
  infrastructure/local/local-http-signatures/package.json
  infrastructure/local/local-http-signatures/postman-scripts/preRequestSignatures.js
  infrastructure/local/local-http-signatures/postman-scripts/preRequestSignaturesGrantRequest.js
  infrastructure/local/local-http-signatures/src/app.ts
  infrastructure/local/local-http-signatures/tsconfig.json
  infrastructure/local/peer-docker-compose.yml
  packages/http-signature-utils/README.md
  packages/http-signature-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Labels: type: documentation, type: ci, type: localenv, pkg: http-signature-utils

#1192 docs: Admin APIs
  docs/admin-api.md
  packages/auth/src/grant/model.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/schema.graphql
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/schema.graphql
  packages/mock-account-provider/generated/graphql.ts
Labels: pkg: backend, type: source, pkg: auth, pkg: map

#1191 chore(docs): document accounts and transfers
  docs/account-service-api.md
  docs/accounts-and-transfers.md
  packages/backend/README.md
  packages/backend/docs/backend.svg
Labels: type: documentation, pkg: backend

#1213 chore(docs): document graphql-codegen script
  .github/contributing.md
  README.md
Labels: type: documentation, type: ci

#1231 chore(openapi): use tagged spec version v1.0
  docs/open-payments.md
  packages/auth/README.md
  packages/open-payments/scripts/fetch-schemas.sh
Labels: type: documentation, pkg: auth, pkg: open-payments

#1223 1215/mk/non interactive quotes
  docs/deployment.md
  packages/auth/src/access/types.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/tests/helpers.ts
Labels: type: tests, type: source, pkg: auth

#1207 docs(open-payments): Add readme docs
  packages/open-payments/README.md
  packages/open-payments/src/client/index.ts
Labels: type: documentation, type: source, pkg: open-payments

#1246 chore(docs): document connector
  README.md
  docs/architecture.md
  docs/connector.md
  docs/deployment.md
  docs/glossary.md
  docs/tigerbeetle.md
  infrastructure/local/README.md
  infrastructure/local/tigerbeetle/.env.tigerbeetle
  packages/backend/src/accounting/tigerbeetle/accounts.ts
  packages/backend/src/accounting/tigerbeetle/errors.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/tests/asset.ts
Labels: type: documentation, pkg: backend, type: source, type: localenv

#1271 docs(token-introspection): add README.md
  packages/token-introspection/README.md
Labels: type: documentation

#1289 test(backend): make disparate asset test(s) consistent
  packages/backend/src/open_payments/payment/incoming/service.test.ts
Labels: type: tests, pkg: backend, type: source

#1255 fix(dockerbuild): architectures
  .github/workflows/docker.yml
  packages/auth/Dockerfile
  packages/backend/Dockerfile
Labels: type: ci, pkg: backend, pkg: auth
