Repository interledger/rafiki, pull requests merged in 2023-06, with the labels that each got.

#1454 feat(backend): add webhook event query
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20210422134422_create_events_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/graphql/resolvers/webhooks.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/shared/filters.ts
  packages/backend/src/tests/webhook.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
  packages/frontend/app/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase

#1498 chore: update incoming payment creation payload
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
Labels: pkg: backend, type: source

#1508 fix(docs): fix image links broken by #1434
  localenv/README.md
Labels: type: localenv

#1493 fix(backend): handle open payments with inactive payment pointer
  packages/backend/package.json
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/errors.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/backend/src/open_payments/quote/errors.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/helpers.ts
  packages/backend/src/tests/paymentPointer.ts
  packages/documentation/docs/integration/deployment.md
  pnpm-lock.yaml
Labels: type: documentation, type: tests, pkg: backend, type: source, pkg: documentation

#1501 feat: ask for payment pointer from ASE
  localenv/happy-life-bank/seed.yml
  localenv/mock-account-servicing-entity/app/lib/accounts.server.ts
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/app/lib/transactions.server.ts
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/app/routes/webhooks.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/backend/src/openapi/webhooks.yaml
  packages/backend/src/shared/utils.test.ts
  packages/backend/src/shared/utils.ts
  packages/documentation/docs/integration/deployment.md
  packages/documentation/docs/integration/getting-started.md
Labels: type: documentation, type: tests, pkg: backend, type: source, pkg: mock-ase, pkg: documentation

#1506 feat(grant): add filter by identifier
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/graphql/resolvers/grant.ts
  packages/auth/src/graphql/resolvers/index.ts
  packages/auth/src/graphql/resolvers/page.test.ts
  packages/auth/src/graphql/scalars/BigInt.test.ts
  packages/auth/src/graphql/scalars/BigInt.ts
  packages/auth/src/graphql/scalars/UInt8.test.ts
  packages/auth/src/graphql/scalars/UInt8.ts
  packages/auth/src/graphql/scalars/index.ts
  packages/auth/src/graphql/schema.graphql
  packages/auth/src/shared/filters.ts
  packages/auth/src/tests/grant.ts
Labels: type: tests, type: source, pkg: auth

#1527 feat: add base parameter to /rates API
  localenv/mock-account-servicing-entity/app/routes/rates.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/openapi/exchange-rates.yaml
  packages/backend/src/rates/service.ts
  packages/backend/src/rates/util.test.ts
  packages/backend/src/rates/util.ts
Labels: type: tests, pkg: backend, type: source, pkg: mock-ase

#1529 chore: fix migrations
  packages/backend/migrations/20210422134422_create_events_table.js
  packages/backend/migrations/20211012172409_create_payment_pointers_table.js
  packages/backend/migrations/20230629094019_drop_events_table.js
  packages/backend/migrations/20230629094400_add_deactivatedat_payment_pointers.js
Labels: pkg: backend

#1528 feat: only poll for payment pointers in the open payments middleware
  packages/backend/src/open_payments/payment_pointer/middleware.ts
  packages/backend/src/open_payments/payment_pointer/service.test.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
Labels: type: tests, pkg: backend, type: source
