Repository interledger/rafiki, pull requests merged in 2023-08, with the labels that each got.

#1666 feat(backend): add payments query
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20230718142550_create_combined_payments_view.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/combined_payments.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/combined/model.ts
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/combined/service.ts
  packages/backend/src/shared/baseModel.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/tests/paymentPointer.ts
  packages/documentation/docs/apis/backend/enums.md
  packages/documentation/docs/apis/backend/inputObjects.md
  packages/documentation/docs/apis/backend/interfaces.md
  packages/documentation/docs/apis/backend/objects.md
  packages/documentation/docs/apis/backend/queries.md
  packages/frontend/app/generated/graphql.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#1645 refactor(auth): factor out interaction routes into separate route service
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/index.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
Labels: type: tests, type: source, pkg: auth

#1621 feat(frontend): add payment pointers views
  infrastructure/helm/rafiki/values.yaml
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/schema.graphql
  packages/documentation/docs/apis/backend/objects.md
  packages/documentation/docs/integration/deployment.md
  packages/frontend/app/PublicEnv.tsx
  packages/frontend/app/components/Badge.tsx
  packages/frontend/app/components/Sidebar.tsx
  packages/frontend/app/components/index.ts
  packages/frontend/app/components/ui/Dropdown.tsx
  packages/frontend/app/components/ui/Input.tsx
  packages/frontend/app/components/ui/Select.tsx
  packages/frontend/app/components/ui/index.tsx
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/lib/api/payment-pointer.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/root.tsx
  packages/frontend/app/routes/payment-pointers.$paymentPointerId.tsx
  packages/frontend/app/routes/payment-pointers._index.tsx
  packages/frontend/app/routes/payment-pointers.create.tsx
  packages/frontend/app/routes/peers.create.tsx
  packages/frontend/app/shared/utils.ts
Labels: pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#1689 feat: cross-currency peer to peer payment example
  localenv/cloud-nine-wallet/seed.yml
  localenv/happy-life-bank/seed.yml
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/app/routes/quotes.ts
  postman/collections/Interledger.json
Labels: pkg: mock-ase

#1716 refactor: update rates service
  localenv/cloud-nine-wallet/seed.yml
  localenv/happy-life-bank/seed.yml
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/transactions.server.ts
  localenv/mock-account-servicing-entity/app/routes/quotes.ts
  localenv/mock-account-servicing-entity/app/routes/rates.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/rates/service.ts
  packages/backend/src/rates/util.test.ts
  packages/backend/src/rates/util.ts
  packages/documentation/docs/integration/getting-started.md
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#1600 chore: audit package.json's
  localenv/local-http-signatures/package.json
  localenv/mock-account-servicing-entity/package.json
  package.json
  packages/auth/package.json
  packages/backend/package.json
  packages/token-introspection/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth, pkg: mock-ase

#1709 ci: postman publish API action
  .github/workflows/postman-publish-main.yml
  .github/workflows/postman-publish-tag.yml
  .github/workflows/postman-publish.yml
  postman/collections/Interledger.json
Labels: type: ci

#1702 feat(backend): add fees table and update fee mut
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20230731141948_create_fee_table.js
  packages/backend/src/app.ts
  packages/backend/src/fee/errors.ts
  packages/backend/src/fee/model.ts
  packages/backend/src/fee/service.test.ts
  packages/backend/src/fee/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/fee.test.ts
  packages/backend/src/graphql/resolvers/fee.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/documentation/docs/apis/backend/enums.md
  packages/documentation/docs/apis/backend/inputObjects.md
  packages/documentation/docs/apis/backend/interfaces.md
  packages/documentation/docs/apis/backend/mutations.md
  packages/documentation/docs/apis/backend/objects.md
  packages/frontend/app/generated/graphql.ts
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#1710 feat(auth): use GNAP-ier grant states
  packages/auth/migrations/20220504161932_create_grants_table.js
  packages/auth/src/access/service.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/graphql/schema.graphql
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/signature/middleware.test.ts
  packages/documentation/docs/apis/auth/enums.md
  packages/documentation/docs/apis/auth/objects.md
  postman/collections/Interledger.json
Labels: type: tests, type: source, pkg: auth, pkg: documentation, type: documentation

#1748 docs: add asset docs
  packages/documentation/docs/concepts/asset.md
Labels: pkg: documentation, type: documentation

#1774 fix: typo
  .github/workflows/lint_test_build.yml
Labels: type: ci

#1779 fix: resolve issues raised in #1778
  packages/documentation/src/components/docs/LargeImg/LargeImg.module.css
  packages/documentation/src/content/docs/concepts/asset.md
  packages/documentation/src/content/docs/index.mdx
  packages/documentation/src/content/docs/integration/event-handlers.md
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/documentation/src/content/docs/integration/management.md
  packages/documentation/src/content/docs/introduction/architecture.md
  packages/documentation/src/content/docs/introduction/overview.md
  packages/documentation/src/content/docs/playground/overview.md
  packages/documentation/src/styles/ilf-docs.css
Labels: pkg: documentation, type: documentation

#1783 docs: broken links
  packages/documentation/src/content/docs/concepts/asset.md
  packages/documentation/src/content/docs/concepts/interledger-protocol/connector.md
  packages/documentation/src/content/docs/concepts/interledger-protocol/peering.md
  packages/documentation/src/content/docs/concepts/open-payments/grant-interaction.mdx
  packages/documentation/src/content/docs/concepts/open-payments/key-registry.mdx
  packages/documentation/src/content/docs/integration/deployment.md
  packages/documentation/src/content/docs/integration/event-handlers.md
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/documentation/src/content/docs/integration/management.md
  packages/documentation/src/content/docs/introduction/overview.md
  packages/documentation/src/content/docs/playground/overview.md
  packages/documentation/src/content/docs/reference/glossary.md
Labels: pkg: documentation, type: documentation

#1786 fix: add mutation observer for long ToC
  packages/documentation/astro.config.mjs
  packages/documentation/public/scripts.js
Labels: pkg: documentation

#1801 chore(frontend): update rafiki logo
  packages/frontend/app/root.tsx
  packages/frontend/public/favicon.svg
  packages/frontend/public/logo.svg
Labels: pkg: frontend
