Repository interledger/rafiki, pull requests merged in 2024-08, with the labels that each got.

#2839 feat(frontend): ux improvements to liquidity dialog component
  packages/frontend/app/components/LiquidityDialog.tsx
  packages/frontend/app/routes/assets.$assetId.tsx
Labels: pkg: frontend

#2842 feat(docker): switch to alpine3.19
  localenv/mock-account-servicing-entity/Dockerfile
  packages/auth/Dockerfile.dev
  packages/auth/Dockerfile.prod
  packages/backend/Dockerfile.dev
  packages/backend/Dockerfile.prod
  packages/frontend/Dockerfile.dev
  packages/frontend/Dockerfile.prod
Labels: pkg: backend, pkg: frontend, pkg: auth, pkg: mock-ase

#2832 fix(auth): interact redirect
  packages/auth/src/app.ts
  packages/auth/src/interaction/routes.ts
Labels: type: source, pkg: auth

#2843 feat(interaction): return grantId
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/openapi/specs/id-provider.yaml
Labels: type: tests, type: source, pkg: auth

#2841 feat(outgoing-payment): add grantId to admin api
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Payment/Get Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Outgoing Payment.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/tests/outgoingPayment.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2837 feat(auth): soft delete access tokens and grant accesses
  packages/auth/migrations/20240802171939_add_revoked_at_to_access_tokens.js
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/service.ts
  packages/auth/src/accessToken/model.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
Labels: type: tests, type: source, pkg: auth

#2851 feat(auth): set session expiry based on interaction expiry env
  packages/auth/src/app.ts
Labels: type: source, pkg: auth

#2861 refactor(dependencies): axios to 1.7.4
  packages/auth/package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/token-introspection/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: frontend, pkg: auth

#2869 testing collab on sarah's branch
  packages/documentation/src/content/docs/services-and-aux-packages/auth-service.mdx
Labels: pkg: documentation, type: documentation

#2870 docs: testing update
  packages/documentation/src/content/docs/intro-to-rafiki/overview.mdx
Labels: pkg: documentation, type: documentation

#2828 feat(tests): initial performance test
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/performance/README.md
  test/performance/package.json
  test/performance/scripts/create-outgoing-payments.js
  test/performance/scripts/run-tests.sh
Labels: type: tests

#2867 docs: updated READMEs and added Rafiki Admin docs
  localenv/README.md
  packages/documentation/astro.config.mjs
  packages/documentation/public/img/rafiki-admin.png
  packages/documentation/public/img/rafiki-auth.png
  packages/documentation/src/content/docs/introduction/overview.md
  packages/documentation/src/content/docs/playground/overview.md
  packages/documentation/src/content/docs/rafikiadmin/auth.md
  packages/documentation/src/content/docs/rafikiadmin/overview.md
  packages/frontend/README.md
Labels: pkg: frontend, type: localenv, pkg: documentation, type: documentation

#2858 feat(quote): remove internal fields from schema
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Cross Currency Payment/Create Quote.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Payment/Create Quote.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Cancel Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Outgoing Payment From Incoming Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Quote.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Quote.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/admin-client.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2862 feat(backend): track if receiver is local
  packages/backend/src/graphql/resolvers/receiver.test.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/model.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/receiver.ts
Labels: type: tests, pkg: backend, type: source

#2887 feat(backend): start of handling grant token rotation more gracefully
  packages/backend/migrations/20240820101201_add_deleted_at_grants.js
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/grant/errors.ts
  packages/backend/src/open_payments/grant/model.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
Labels: type: tests, pkg: backend, type: source

#2888 refactor(backend): handle grant lookup more gracefully in remote incoming payment service
  packages/backend/src/index.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
  packages/backend/src/open_payments/payment/incoming_remote/errors.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.test.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
Labels: type: tests, pkg: backend, type: source

#2880 fix(wallet-address)!: additional properties
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/routes.test.ts
Labels: type: tests, pkg: backend, type: source, breaking

#2881 feat(backend): improve PSQL balance calculation
  packages/backend/migrations/20240820161040_add_ledger_transfer_constraint.js
  packages/backend/src/accounting/psql/balance.test.ts
  packages/backend/src/accounting/psql/balance.ts
  packages/backend/src/tests/ledgerTransfer.ts
Labels: type: tests, pkg: backend, type: source

#2797 feat: added packet count telemetry metrics
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/payment-method/ilp/connector/core/README.md
  packages/backend/src/payment-method/ilp/connector/core/middleware/telemetry.ts
  packages/backend/src/payment-method/ilp/connector/core/rafiki.ts
  packages/backend/src/payment-method/ilp/connector/core/telemetry.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/telemetry.test.ts
  packages/backend/src/payment-method/ilp/connector/core/test/telemetry.test.ts
  packages/backend/src/payment-method/ilp/connector/index.ts
Labels: type: tests, pkg: backend, type: source, type: telemetry

#2896 feat(backend): ww performance create quote metrics
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  packages/backend/src/fee/service.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/payment-method/ilp/service.ts
  test/performance/scripts/create-outgoing-payments.js
Labels: type: tests, pkg: backend, type: source

#2884 feat(backend): add trace to outgoing payment lifecycle
  packages/backend/src/open_payments/payment/outgoing/worker.ts
Labels: pkg: backend, type: source

#2907 fix: always pass in `identifier` into token introspection
  packages/auth/src/access/utils.test.ts
  packages/auth/src/access/utils.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#2910 feat(backend): add tracing, metrics, get peer tweak
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/payment-method/ilp/connector/index.ts
  packages/backend/src/payment-method/ilp/peer/service.ts
  pnpm-lock.yaml
  test/performance/scripts/create-outgoing-payments.js
Labels: type: tests, pkg: backend, type: source

#2913 feat(workflow): add to docs project if issue is labelled with docs
  .github/workflows/add_to_docs_board.yml
Labels: type: ci

#2914 chore(workflow): fix add to project action version
  .github/workflows/add_to_docs_board.yml
Labels: type: ci
