Repository interledger/rafiki, pull requests merged in 2024-10, with the labels that each got.

#2991 refactor(backend): add NoopTelemetryServiceImpl to make tel optional
  localenv/telemetry/otel-collector-config.yaml
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/payment-method/ilp/connector/core/rafiki.ts
  packages/backend/src/payment-method/ilp/connector/index.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/telemetry/service.test.ts
  packages/backend/src/telemetry/service.ts
Labels: type: tests, pkg: backend, type: source

#3016 docs: rafiki admin auth optional
  packages/documentation/src/content/docs/admin/admin-user-guide.mdx
  packages/documentation/src/content/docs/integration/playground/overview.mdx
  packages/documentation/src/content/docs/integration/services/frontend-service.mdx
Labels: pkg: documentation

#3007 docs: add custom styles for wider tables
  packages/documentation/src/content/docs/integration/requirements/idp.mdx
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
  packages/documentation/src/content/docs/resources/environment-variables.mdx
  packages/documentation/src/partials/auth-variables.mdx
  packages/documentation/src/partials/backend-variables.mdx
  packages/documentation/src/partials/frontend-variables.mdx
  packages/documentation/src/styles/rafiki.css
Labels: pkg: documentation

#3013 docs: update graphql descriptions backend
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2969 fix(backend): fix OP resource tests
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/auth/src/index.ts
  packages/backend/migrations/20240827115832_update_resources_with_tenantId.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/resolvers/tenant_endpoints.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/grant/model.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/open_payments/wallet_address/routes.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: auth, pkg: mock-ase, pkg: mock-account-service-lib

#3024 docs: added missing responses to id-provider requests
  packages/auth/src/openapi/specs/id-provider.yaml
Labels: type: source, pkg: auth

#3028 feat(backend): make payment retry attempts configurable via env
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
Labels: pkg: backend, type: source

#3010 docs: update graphql descriptions auth
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/schema.graphql
Labels: type: source, pkg: auth

#3038 docs: updating table styles
  packages/documentation/src/content/docs/admin/manage-liquidity.mdx
  packages/documentation/src/content/docs/admin/manage-peering.mdx
  packages/documentation/src/content/docs/integration/playground/overview.mdx
  packages/documentation/src/content/docs/integration/prod/docker-compose.mdx
  packages/documentation/src/content/docs/integration/requirements/exchange-rates.mdx
  packages/documentation/src/content/docs/integration/requirements/idp.mdx
  packages/documentation/src/content/docs/integration/requirements/sending-fees.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
  packages/documentation/src/content/docs/integration/requirements/webhook-events.mdx
  packages/documentation/src/content/docs/overview/concepts/accounting.mdx
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
  packages/documentation/src/content/docs/resources/webhook-event-types.mdx
Labels: pkg: documentation

#3039 docs: added new backend environment variable
  packages/documentation/src/content/docs/admin/admin-user-guide.mdx
  packages/documentation/src/content/docs/integration/playground/overview.mdx
  packages/documentation/src/content/docs/integration/requirements/exchange-rates.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
  packages/documentation/src/content/docs/resources/webhook-event-types.mdx
  packages/documentation/src/partials/backend-variables.mdx
Labels: pkg: documentation

#3045 chore(auth): fix generated types
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/schema.graphql
Labels: type: source, pkg: auth

#3043 chore(backend): dont wait 30s when completing/expiring incoming payment
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/account.ts
Labels: type: tests, pkg: backend, type: source

#3053 docs: idp, keys, test wallet
  packages/documentation/src/content/docs/admin/admin-user-guide.mdx
  packages/documentation/src/content/docs/integration/playground/autopeering.mdx
  packages/documentation/src/content/docs/integration/playground/testnet.mdx
  packages/documentation/src/content/docs/integration/requirements/idp.mdx
  packages/documentation/src/content/docs/integration/services/auth-service.mdx
  packages/documentation/src/content/docs/overview/concepts/open-payments.mdx
Labels: pkg: documentation
