Repository interledger/rafiki, pull requests merged in 2024-01, with the labels that each got.

#2269 fix(auth): enable interaction on list-all grant requests by default
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/utils.ts
  packages/documentation/src/content/docs/integration/deployment.md
Labels: type: tests, type: source, pkg: auth, pkg: documentation, type: documentation

#2304 feat: rename add liquidity mutations to deposit
  localenv/docs/peer-setup.md
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/auto-peering.test.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/payment-method/ilp/auto-peering/errors.ts
  packages/backend/src/payment-method/ilp/auto-peering/service.test.ts
  packages/backend/src/payment-method/ilp/auto-peering/service.ts
  packages/backend/src/payment-method/ilp/peer/service.test.ts
  packages/backend/src/payment-method/ilp/peer/service.ts
  packages/documentation/src/content/docs/concepts/accounting/liquidity.md
  packages/documentation/src/content/docs/concepts/interledger-protocol/peering.md
  packages/documentation/src/content/docs/integration/event-handlers.mdx
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/lib/api/peer.server.ts
  packages/frontend/app/routes/assets.$assetId.deposit-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.deposit-liquidity.tsx
  postman/collections/Interledger.json
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation

#2306 feat(grants): add sorting option
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/graphql/resolvers/grant.ts
  packages/auth/src/graphql/resolvers/page.test.ts
  packages/auth/src/graphql/schema.graphql
  packages/auth/src/shared/baseModel.test.ts
  packages/auth/src/shared/baseModel.ts
  packages/auth/src/shared/pagination.ts
Labels: type: tests, type: source, pkg: auth

#2272 fix: the localenv seed set up now only creates a single peering relat…
  localenv/cloud-nine-wallet/seed.yml
  localenv/happy-life-bank/seed.yml
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/run_seed.server.ts
  localenv/mock-account-servicing-entity/seed.example.yml
Labels: pkg: mock-ase

#2340 fix: improve type safety
  packages/auth/src/graphql/resolvers/page.test.ts
  packages/auth/src/index.ts
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/page.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/payment-method/ilp/connector/core/utils/create-context.ts
  packages/backend/src/payment-method/ilp/connector/core/utils/http-mocks.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.test.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#2337 feat(backend): upgrade Rafiki to open payments package v6.5
  openapi/resource-server.yaml
  openapi/wallet-address-server.yaml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/combined_payments.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/resolvers/wallet_address.ts
  packages/backend/src/graphql/resolvers/webhooks.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/wallet_address/key/routes.test.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/routes.test.ts
  packages/backend/src/open_payments/wallet_address/routes.ts
  packages/backend/src/openapi/wallet-address-server.yaml
  packages/backend/src/shared/baseModel.test.ts
  packages/backend/src/shared/baseModel.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/shared/pagination.ts
  pnpm-lock.yaml
  scripts/fetch-schemas.sh
Labels: type: tests, pkg: backend, type: source

#2345 chore: upgrade to typescript 5
  localenv/mock-account-servicing-entity/tsconfig.json
  package.json
  packages/auth/package.json
  packages/auth/src/graphql/scalars/UInt8.ts
  packages/auth/src/tests/context.ts
  packages/backend/package.json
  packages/backend/src/graphql/scalars/UInt8.ts
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  packages/token-introspection/package.json
  pnpm-lock.yaml
  tsconfig.build.json
Labels: pkg: backend, pkg: frontend, type: source, pkg: auth, pkg: mock-ase

#2359 chore(backend): upgrade ilp-protocol-stream
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend

#2369 chore: update ilp dependencies
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend

#2349 chore(frontend): remix v2 upgrade
  .github/workflows/lint_test_build.yml
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/Dockerfile
  localenv/mock-account-servicing-entity/app/entry.server.tsx
  localenv/mock-account-servicing-entity/app/lib/transactions.server.ts
  localenv/mock-account-servicing-entity/app/lib/utils.ts
  localenv/mock-account-servicing-entity/app/root.tsx
  localenv/mock-account-servicing-entity/app/routes/_index.tsx
  localenv/mock-account-servicing-entity/app/routes/accounts.$accountId.tsx
  localenv/mock-account-servicing-entity/app/routes/consent-screen.tsx
  localenv/mock-account-servicing-entity/app/routes/mock-idp._index.tsx
  localenv/mock-account-servicing-entity/app/routes/mock-idp.fake-client.ts
  localenv/mock-account-servicing-entity/app/routes/mock-idp/fake-client.ts
  localenv/mock-account-servicing-entity/app/routes/quotes.ts
  localenv/mock-account-servicing-entity/app/routes/rates.ts
  localenv/mock-account-servicing-entity/app/routes/shoe-shop.tsx
  localenv/mock-account-servicing-entity/app/routes/webhooks.ts
  localenv/mock-account-servicing-entity/package.json
  localenv/mock-account-servicing-entity/remix.config.js
  packages/documentation/src/content/docs/integration/deployment.md
  packages/frontend/Dockerfile
  packages/frontend/app/entry.server.tsx
  packages/frontend/app/lib/message.server.ts
  packages/frontend/app/root.tsx
  packages/frontend/app/routes/_index.tsx
  packages/frontend/app/routes/assets.$assetId.deposit-liquidity.tsx
  packages/frontend/app/routes/assets.$assetId.tsx
  packages/frontend/app/routes/assets.$assetId.withdraw-liquidity.tsx
  packages/frontend/app/routes/assets.$assetId_.fee-history.tsx
  packages/frontend/app/routes/assets._index.tsx
  packages/frontend/app/routes/assets.create.tsx
  packages/frontend/app/routes/payments._index.tsx
  packages/frontend/app/routes/payments.incoming.$incomingPaymentId.tsx
  packages/frontend/app/routes/payments.incoming.$incomingPaymentId.withdraw-liquidity.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.deposit-liquidity.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.withdraw-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.deposit-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.tsx
  packages/frontend/app/routes/peers.$peerId.withdraw-liquidity.tsx
  packages/frontend/app/routes/peers._index.tsx
  packages/frontend/app/routes/peers.create.tsx
  packages/frontend/app/routes/wallet-addresses.$walletAddressId.tsx
  packages/frontend/app/routes/wallet-addresses.$walletAddressId.withdraw-liquidity.tsx
  packages/frontend/app/routes/wallet-addresses._index.tsx
  packages/frontend/app/routes/wallet-addresses.create.tsx
  packages/frontend/app/routes/webhooks.tsx
  packages/frontend/app/shared/utils.ts
  packages/frontend/package.json
  packages/frontend/remix.config.js
  pnpm-lock.yaml
Labels: type: ci, pkg: frontend, pkg: mock-ase, pkg: documentation, type: documentation
