Repository interledger/rafiki, pull requests merged in 2024-05, with the labels that each got.

#2692 chore: bump dependencies to latest versions
  packages/documentation/package.json
  pnpm-lock.yaml
Labels: pkg: documentation

#2701 chore(bruno): fix Peer to Peer example requests
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Cross Currency Payment/Create Quote.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Payment/Create Quote.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  bruno/collections/Rafiki/scripts.js
  localenv/README.md
  localenv/happy-life-bank/seed.yml
  packages/documentation/src/content/docs/playground/overview.md
Labels: type: localenv, pkg: documentation, type: documentation

#2680 feat(backend): improve ilp connector logs
  packages/backend/src/payment-method/ilp/connector/core/controllers/stream.ts
  packages/backend/src/payment-method/ilp/connector/core/factories/test-logger.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/account.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/error-handler.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/ildcp.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/max-packet-amount.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/reduce-expiry.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/validate-fulfillment.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/account-middleware.test.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/error-handler-middleware.test.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/max-packet-amount.test.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/validate-fulfillment.test.ts
Labels: type: tests, pkg: backend, type: source

#2676 feat(auth)!: add logs to graphql resolvers
  packages/auth/src/app.ts
  packages/auth/src/graphql/errors/index.ts
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/auth/src/graphql/generated/graphql.ts
  packages/auth/src/graphql/plugin/index.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/graphql/resolvers/grant.ts
  packages/auth/src/graphql/schema.graphql
Labels: type: tests, type: source, pkg: auth, breaking

#2710 chore(workflows): bump prerequisite timeout from 1 to 5 minutes
  .github/workflows/node-build.yml
Labels: type: ci

#2717 docs: remove outdated link/lang
  packages/documentation/src/content/docs/apis/idempotency.md
  packages/documentation/src/content/docs/concepts/open-payments/overview.md
Labels: pkg: documentation, type: documentation

#2705 feat(backend): SPSPRouteError
  packages/backend/src/open_payments/route-errors.test.ts
  packages/backend/src/open_payments/route-errors.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.test.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.ts
  packages/backend/src/payment-method/ilp/spsp/routes.test.ts
  packages/backend/src/payment-method/ilp/spsp/routes.ts
Labels: type: tests, pkg: backend, type: source

#2693 feat: use redis as backend for koa-session
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/index.ts
  packages/documentation/public/img/localenv-architecture.png
  packages/documentation/public/img/rafiki-architecture.png
  packages/documentation/src/content/docs/integration/deployment.md
  packages/documentation/src/content/docs/introduction/architecture.md
  packages/documentation/src/content/docs/playground/overview.md
  packages/documentation/src/excalidraw/architecture.excalidraw
  packages/documentation/src/excalidraw/localenv-architecture.excalidraw
  pnpm-lock.yaml
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, type: source, pkg: auth, pkg: documentation, type: documentation

#2719 refactor: standardize default a link styling
  packages/frontend/app/routes/payments.incoming.$incomingPaymentId.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.tsx
  packages/frontend/app/routes/peers.$peerId.tsx
  packages/frontend/app/routes/peers.create.tsx
  packages/frontend/app/styles/tailwind.css
Labels: pkg: frontend

#2694 feat(api): cancel outgoing payment
  bruno/collections/Rafiki/Rafiki Admin APIs/Cancel Outgoing Payment.bru
  localenv/cloud-nine-wallet/seed.yml
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/generated/graphql.ts
  localenv/mock-account-servicing-entity/seed.example.yml
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/documentation/src/content/docs/integration/event-handlers.mdx
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/shared/utils.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation, pkg: mock-account-service-lib

#2659 feat(2057): Include handler for payment_pointer.web_monetization webhook event
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/app/routes/webhooks.ts
  packages/mock-account-service-lib/src/types.ts
Labels: pkg: mock-ase, pkg: mock-account-service-lib

#2671 feat(2662)!: 2phase incoming and outgoing payments
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Asset Liquidity Withdrawal.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Incoming Payment Withdrawal.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Outgoing Payment Withdrawal.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Peer Liquidity Withdrawal.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Wallet Address Withdrawal.bru
  bruno/collections/Rafiki/environments/Autopeering.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  bruno/collections/Rafiki/environments/Remote.bru
  localenv/README.md
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/schema.graphql
  packages/documentation/README.md
  packages/documentation/src/content/docs/concepts/accounting/liquidity.md
  packages/documentation/src/content/docs/concepts/accounting/tigerbeetle.md
  packages/documentation/src/content/docs/integration/event-handlers.mdx
  packages/documentation/src/content/docs/playground/overview.md
  packages/documentation/src/content/docs/reference/glossary.md
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/payments.server.ts
  packages/frontend/app/routes/assets.$assetId.withdraw-liquidity.tsx
  packages/frontend/app/routes/payments.incoming.$incomingPaymentId.withdraw-liquidity.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.withdraw-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.withdraw-liquidity.tsx
  packages/frontend/app/routes/wallet-addresses.$walletAddressId.withdraw-liquidity.tsx
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, type: localenv, pkg: mock-ase, pkg: documentation, type: documentation, breaking, pkg: mock-account-service-lib

#2724 refactor: use pino logger type directly, rm unused logger
  packages/auth/src/logger/service.ts
  packages/auth/src/shared/baseService.ts
  packages/backend/src/logger/service.ts
  packages/backend/src/shared/baseService.ts
Labels: pkg: backend, type: source, pkg: auth

#2722 chore(backend): update wallet address middleware & error handling
  bruno/collections/Rafiki/SPSP/Get SPSP Payment Pointer.bru
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/wallet_address/key/routes.test.ts
  packages/backend/src/open_payments/wallet_address/key/routes.ts
  packages/backend/src/open_payments/wallet_address/middleware.test.ts
  packages/backend/src/open_payments/wallet_address/middleware.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/routes.test.ts
  packages/backend/src/open_payments/wallet_address/routes.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.test.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.ts
  packages/backend/src/payment-method/ilp/spsp/routes.test.ts
  packages/backend/src/payment-method/ilp/spsp/routes.ts
Labels: type: tests, pkg: backend, type: source

#2718 feat: hot server reload & debugging over docker
  .github/workflows/node-build.yml
  localenv/README.md
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/auth/Dockerfile.dev
  packages/auth/Dockerfile.prod
  packages/auth/package.json
  packages/auth/tsconfig.json
  packages/backend/Dockerfile.dev
  packages/backend/Dockerfile.prod
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/documentation/src/content/docs/playground/overview.md
  packages/frontend/Dockerfile.dev
  packages/frontend/Dockerfile.prod
  pnpm-lock.yaml
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
Labels: type: ci, type: tests, pkg: backend, pkg: frontend, pkg: auth, type: localenv, pkg: documentation, type: documentation

#2697 feat(auth): add logs to routes
  packages/auth/package.json
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/index.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/logger/service.ts
  packages/auth/src/shared/gnapErrors.test.ts
  packages/auth/src/shared/gnapErrors.ts
  packages/auth/src/shared/utils.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  pnpm-lock.yaml
Labels: type: tests, type: source, pkg: auth

#2728 feat(auth)!: update default values for env variables
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/auth/jest.config.js
  packages/auth/jest.env.js
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/config/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/documentation/src/content/docs/integration/deployment.md
  test/integration/lib/test-actions/index.ts
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, type: source, pkg: auth, pkg: documentation, type: documentation

#2743 feat(2712): remove the accounting service interface from rafiki
  packages/backend/src/payment-method/ilp/connector/core/rafiki.ts
  packages/backend/src/payment-method/ilp/connector/core/test/mocks/accounting-service.ts
Labels: pkg: backend, type: source

#2744 docs: add get involved page
  packages/documentation/src/content/docs/reference/get-involved.md
Labels: pkg: documentation, type: documentation

#2746 fix(mock-ase): interact bug by updating idp secret
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/app/lib/apiClient.ts
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/routes/consent-screen.tsx
  localenv/mock-account-servicing-entity/app/routes/mock-idp._index.tsx
  localenv/mock-account-servicing-entity/app/routes/shoe-shop.tsx
  packages/mock-account-service-lib/src/types.ts
  test/integration/lib/config.ts
  test/integration/lib/test-actions/index.ts
  test/integration/testenv/cloud-nine-wallet/.env
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/.env
Labels: type: tests, pkg: mock-ase, pkg: mock-account-service-lib

#2699 feat(2589): soft delete unused asset
  bruno/collections/Rafiki/Rafiki Admin APIs/Delete Asset.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20240502132505_add_deleted_at_to_assets.js
  packages/backend/src/asset/errors.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/routes/assets.$assetId.tsx
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2665 feat(auth)!: move consent interaction to different port
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/app/lib/apiClient.ts
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/index.ts
  packages/auth/src/tests/app.ts
  packages/documentation/src/content/docs/concepts/open-payments/grant-interaction.mdx
  packages/documentation/src/content/docs/integration/deployment.md
  test/integration/integration.test.ts
  test/integration/lib/config.ts
  test/integration/lib/test-actions/index.ts
  test/integration/lib/test-actions/open-payments.ts
  test/integration/testenv/cloud-nine-wallet/.env
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/.env
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, type: source, pkg: auth, pkg: mock-ase, pkg: documentation, type: documentation, breaking

#2727 chore(docs): validate all internal documentation links, fix existing broken links
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  packages/documentation/src/content/docs/integration/deployment.md
  packages/documentation/src/content/docs/integration/event-handlers.mdx
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/documentation/src/content/docs/integration/management.md
  packages/documentation/src/content/docs/reference/get-involved.md
  packages/documentation/src/content/docs/telemetry/overview.md
  pnpm-lock.yaml
Labels: pkg: documentation, type: documentation

#2748 chore(backend): allow asset scale 2 to asset scale 9 payments
  packages/backend/migrations/20240524102509_update_quote_ratio_columns.js
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#2750 chore: added disclaimer comments around our implementation of the MASE
  localenv/README.md
  localenv/mock-account-servicing-entity/app/lib/apiClient.ts
  localenv/mock-account-servicing-entity/app/routes/consent-screen.tsx
  localenv/mock-account-servicing-entity/app/routes/mock-idp._index.tsx
  localenv/mock-account-servicing-entity/app/routes/shoe-shop.tsx
Labels: type: localenv, pkg: mock-ase
