Repository interledger/rafiki, pull requests merged in 2024-12, with the labels that each got.

#3133 feat(auth): tenants table v1
  packages/auth/migrations/20241125233415_create_tenants_table.js
  packages/auth/src/tenant/model.ts
Labels: type: source, pkg: auth

#3142 feat(backend): use cache when fetching outgoing payment in worker
  packages/backend/src/open_payments/payment/outgoing/worker.ts
Labels: pkg: backend, type: source

#3131 chore: Added state and expiry date to accounting transfer
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Accounting Ledger Transfers.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/accounting/tigerbeetle/utils.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/accounting_transfer.psql.test.ts
  packages/backend/src/graphql/resolvers/accounting_transfer.tigerbeetle.test.ts
  packages/backend/src/graphql/resolvers/accounting_transfer.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3144 feat(auth): tenant service
  packages/auth/migrations/20241125233415_create_tenants_table.js
  packages/auth/src/app.ts
  packages/auth/src/index.ts
  packages/auth/src/tenant/service.test.ts
  packages/auth/src/tenant/service.ts
Labels: type: tests, type: source, pkg: auth

#3147 chore: re-enable Prettier for docs
  .prettierignore
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/playground/overview.mdx
  packages/documentation/src/content/docs/integration/prod/docker-compose.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
  packages/documentation/src/content/docs/integration/requirements/webhook-events.mdx
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
  packages/documentation/src/content/docs/resources/glossary.mdx
  packages/documentation/src/partials/auth-variables.mdx
  packages/documentation/src/partials/backend-variables.mdx
  packages/documentation/src/partials/frontend-variables.mdx
Labels: pkg: documentation

#3146 chore(backend): fix incrementCounterWithTransactionAmount function
  packages/backend/src/telemetry/service.test.ts
  packages/backend/src/telemetry/service.ts
Labels: type: tests, pkg: backend, type: source

#3165 fix(backend): inverted rate
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/rates/util.test.ts
  packages/backend/src/rates/util.ts
Labels: type: tests, pkg: backend, type: source

#3154 chore: add override for cross-spawn vulnerability
  .github/workflows/node-build.yml
  .grype.yaml
  .trivyignore
  package.json
  pnpm-lock.yaml
Labels: type: ci

#3162 fix(frontend): wallet address creation page
  packages/frontend/app/shared/utils.ts
Labels: pkg: frontend

#3140 feat(backend): tenants service (#3123)
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/backend/jest.config.js
  packages/backend/migrations/20241125224212_create_tenants_table.js
  packages/backend/package.json
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/tenants/model.ts
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tenants/service.ts
  packages/backend/src/tests/tenant.ts
  pnpm-lock.yaml
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, pkg: backend, type: source

#3157 feat: added basic site tracking using Umami
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/index.mdx
Labels: pkg: documentation

#3177 feat(integration): sign Admin API requests during integration tests
  packages/backend/src/app.ts
  pnpm-lock.yaml
  test/integration/lib/apollo-client.ts
  test/integration/lib/config.ts
  test/integration/lib/mock-ase.ts
  test/integration/package.json
  test/integration/testenv/cloud-nine-wallet/.env
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/.env
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, pkg: backend, type: source

#3164 feat(backend): tenant signature validation for admin api
  packages/backend/src/app.ts
  packages/backend/src/shared/utils.test.ts
  packages/backend/src/shared/utils.ts
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tests/tenant.ts
  test/integration/lib/apollo-client.ts
  test/integration/lib/config.ts
  test/integration/lib/mock-ase.ts
  test/integration/testenv/cloud-nine-wallet/.env
  test/integration/testenv/happy-life-bank/.env
Labels: type: tests, pkg: backend, type: source

#3191 docs: mi/3143/add-release-link
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/deployment/docker-compose.mdx
  packages/documentation/src/content/docs/resources/releases.mdx
Labels: pkg: documentation
