Repository interledger/rafiki, pull requests merged in 2024-09, with the labels that each got.

#2909 feat(backend): create operator kratos identity on backend startup
  localenv/admin-auth/docker-compose.yml
  package.json
  packages/backend/jest.config.js
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/frontend/kratos/scripts/userInvitation.ts
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, pkg: backend, pkg: frontend, type: source

#2923 feat(backend): update Incoming Payment mutation
  bruno/collections/Rafiki/Rafiki Admin APIs/Update Incoming Payment.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2943 chore: included the api docs in the integration section
  packages/documentation/astro.config.mjs
Labels: pkg: documentation

#2956 chore: documentation workflow updates
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/add_to_docs_board.yml
Labels: type: ci

#2960 fix(frontend): concatenate correctly base url and path when creating a wallet address
  packages/frontend/app/routes/wallet-addresses.create.tsx
  packages/frontend/app/shared/utils.ts
Labels: pkg: frontend

#2974 fix(backend): non-OP resource test fixes
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  packages/auth/src/index.ts
  packages/backend/jest.config.js
  packages/backend/src/app.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/open_payments/wallet_address/key/routes.test.ts
  packages/backend/src/open_payments/wallet_address/key/service.test.ts
  packages/backend/src/open_payments/wallet_address/middleware.test.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/open_payments/wallet_address/routes.test.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/payment-method/handler/service.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.test.ts
  packages/backend/src/payment-method/ilp/stream-credentials/service.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/shared/utils.test.ts
  packages/backend/src/shared/utils.ts
  packages/backend/src/tenant/service.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/tests/receiver.ts
  packages/backend/src/tests/tenant.ts
  packages/backend/src/tests/walletAddress.ts
  packages/mock-account-service-lib/src/requesters.ts
  packages/mock-account-service-lib/src/seed.ts
  packages/mock-account-service-lib/src/types.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: mock-ase, pkg: mock-account-service-lib

#2977 docs: fixes #2964 and #2946
  packages/documentation/src/content/docs/integration/requirements/idp.mdx
  packages/documentation/src/content/docs/integration/services/backend-service.mdx
Labels: pkg: documentation, user-docs

#2978 docs: added spec for 'incomingPaymentCreated' and schema for 'amount' in webhooks.yaml
  packages/backend/package.json
  packages/backend/src/openapi/specs/webhooks.yaml
Labels: pkg: backend, type: source

#2833 fix(backend): make the rafiki wallet url case insensitive
  packages/backend/src/open_payments/wallet_address/errors.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.ts
Labels: type: tests, pkg: backend, type: source

#3000 docs: fixes #2962
  packages/documentation/src/content/docs/integration/peering.mdx
  packages/documentation/src/content/docs/integration/services/backend-service.mdx
  packages/documentation/src/content/docs/overview/concepts/interledger.mdx
  packages/frontend/app/routes/peers.$peerId.tsx
  packages/frontend/app/routes/peers.create.tsx
Labels: pkg: frontend, pkg: documentation

#2993 feat(backend,localenv): add tenant id to mockAccounts class
  localenv/mock-account-servicing-entity/app/lib/apolloClient.ts
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/app/lib/webhooks.server.ts
  packages/backend/src/tenant/service.ts
  packages/mock-account-service-lib/src/account-provider.ts
  packages/mock-account-service-lib/src/seed.ts
Labels: pkg: backend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2882 feat(docs): add header links
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  packages/documentation/src/styles/rafiki.css
  pnpm-lock.yaml
Labels: pkg: documentation

#3006 docs: remove unused pages
  packages/documentation/src/content/docs/admin/manage-grants.mdx
  packages/documentation/src/content/docs/admin/manage-keys.mdx
  packages/documentation/src/content/docs/overview/concepts/accounts-transfers-liquidity.mdx
  packages/documentation/src/styles/rafiki.css
Labels: pkg: documentation

#3001 feat: Allow configurable cookie SameSite header
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
Labels: type: source, pkg: auth

#2984 fix(backend): graphql resolver tests
  packages/auth/src/index.ts
  packages/backend/src/graphql/middleware/index.test.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/auto-peering.test.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/fee.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/resolvers/walletAddressKey.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/tenant/service.test.ts
  packages/backend/src/tenant/service.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/webhook/service.test.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth
