Repository interledger/rafiki, pull requests merged in 2024-02, with the labels that each got.

#2364 chore: upgrade to newest tigerbeetle version
  infrastructure/helm/tigerbeetle/values.yaml
  localenv/tigerbeetle/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/accounts.ts
  packages/backend/src/accounting/tigerbeetle/errors.ts
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/accounting/tigerbeetle/transfers.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/rafiki.ts
  packages/backend/src/payment-method/ilp/connector/core/test/mocks/accounting-service.ts
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#2373 fix: jest open handles
  packages/backend/src/shared/utils.ts
Labels: pkg: backend, type: source

#2285 feat(auth): add continuation polling
  localenv/mock-account-servicing-entity/app/routes/shoe-shop.tsx
  packages/auth/migrations/20231214184608_add_last_continued_at_drop_wait_grants.js
  packages/auth/package.json
  packages/auth/src/client/service.test.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
  packages/auth/src/interaction/model.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/openapi/id-provider.yaml
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/grant.ts
  packages/backend/src/index.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: mock-ase

#2398 chore: add CODEOWNERS file
  .github/CODEOWNERS
Labels: type: ci

#2401 fix: psql transfer lookup
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
Labels: type: tests, pkg: backend, type: source

#2438 feat(backend): add cors for open payments server
  packages/backend/package.json
  packages/backend/src/app.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#2441 chore: update README.md
  README.md
  packages/documentation/src/content/docs/index.mdx
Labels: pkg: documentation, type: documentation

#2451 feat(telemetry): add optionality info in docs
  packages/documentation/src/content/docs/telemetry/overview.md
Labels: pkg: documentation, type: documentation

#2394 chore: update test memory leaks
  jest.config.js
  package.json
  packages/backend/jest.config.js
  packages/backend/jest.custom-environment.ts
  packages/backend/jest.setup.ts
  packages/backend/jest.tigerbeetle-environment.ts
  packages/backend/package.json
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/auto-peering.test.ts
  packages/backend/src/index.ts
  packages/backend/src/middleware/cache/data-stores/redis.test.ts
  packages/backend/src/middleware/lock/redis.test.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/wallet_address/key/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/payment-method/ilp/auto-peering/service.test.ts
  packages/backend/src/payment-method/ilp/connector/core/factories/ilp-packet.ts
  packages/backend/src/payment-method/ilp/connector/core/test/controllers/stream-controller.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/rates.ts
  packages/backend/src/tests/walletAddress.ts
  packages/backend/src/webhook/service.test.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source
