Repository interledger/rafiki, pull requests merged in 2024-07, with the labels that each got.

#2791 chore: bump dependencies to latest versions
  packages/documentation/package.json
  pnpm-lock.yaml
Labels: pkg: documentation

#2787 feat: transaction time histogram metric
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/telemetry/service.test.ts
  packages/backend/src/telemetry/service.ts
  packages/backend/src/tests/telemetry.ts
  packages/documentation/src/content/docs/telemetry/overview.md
Labels: type: tests, pkg: backend, type: source, pkg: documentation, type: documentation

#2805 fix: fix incorrect loading of admin ui settings page
  packages/frontend/app/routes/auth.login.tsx
  packages/frontend/app/routes/auth.recovery.tsx
  packages/frontend/app/routes/settings.tsx
Labels: pkg: frontend

#2807 refactor(backend): telemetry service interface
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/telemetry.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/telemetry.test.ts
  packages/backend/src/telemetry/service.test.ts
  packages/backend/src/telemetry/service.ts
  packages/backend/src/telemetry/transaction-amount.test.ts
  packages/backend/src/telemetry/transaction-amount.ts
  packages/backend/src/tests/telemetry.ts
Labels: type: tests, pkg: backend, type: source

#2813 chore: update autopeering bruno environment, fix MASE request
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Cross Currency Payment/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Cross Currency Payment/Create Quote.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Cross Currency Payment/Create Receiver (remote Incoming Payment).bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Payment/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Payment/Create Quote.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Payment/Create Receiver -remote Incoming Payment-.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Asset.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Incoming Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Or Update Peer By Url.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Outgoing Payment From Incoming Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Peer.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Quote.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Receiver (remote Incoming Payment).bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Wallet Address Key.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Wallet Address.bru
  bruno/collections/Rafiki/environments/Autopeering.bru
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
Labels: pkg: mock-ase

#2816 feat(localenv): add trace collection (with Tempo) in local playground
  localenv/telemetry/README.md
  localenv/telemetry/docker-compose.yml
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  localenv/telemetry/grafana/provisioning/datasources/datasources.yaml
  localenv/telemetry/otel-collector-config.yaml
  localenv/telemetry/tempo.yaml
  packages/backend/Dockerfile.prod
  packages/backend/package.json
  packages/backend/src/config/app.ts
  packages/backend/src/telemetry/index.ts
  packages/backend/src/telemetry/service.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#2820 feat(backend): add rate probe metric
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  packages/backend/src/index.ts
  packages/backend/src/payment-method/ilp/service.ts
Labels: pkg: backend, type: source

#2776 feat(backend): ip lookup, atomic asset creation, document updates.
  .github/workflows/node-build.yml
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Accounting Ledger Transfers.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  infrastructure/helm/tigerbeetle/values.yaml
  localenv/README.md
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/generated/graphql.ts
  localenv/tigerbeetle/docker-compose.yml
  packages/backend/jest.tigerbeetle-environment.ts
  packages/backend/package.json
  packages/backend/src/accounting/psql/balance.test.ts
  packages/backend/src/accounting/psql/balance.ts
  packages/backend/src/accounting/psql/ledger-account/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/psql/ledger-transfer/model.test.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/accounts.ts
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/accounting/tigerbeetle/transfers.ts
  packages/backend/src/accounting/tigerbeetle/utils.test.ts
  packages/backend/src/accounting/tigerbeetle/utils.ts
  packages/backend/src/app.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/accounting_transfer.psql.test.ts
  packages/backend/src/graphql/resolvers/accounting_transfer.tigerbeetle.test.ts
  packages/backend/src/graphql/resolvers/accounting_transfer.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/test/mocks/accounting-service.ts
  packages/backend/src/tests/accountFactory.ts
  packages/backend/src/tests/ledgerTransfer.ts
  packages/backend/src/tests/tigerbeetle.ts
  packages/documentation/src/content/docs/concepts/accounting/accounts-and-transfers.md
  packages/documentation/src/content/docs/concepts/accounting/tigerbeetle.md
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  pnpm-lock.yaml
  test/integration/lib/generated/graphql.ts
Labels: type: ci, type: tests, pkg: backend, pkg: frontend, type: source, type: localenv, pkg: mock-ase, pkg: documentation, type: documentation, pkg: mock-account-service-lib

#2788 feat(auth): inspect access during token introspection
  packages/auth/src/access/utils.test.ts
  packages/auth/src/access/utils.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/token-introspection/src/client/introspection.test.ts
  packages/token-introspection/src/client/introspection.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#2817 fix(frontend): It is ambiguous on what scale is the withdrawal and deposit input
  packages/frontend/app/components/LiquidityDialog.tsx
  packages/frontend/app/routes/assets.$assetId.deposit-liquidity.tsx
  packages/frontend/app/routes/assets.$assetId.withdraw-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.deposit-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.withdraw-liquidity.tsx
Labels: pkg: frontend
