Repository interledger/rafiki, pull requests merged in 2024-04, with the labels that each got.

#2622 feat(migrations): support for running database migrations manually
  packages/auth/Dockerfile
  packages/auth/knexfile.js
  packages/auth/src/config/app.ts
  packages/auth/src/index.ts
  packages/backend/Dockerfile
  packages/backend/knexfile.js
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/documentation/src/content/docs/integration/deployment.md
Labels: pkg: backend, type: source, pkg: auth, pkg: documentation, type: documentation

#2623 fix(exceptions): add message to exceptions that are missing message
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/utils.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/quote.ts
  packages/mock-account-service-lib/src/account-provider.ts
Labels: pkg: backend, type: source

#2608 refactor: test steps into fns and make each flow 1 test
  packages/mock-account-service-lib/src/index.ts
  packages/mock-account-service-lib/src/types.ts
  pnpm-lock.yaml
  test/integration/integration.test.ts
  test/integration/lib/integration-server.ts
  test/integration/lib/mock-ase.ts
  test/integration/lib/test-actions/admin.ts
  test/integration/lib/test-actions/index.ts
  test/integration/lib/test-actions/open-payments.ts
  test/integration/package.json
Labels: type: tests, pkg: mock-account-service-lib

#2626 feat(telemetry): move amount collection in ILP connector
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/index.ts
  packages/backend/src/payment-method/ilp/connector/core/factories/rafiki-services.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/telemetry.ts
  packages/backend/src/payment-method/ilp/connector/core/rafiki.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/telemetry.test.ts
  packages/backend/src/payment-method/ilp/connector/index.ts
Labels: type: tests, pkg: backend, type: source, type: telemetry

#2595 feat: misc integration test improvents
  .github/labeler.yml
  packages/mock-account-service-lib/README.md
  packages/mock-account-service-lib/src/index.ts
  packages/mock-account-service-lib/src/seed.ts
  packages/mock-account-service-lib/src/types.ts
  pnpm-lock.yaml
  renovate.json
  test/integration/README.md
  test/integration/integration.test.ts
  test/integration/lib/apollo-client.ts
  test/integration/lib/integration-server.ts
  test/integration/lib/mock-ase.ts
  test/integration/lib/test-actions/admin.ts
  test/integration/lib/test-actions/index.ts
  test/integration/lib/test-actions/open-payments.ts
  test/integration/package.json
  test/integration/scripts/run-tests.sh
  test/integration/testenv/cloud-nine-wallet/.env
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/cloud-nine-wallet/seed.yml
  test/integration/testenv/docker-compose.yml
  test/integration/testenv/happy-life-bank/.env
  test/integration/testenv/happy-life-bank/docker-compose.yml
  test/integration/testenv/happy-life-bank/seed.yml
Labels: type: ci, type: documentation

#2630 chore: Revert "feat(backend): support single phase transfer in connector"
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/balance-middleware.test.ts
  test/integration/integration.test.ts
  test/integration/lib/admin-client.ts
  test/integration/lib/test-actions/admin.ts
Labels: type: tests, pkg: backend, type: source

#2648 feat(graphql-security): support for deep graphql queries on introspection
  packages/auth/src/app.ts
  packages/backend/src/app.ts
Labels: pkg: backend, type: source, pkg: auth

#2633 fix: autopeering - use localtunnel
  localenv/README.md
  package.json
  packages/documentation/src/content/docs/playground/autopeering.md
  pnpm-lock.yaml
  scripts/localenv-tunnel-setup.js
Labels: type: localenv, pkg: documentation, type: documentation

#2653 feat(1438): update tigerbeetle to latest release.
  infrastructure/helm/tigerbeetle/values.yaml
  localenv/tigerbeetle/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#2635 feat(backend): adding OpenPaymentsServerRouteError
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/route-errors.test.ts
  packages/backend/src/open_payments/route-errors.ts
  packages/backend/src/open_payments/wallet_address/key/routes.test.ts
  packages/backend/src/open_payments/wallet_address/key/routes.ts
  packages/backend/src/open_payments/wallet_address/model.test.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/routes.ts
  packages/token-introspection/package.json
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#2663 fix(webhook): move max retry check in query
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: type: tests, pkg: backend, type: source

#2660 feat(workflows): improve existing pipeling and schedule nightly builds
  .github/workflows/node-build.yml
Labels: type: ci

#2487 feat(2479): add client to outgoing/incoming payments / webhooks and outgoing tests.
  .nvmrc
  README.md
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Incoming Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Payments.bru
  localenv/README.md
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/package.json
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/combined_payments.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/openapi/specs/webhooks.yaml
  packages/backend/src/tests/incomingPayment.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  pnpm-lock.yaml
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, type: localenv, pkg: mock-ase, type: documentation, pkg: mock-account-service-lib

#2669 fix: exit run-tests.sh with test exit code
  test/integration/scripts/run-tests.sh
Labels: type: tests

#2674 fix(workflows): change docker build timeout to 10min
  .github/workflows/node-build.yml
Labels: type: ci

#2677 chore: bump docs dependencies to the latest versions
  packages/documentation/package.json
  packages/documentation/src/content/docs/i18n/.keepme
  pnpm-lock.yaml
Labels: pkg: documentation

#2687 chore: update codeowners & labeler
  .github/CODEOWNERS
  .github/labeler.yml
Labels: type: ci

#2654 feat(backend): make quote step optional
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Continuation Request.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Create Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Grant Request Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Grant Request Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Outgoing Payment From Incoming Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Wallet Address Withdrawal.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Deposit Event Liquidity.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Deposit Outgoing Payment Liquidity.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Outgoing Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Payments.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Wallet Addresses Keys.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Webhook Events.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Trigger Wallet Address Events.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Withdraw Event Liquidity.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Withdraw Outgoing Payment Liquidity.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/auth/package.json
  packages/backend/package.json
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/shared/utils.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/token-introspection/package.json
  pnpm-lock.yaml
  test/integration/README.md
  test/integration/integration.test.ts
  test/integration/lib/generated/graphql.ts
  test/integration/lib/test-actions/admin.ts
  test/integration/lib/test-actions/open-payments.ts
  test/integration/lib/utils.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: auth, pkg: mock-ase, type: documentation, pkg: mock-account-service-lib
