Repository interledger/rafiki, pull requests merged in 2024-06, with the labels that each got.

#2760 chore: upgrade open-payments
  packages/auth/package.json
  packages/backend/package.json
  packages/token-introspection/package.json
  pnpm-lock.yaml
  test/integration/package.json
Labels: type: tests, pkg: backend, pkg: auth

#2767 fix: put additional properties resolver under wallet address
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Wallet Address.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Wallet Address.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/walletAddressAdditionalProperties.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2752 feat(2739)!: additional properties for createwalletaddress
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Wallet Address.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Wallet Address Additional Properties.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Wallet Address.bru
  localenv/mock-account-servicing-entity/app/lib/requesters.ts
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20240528184537_create_wallet_add_props.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/walletAddressAdditionalProperties.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/wallet_address/additional_property/model.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/routes.test.ts
  packages/backend/src/open_payments/wallet_address/routes.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/tests/walletAddress.ts
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/routes/wallet-addresses.create.tsx
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/mock-account-service-lib/src/requesters.ts
  test/integration/lib/generated/graphql.ts
  test/integration/lib/integration-server.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: documentation, type: documentation, pkg: mock-account-service-lib

#2762 docs: update webhook event documentation
  bruno/collections/Rafiki/Sample Webhook Events/Asset Liquidity Low.bru
  bruno/collections/Rafiki/Sample Webhook Events/Incoming Payment Completed.bru
  bruno/collections/Rafiki/Sample Webhook Events/Incoming Payment Created.bru
  bruno/collections/Rafiki/Sample Webhook Events/Incoming Payment Expired.bru
  bruno/collections/Rafiki/Sample Webhook Events/Outgoing Payment Completed.bru
  bruno/collections/Rafiki/Sample Webhook Events/Outgoing Payment Created.bru
  bruno/collections/Rafiki/Sample Webhook Events/Outgoing Payment Failed.bru
  bruno/collections/Rafiki/Sample Webhook Events/Peer Liquidity Low.bru
  bruno/collections/Rafiki/Sample Webhook Events/Wallet Address Not Found.bru
  bruno/collections/Rafiki/Sample Webhook Events/Wallet Address Web Monetization.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/concepts/accounting/accounts-and-transfers.md
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/documentation/src/content/docs/integration/webhook-events.mdx
Labels: pkg: documentation, type: documentation

#2766 feat: filter payments per wallet address ID
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/payments._index.tsx
  packages/frontend/app/routes/wallet-addresses.$walletAddressId.tsx
Labels: pkg: frontend

#2709 feat(auth): secure admin api with hmac signatures
  bruno/collections/Rafiki/Rafiki Admin Auth APIs/Get Grant.bru
  bruno/collections/Rafiki/Rafiki Admin Auth APIs/Get Grants.bru
  bruno/collections/Rafiki/Rafiki Admin Auth APIs/Revoke Grant.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  bruno/collections/Rafiki/scripts.js
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/auth/jest.config.js
  packages/auth/jest.setup.js
  packages/auth/jest.teardown.js
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/shared/utils.test.ts
  packages/auth/src/shared/utils.ts
  packages/auth/src/tests/apiSignature.ts
  pnpm-lock.yaml
Labels: type: tests, type: source, pkg: auth

#2755 fix!: typo in KRATOS_CONTAINER_PULIC_URL
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/frontend/README.md
  packages/frontend/app/lib/envConfig.server.ts
Labels: pkg: frontend, breaking

#2773 fix: ci
  package.json
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

#2769 feat(backend): update wallet address additional properties
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/tests/walletAddress.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#2771 feat(backend): secure admin api from replay attacks
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/shared/utils.test.ts
  packages/backend/src/shared/utils.ts
  packages/backend/src/tests/apiSignature.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/context.ts
Labels: type: tests, pkg: backend, type: source

#2753 feat: add spent amounts to POST /outgoing-payment
  bruno/collections/Rafiki/Examples/Web Monetization/Continuation Request.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Outgoing Payment 1.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Outgoing Payment 2.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Outgoing Payment 3.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Grant Request Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Grant Request Outgoing Payment.bru
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.ts
  pnpm-lock.yaml
  test/integration/package.json
Labels: type: tests, pkg: backend, type: source

#2779 chore(auth): return objects during GNAP errors
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Continuation Request.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Create Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments/Continuation Request.bru
  bruno/collections/Rafiki/Examples/Open Payments/Create Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments/Create Quote.bru
  bruno/collections/Rafiki/Examples/Open Payments/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Continuation Request.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Outgoing Payment 1.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Outgoing Payment 2.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Outgoing Payment 3.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get sender wallet address.bru
  bruno/collections/Rafiki/Open Payments APIs/Incoming Payments/Create Incoming Payment.bru
  bruno/collections/Rafiki/Open Payments APIs/Outgoing Payments/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Open Payments APIs/Quotes/Create Quote.bru
  bruno/collections/Rafiki/scripts.js
  packages/auth/src/shared/gnapErrors.test.ts
  packages/auth/src/shared/gnapErrors.ts
  packages/auth/src/tests/errors.ts
Labels: type: tests, type: source, pkg: auth

#2749 feat(backend)!: update and rename env variables
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/backend/jest.config.js
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/resolvers/auto-peering.test.ts
  packages/backend/src/index.ts
  packages/backend/src/payment-method/ilp/auto-peering/routes.test.ts
  packages/backend/src/payment-method/ilp/auto-peering/routes.ts
  packages/backend/src/payment-method/ilp/auto-peering/service.test.ts
  packages/backend/src/payment-method/ilp/auto-peering/service.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.test.ts
  packages/documentation/src/content/docs/concepts/interledger-protocol/peering.md
  packages/documentation/src/content/docs/integration/deployment.md
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, pkg: backend, type: source, pkg: documentation, type: documentation, breaking

#2784 fix(localenv): C9 MASE fail to start
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests

#2783 chore(backend): estimate ILP quote receive amount, and fail early
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/quote/errors.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/payment-method/handler/errors.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/service.ts
Labels: type: tests, pkg: backend, type: source

#2782 chore(backend, auth): verify try-catches in tests
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/backend/src/graphql/middleware/index.test.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/auto-peering.test.ts
  packages/backend/src/graphql/resolvers/fee.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/receiver.test.ts
  packages/backend/src/graphql/resolvers/walletAddressKey.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth
