Repository interledger/rafiki, pull requests merged in 2024-11, with the labels that each got.

#3047 fix: Admin UI error Auth redirect
  packages/frontend/app/routes/auth._index.tsx
Labels: pkg: frontend

#3030 chore: update frontend environment variables
  localenv/mock-account-servicing-entity/app/lib/message.server.ts
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  localenv/mock-account-servicing-entity/app/lib/utils.ts
  packages/documentation/src/partials/frontend-variables.mdx
  packages/frontend/app/lib/apollo.server.ts
  packages/frontend/app/lib/envConfig.server.ts
  packages/frontend/app/lib/message.server.ts
  packages/frontend/app/shared/utils.ts
  packages/frontend/package.json
Labels: pkg: frontend, pkg: mock-ase, pkg: documentation, user-docs

#3050 chore: Fix mock ASE seeding script
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Asset By Code And Scale.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Peer By Address and Asset Id.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Wallet Address By Url.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.ts
  packages/backend/src/graphql/schema.graphql
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/mock-account-service-lib/src/requesters.ts
  packages/mock-account-service-lib/src/seed.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3042 docs: update content of env var tables
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
  packages/documentation/src/partials/auth-variables.mdx
  packages/documentation/src/partials/backend-variables.mdx
  packages/documentation/src/partials/frontend-variables.mdx
Labels: pkg: documentation, user-docs

#3087 chore: fix vulnerabilities
  .github/workflows/node-build.yml
  package.json
  packages/auth/package.json
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: type: ci, pkg: backend, pkg: frontend, pkg: auth

#2999 feat(localenv): add performance metrics
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  localenv/telemetry/otel-collector-config.yaml
  packages/backend/src/accounting/psql/balance.test.ts
  packages/backend/src/accounting/psql/balance.ts
  packages/backend/src/accounting/psql/ledger-account/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/telemetry/service.test.ts
  packages/backend/src/telemetry/service.ts
  packages/backend/src/tests/telemetry.ts
  packages/backend/src/webhook/service.ts
Labels: type: tests, pkg: backend, type: source

#3091 docs: fixes #3052
  localenv/README.md
  packages/documentation/src/content/docs/integration/playground/autopeering.mdx
  packages/documentation/src/content/docs/integration/playground/overview.mdx
Labels: type: localenv, pkg: documentation

#3099 chore: routine dependency bumps
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  pnpm-lock.yaml
Labels: pkg: documentation

#3088 docs: fixes 3084
  packages/auth/src/openapi/specs/id-provider.yaml
  packages/backend/src/openapi/specs/webhooks.yaml
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
  packages/documentation/src/content/docs/integration/requirements/webhook-events.mdx
  packages/documentation/src/content/docs/overview/concepts/accounting.mdx
Labels: pkg: backend, type: source, pkg: auth, pkg: documentation

#2857 feat(backend): add local payment
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Local Payment/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Local Payment/Create Quote.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Local Payment/Create Receiver -local Incoming Payment-.bru
  bruno/collections/Rafiki/Examples/Admin API -  only locally/Peer-to-Peer Local Payment/Get Outgoing Payment.bru
  localenv/cloud-nine-wallet/seed.yml
  packages/backend/migrations/20240916181643_require_estimated_exchange_rate.js
  packages/backend/migrations/20240916181659_add_ilp_quote_details.js
  packages/backend/migrations/20240916182716_drop_quote_ilp_fields.js
  packages/backend/migrations/20240916185330_add_quote_source_amount.js
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/payment-method/handler/service.test.ts
  packages/backend/src/payment-method/handler/service.ts
  packages/backend/src/payment-method/ilp/connector/core/factories/rafiki-services.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/balance-middleware.test.ts
  packages/backend/src/payment-method/ilp/quote-details/model.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/payment-method/local/service.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/rates/service.ts
  packages/backend/src/rates/util.test.ts
  packages/backend/src/rates/util.ts
  packages/backend/src/telemetry/service.test.ts
  packages/backend/src/telemetry/service.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/tests/telemetry.ts
  test/integration/integration.test.ts
  test/integration/lib/test-actions/admin.ts
  test/integration/testenv/cloud-nine-wallet/seed.yml
Labels: type: tests, pkg: backend, type: source

#3111 docs: 2976/glossary
  packages/documentation/src/content/docs/resources/glossary.mdx
Labels: pkg: documentation

#3101 feat(auth): return GNAP 404 error if token cannot be rotated
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
Labels: type: tests, type: source, pkg: auth

#3095 fix: fixed error where no assets were found when opening create peer page
  packages/frontend/app/components/RedirectDialog.tsx
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/routes/peers.create.tsx
Labels: pkg: frontend

#3027 docs: Mi/2961/docker compose
  packages/documentation/src/content/docs/integration/prod/docker-compose.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
Labels: pkg: documentation

#3132 feat(backend): tenants table v1
  packages/backend/migrations/20241125224212_create_tenants_table.js
  packages/backend/src/tenants/model.ts
Labels: pkg: backend, type: source

#3136 chore: removed Glossary page's overview section
  packages/documentation/astro.config.mjs
  packages/documentation/src/components/PageSidebar.astro
Labels: pkg: documentation

#3041 feat(backend): caching on asset and wallet address including other enhancements
  .gitignore
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/middleware/index.test.ts
  packages/backend/src/graphql/middleware/index.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/index.ts
  packages/backend/src/middleware/cache/data-stores/in-memory.ts
  packages/backend/src/middleware/cache/data-stores/index.ts
  packages/backend/src/middleware/cache/data-stores/redis.ts
  packages/backend/src/middleware/cache/index.test.ts
  packages/backend/src/middleware/cache/index.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/stream-address.ts
  packages/backend/src/payment-method/ilp/peer/service.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/rates/service.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/tests/telemetry.ts
Labels: type: tests, pkg: backend, type: source

#3135 fix(backend): update packet expiry error handling
  packages/backend/src/payment-method/ilp/connector/core/middleware/expire.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/expire-middleware.test.ts
Labels: type: tests, pkg: backend, type: source

#3115 chore: update accountingTransfer limit to 20
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.ts
  packages/backend/src/accounting/tigerbeetle/transfers.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/resolvers/accounting_transfer.psql.test.ts
  packages/backend/src/graphql/resolvers/accounting_transfer.tigerbeetle.test.ts
  packages/backend/src/graphql/schema.graphql
Labels: type: tests, pkg: backend, type: source
