Repository interledger/rafiki, pull requests merged in 2024-03, with the labels that each got.

#2476 docs: fix broken bruno links
  localenv/README.md
  packages/documentation/src/content/docs/playground/overview.md
Labels: type: localenv, pkg: documentation, type: documentation

#2502 chore: clean up webhookEvents table before adding & populating FKs
  packages/backend/migrations/20231121184537_add_resource_fkeys_webhook_event.js
Labels: pkg: backend

#2517 chore: disable graphql introspection in production
  packages/auth/src/app.ts
  packages/backend/src/app.ts
Labels: pkg: backend, type: source, pkg: auth

#2477 chore: remove version from monorepo package.json
  package.json
  packages/frontend/app/routes/_index.tsx
Labels: pkg: frontend

#2537 chore: enable graphql protection - maxDepth, blockFieldSuggestions, maxCost
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/backend/package.json
  packages/backend/src/app.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, pkg: auth

#2538 chore(frontend): add X-Frame-Options header
  packages/frontend/app/entry.server.tsx
Labels: pkg: frontend

#2550 feat(bruno): use polling in grant continuation
  bruno/collections/Rafiki/Examples/Open Payments/Continuation Request.bru
  bruno/collections/Rafiki/Examples/Open Payments/Create Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments/Create Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments/Create Quote.bru
  bruno/collections/Rafiki/Examples/Open Payments/Grant Request Outgoing Payment.bru
  localenv/README.md
  openapi/auth-server.yaml
  openapi/schemas.yaml
  packages/documentation/src/content/docs/playground/overview.md
  scripts/fetch-schemas.sh
Labels: type: localenv, pkg: documentation, type: documentation

#2400 feat(auth): improve GNAP error responses
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/shared/gnapErrors.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/signature/middleware.ts
  packages/auth/src/tests/errors.ts
Labels: type: tests, type: source, pkg: auth

#2560 feat(backend): make SPSP optional
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.test.ts
  packages/backend/src/payment-method/ilp/spsp/middleware.ts
  packages/documentation/src/content/docs/integration/deployment.md
Labels: type: tests, pkg: backend, type: source, pkg: documentation, type: documentation

#2530 chore: OpenAPI spec changes & other support for running localenv in docker windows
  .github/workflows/lint_test_build.yml
  .github/workflows/validate-openapi.yml
  .gitignore
  localenv/README.md
  localenv/mock-account-servicing-entity/Dockerfile
  openapi/auth-server.yaml
  openapi/resource-server.yaml
  openapi/schemas.yaml
  openapi/wallet-address-server.yaml
  package.json
  packages/auth/Dockerfile
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/src/openapi/auth-server.yaml
  packages/auth/src/openapi/schemas.yaml
  packages/auth/src/openapi/specs/id-provider.yaml
  packages/auth/src/openapi/token-introspection.yaml
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/openapi/resource-server.yaml
  packages/backend/src/openapi/schemas.yaml
  packages/backend/src/openapi/specs/exchange-rates.yaml
  packages/backend/src/openapi/specs/webhooks.yaml
  packages/backend/src/openapi/token-introspection.yaml
  packages/backend/src/openapi/wallet-address-server.yaml
  packages/documentation/src/content/docs/integration/getting-started.md
  packages/documentation/src/content/docs/playground/overview.md
  packages/frontend/Dockerfile
  packages/token-introspection/package.json
  packages/token-introspection/src/client/index.ts
  packages/token-introspection/src/client/introspection.test.ts
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/openapi/auth-server.yaml
  packages/token-introspection/src/openapi/index.test.ts
  packages/token-introspection/src/openapi/index.ts
  packages/token-introspection/src/openapi/schemas.yaml
  packages/token-introspection/src/openapi/specs/token-introspection.yaml
  pnpm-lock.yaml
  scripts/fetch-schemas.sh
Labels: type: ci, type: tests, pkg: backend, pkg: frontend, type: source, pkg: auth, type: localenv, pkg: mock-ase, pkg: documentation, type: documentation

#2562 test(backend): add test for unknown destination account
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/account-middleware.test.ts
Labels: type: tests, pkg: backend, type: source

#2564 feat(backend): support single phase transfer in connector
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/balance-middleware.test.ts
Labels: type: tests, pkg: backend, type: source

#2569 ci: add integration test to lint_test_build
  .github/workflows/lint_test_build.yml
  test/integration/package.json
Labels: type: ci

#2605 fix(auth): add healthcheck to solve occasional ci failure
  packages/auth/jest.setup.js
Labels: pkg: auth

#2586 feat: use real hostnames & auto edit host file
  .github/workflows/lint_test_build.yml
  pnpm-lock.yaml
  test/integration/integration.test.ts
  test/integration/lib/integration-server.ts
  test/integration/package.json
  test/integration/scripts/run-tests.sh
  test/integration/testenv/cloud-nine-wallet/.env
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/cloud-nine-wallet/seed.yml
  test/integration/testenv/happy-life-bank/.env
  test/integration/testenv/happy-life-bank/docker-compose.yml
  test/integration/testenv/happy-life-bank/seed.yml
Labels: type: ci
