Repository interledger/rafiki, pull requests merged in 2025-04, with the labels that each got.

#3327 feat(backend)!: tenanted rates endpoints
  localenv/happy-life-bank/docker-compose.yml
  packages/backend/jest.env.js
  packages/backend/src/asset/errors.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/balance.ts
  packages/backend/src/payment-method/ilp/connector/core/rafiki.ts
  packages/backend/src/payment-method/ilp/connector/core/telemetry.ts
  packages/backend/src/payment-method/ilp/connector/core/test/telemetry.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/payment-method/local/service.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/rates/service.ts
  packages/backend/src/telemetry/service.test.ts
  packages/backend/src/telemetry/service.ts
  packages/backend/src/tenants/settings/service.ts
Labels: type: tests, pkg: backend, type: source, breaking

#3341 feat(backend): directly use resource server URL to generate URLs for OP
  package.json
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/receiver.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source

#3359 docs: mi/3243/op-grant-revocation
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/deployment/services/auth-service.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/grants-revoking.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/idp.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/wallet-keys.mdx
  packages/documentation/src/content/docs/integration/requirements/overview.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
  packages/documentation/src/partials/auth-variables.mdx
Labels: pkg: documentation

#3378 chore: update remix packages to fix vulnerability
  localenv/mock-account-servicing-entity/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: pkg: frontend, pkg: mock-ase

#3392 chore: docs dependency bumps
  packages/documentation/src/components/Header.astro
  packages/documentation/src/components/PageSidebar.astro
Labels: pkg: documentation

#3389 feat: add grant spent amount table
  packages/backend/migrations/20250409173617_add_outgoing_payment_grant_spent_amounts_table.js
  packages/backend/migrations/20250410162417_add_interval_op_grant_table.js
Labels: pkg: backend

#3387 chore: bump dependencies to latest versions
  packages/documentation/astro.config.mjs
  packages/documentation/package.json
  packages/documentation/src/components/Header.astro
  packages/documentation/src/components/PageSidebar.astro
  pnpm-lock.yaml
Labels: pkg: documentation

#3391 docs: standardize graphql examples
  packages/documentation/src/content/docs/admin/liquidity/asset-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/payment-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/peer-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/two-phase-transfers.mdx
  packages/documentation/src/content/docs/integration/requirements/assets.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/grants-revoking.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/wallet-keys.mdx
  packages/documentation/src/content/docs/integration/requirements/peers.mdx
  packages/documentation/src/content/docs/integration/requirements/sending-fees.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
Labels: pkg: documentation

#3394 docs: fixes #3380
  packages/documentation/src/content/docs/index.mdx
Labels: pkg: documentation

#3395 docs: fixes #3388
  packages/documentation/src/content/docs/integration/playground/overview.mdx
  packages/documentation/src/content/docs/integration/requirements/assets.mdx
  packages/documentation/src/content/docs/integration/requirements/exchange-rates.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/grants-revoking.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/idp.mdx
  packages/documentation/src/content/docs/integration/requirements/sending-fees.mdx
  packages/documentation/src/content/docs/integration/requirements/webhook-events.mdx
  packages/documentation/src/content/docs/overview/concepts/accounting.mdx
Labels: pkg: documentation

#3398 docs: mi/3381/updates-feedback
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/deployment/docker-compose.mdx
  packages/documentation/src/content/docs/overview/overview.mdx
Labels: pkg: documentation

#3317 feat(backend): tenanted webhooks
  packages/backend/migrations/20250218191304_add_tenant_to_webhooks.js
  packages/backend/src/asset/model.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/ilp/peer/model.test.ts
  packages/backend/src/payment-method/ilp/peer/model.ts
  packages/backend/src/tenants/settings/model.test.ts
  packages/backend/src/tenants/settings/model.ts
  packages/backend/src/tests/webhook.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: type: tests, pkg: backend, type: source

#3405 docs: update docker compose
  packages/documentation/src/content/docs/admin/admin-user-guide.mdx
  packages/documentation/src/content/docs/integration/deployment/docker-compose.mdx
  packages/documentation/src/content/docs/integration/deployment/services/frontend-service.mdx
  packages/documentation/src/partials/auth-variables-docker-compose.mdx
  packages/documentation/src/partials/backend-variables-docker-compose.mdx
  packages/documentation/src/partials/frontend-variables-docker-compose.mdx
  packages/documentation/src/partials/kratos-warning.mdx
Labels: pkg: documentation
