Repository interledger/rafiki, pull requests merged in 2025-05, with the labels that each got.

#3368 feat(backend): also publish webhooks to operators if primary recipient is tenant
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20250409175316_create_webhooks_table.js
  packages/backend/src/accounting/psql/balance.test.ts
  packages/backend/src/accounting/psql/ledger-account/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/service.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/accounting/tigerbeetle/service.ts
  packages/backend/src/asset/model.test.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/graphql/resolvers/webhooks.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/wallet_address/middleware.test.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/ilp/peer/model.test.ts
  packages/backend/src/payment-method/ilp/peer/model.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/tests/asset.ts
  packages/backend/src/tests/walletAddress.ts
  packages/backend/src/tests/webhook.ts
  packages/backend/src/webhook/event/model.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/webhook.server.ts
  packages/frontend/app/routes/webhook-events.tsx
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3416 docs: fixes #3382
  packages/documentation/astro.config.mjs
  packages/documentation/src/components/PageSidebar.astro
  packages/documentation/src/content/docs/overview/concepts/clearing-settlement.mdx
Labels: pkg: documentation

#3425 feat(backend): improved redirect url for wallet address
  packages/backend/src/open_payments/wallet_address/middleware.test.ts
  packages/backend/src/open_payments/wallet_address/middleware.ts
Labels: type: tests, pkg: backend, type: source

#3428 fix(backend): local payments - allow multiple outgoing payments pay into single incoming
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/payment-method/local/service.ts
  test/integration/integration.test.ts
  test/integration/lib/test-actions/admin.ts
  test/integration/lib/test-actions/index.ts
  test/integration/lib/test-actions/open-payments.ts
  test/test-lib/src/admin-client.ts
  test/testenv/cloud-nine-wallet/seed.yml
  test/testenv/happy-life-bank/seed.yml
Labels: type: tests, pkg: backend, type: source

#3438 feat(localenv): add histogram for outgoing payment completion time
  localenv/telemetry/grafana/provisioning/dashboards/example.json
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
Labels: pkg: backend, type: source
