Repository interledger/rafiki, pull requests merged in 2025-01, with the labels that each got.

#3204 docs: mi/3169/remove-rafiki-admin-references
  packages/documentation/src/content/docs/integration/requirements/assets.mdx
  packages/documentation/src/content/docs/integration/requirements/sending-fees.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
Labels: pkg: documentation, user-docs

#2863 feat(backend): unique keys per wallet address
  packages/backend/migrations/20241119125038_add_unique_constraint_to_kid.js
  packages/backend/src/graphql/resolvers/walletAddressKey.test.ts
  packages/backend/src/graphql/resolvers/walletAddressKey.ts
  packages/backend/src/open_payments/wallet_address/key/errors.ts
  packages/backend/src/open_payments/wallet_address/key/routes.test.ts
  packages/backend/src/open_payments/wallet_address/key/service.test.ts
  packages/backend/src/open_payments/wallet_address/key/service.ts
  packages/backend/src/tests/walletAddressKey.ts
Labels: type: tests, pkg: backend, type: source

#3148 feat: auth service-to-service api
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
  packages/auth/src/index.ts
  packages/auth/src/shared/utils.test.ts
  packages/auth/src/shared/utils.ts
  packages/auth/src/tenant/routes.test.ts
  packages/auth/src/tenant/routes.ts
  packages/auth/src/tenant/service.test.ts
  packages/auth/src/tenant/service.ts
  packages/auth/src/tests/app.ts
  packages/backend/jest.env.js
  packages/backend/src/app.ts
  packages/backend/src/auth-service-client/client.test.ts
  packages/backend/src/auth-service-client/client.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tenants/service.ts
  packages/backend/src/tests/tenant.ts
  packages/documentation/src/content/docs/integration/prod/docker-compose.mdx
  packages/documentation/src/partials/auth-variables.mdx
  packages/documentation/src/partials/backend-variables.mdx
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: documentation

#3206 feat(backend): tenanted assets
  packages/backend/migrations/20241216160130_backfill_tenant_on_assets.js
  packages/backend/src/accounting/psql/balance.test.ts
  packages/backend/src/accounting/psql/ledger-account/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/index.test.ts
  packages/backend/src/accounting/psql/ledger-transfer/model.test.ts
  packages/backend/src/accounting/psql/service.test.ts
  packages/backend/src/app.ts
  packages/backend/src/asset/model.test.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/index.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/shared/utils.ts
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/asset.ts
  packages/backend/src/tests/tableManager.ts
Labels: type: tests, pkg: backend, type: source

#3233 docs: mi/3170/overview updates
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/requirements/overview.mdx
Labels: pkg: documentation, user-docs

#3236 chore: make signature verification & generation use ms for timestamp
  .trivyignore
  bruno/collections/Rafiki/scripts.js
  localenv/mock-account-servicing-entity/app/lib/apolloClient.ts
  packages/auth/src/config/app.ts
  packages/auth/src/shared/utils.test.ts
  packages/auth/src/shared/utils.ts
  packages/auth/src/tests/apiSignature.ts
  packages/backend/src/config/app.ts
  packages/backend/src/shared/utils.test.ts
  packages/backend/src/shared/utils.ts
  packages/backend/src/tests/apiSignature.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
  packages/frontend/app/lib/apollo.server.ts
  pnpm-lock.yaml
  test/integration/lib/apollo-client.ts
  test/integration/lib/config.ts
  test/integration/lib/mock-ase.ts
  test/integration/package.json
  test/integration/testenv/cloud-nine-wallet/.env
  test/integration/testenv/cloud-nine-wallet/docker-compose.yml
  test/integration/testenv/happy-life-bank/.env
  test/integration/testenv/happy-life-bank/docker-compose.yml
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: auth, pkg: mock-ase

#3237 fix(performance): add signature header to fix 401
  pnpm-lock.yaml
  test/performance/README.md
  test/performance/package.json
  test/performance/scripts/create-outgoing-payments.js
  test/performance/src/json-canonicalize.js
  test/performance/webpack.config.js
Labels: type: tests

#3213 feat(fronted): tenanted admin api credentials
  localenv/README.md
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  localenv/mock-account-servicing-entity/app/entry.server.tsx
  localenv/mock-account-servicing-entity/app/lib/apolloClient.ts
  packages/frontend/app/components/ApiCredentialsForm.tsx
  packages/frontend/app/components/Sidebar.tsx
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/lib/api/payments.server.ts
  packages/frontend/app/lib/api/peer.server.ts
  packages/frontend/app/lib/api/wallet-address.server.ts
  packages/frontend/app/lib/api/webhook.server.ts
  packages/frontend/app/lib/apollo.server.ts
  packages/frontend/app/lib/session.server.ts
  packages/frontend/app/root.tsx
  packages/frontend/app/routes/_index.tsx
  packages/frontend/app/routes/api.set-credentials.ts
  packages/frontend/app/routes/assets.$assetId.deposit-liquidity.tsx
  packages/frontend/app/routes/assets.$assetId.tsx
  packages/frontend/app/routes/assets.$assetId.withdraw-liquidity.tsx
  packages/frontend/app/routes/assets.$assetId_.fee-history.tsx
  packages/frontend/app/routes/assets._index.tsx
  packages/frontend/app/routes/assets.create.tsx
  packages/frontend/app/routes/payments._index.tsx
  packages/frontend/app/routes/payments.incoming.$incomingPaymentId.tsx
  packages/frontend/app/routes/payments.incoming.$incomingPaymentId.withdraw-liquidity.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.deposit-liquidity.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.tsx
  packages/frontend/app/routes/payments.outgoing.$outgoingPaymentId.withdraw-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.deposit-liquidity.tsx
  packages/frontend/app/routes/peers.$peerId.tsx
  packages/frontend/app/routes/peers.$peerId.withdraw-liquidity.tsx
  packages/frontend/app/routes/peers._index.tsx
  packages/frontend/app/routes/peers.create.tsx
  packages/frontend/app/routes/wallet-addresses.$walletAddressId.tsx
  packages/frontend/app/routes/wallet-addresses.$walletAddressId.withdraw-liquidity.tsx
  packages/frontend/app/routes/wallet-addresses._index.tsx
  packages/frontend/app/routes/wallet-addresses.create.tsx
  packages/frontend/app/routes/webhook-events.tsx
Labels: pkg: frontend, type: localenv, pkg: mock-ase

#3102 docs: accts, idp, and disclosure component
  packages/documentation/README.md
  packages/documentation/src/content/docs/integration/requirements/idp.mdx
  packages/documentation/src/content/docs/integration/requirements/webhook-events.mdx
  packages/documentation/src/content/docs/overview/concepts/accounting.mdx
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
  packages/documentation/src/content/docs/overview/overview.mdx
  packages/documentation/src/content/docs/resources/architecture.mdx
  packages/documentation/src/content/docs/resources/glossary.mdx
  packages/documentation/src/partials/auth-variables.mdx
Labels: pkg: documentation, do not merge, user-docs

#3215 docs: Improve local dev setup process through readme and doc edits
  README.md
  localenv/README.md
  packages/documentation/src/content/docs/integration/playground/overview.mdx
Labels: type: localenv, pkg: documentation

#3255 docs: update telemetry.mdx and readme
  packages/backend/src/payment-method/ilp/connector/core/README.md
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
Labels: pkg: backend, type: source, pkg: documentation
