Repository interledger/rafiki, pull requests merged in 2025-06, with the labels that each got.

#3445 chore: upgrade graphql
  localenv/mock-account-servicing-entity/package.json
  packages/auth/package.json
  packages/backend/package.json
  packages/documentation/package.json
  packages/frontend/package.json
  packages/mock-account-service-lib/package.json
  pnpm-lock.yaml
  test/test-lib/package.json
Labels: type: tests, pkg: backend, pkg: frontend, pkg: auth, pkg: mock-ase, pkg: documentation, pkg: mock-account-service-lib

#3452 feat(backend): required tenantId when fetching peer by destination address
  packages/backend/src/graphql/resolvers/peer.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/payment-method/ilp/connector/core/middleware/account.ts
  packages/backend/src/payment-method/ilp/connector/core/test/middleware/account-middleware.test.ts
  packages/backend/src/payment-method/ilp/peer/service.ts
Labels: type: tests, pkg: backend, type: source

#3411 feat(backend): return minSendAmount in quote responses
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/errors.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/route-errors.test.ts
  packages/backend/src/open_payments/route-errors.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/handler/errors.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/service.ts
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/payment-method/local/service.ts
  packages/backend/src/rates/util.test.ts
  packages/backend/src/rates/util.ts
  test/integration/integration.test.ts
Labels: type: tests, pkg: backend, type: source

#3457 feat(backend): allow tenant id to be specified during tenant creation
  localenv/cloud-ten-wallet/seed.yml
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/tenant.test.ts
  packages/backend/src/graphql/resolvers/tenant.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/tenants/errors.ts
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tenants/service.ts
  packages/backend/src/tenants/settings/service.test.ts
  packages/backend/src/tests/tenant.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/mock-account-service-lib/src/requesters.ts
  packages/mock-account-service-lib/src/seed.ts
  packages/mock-account-service-lib/src/types.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib
