Repository interledger/rafiki, pull requests merged in 2025-07, with the labels that each got.

#3449 feat: either receiveAmount or debitAmount allowed for outgoing payment limits
  bruno/collections/Rafiki/Examples/Open Payments/Grant Request Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Grant Request Outgoing Payment.bru
  bruno/collections/Rafiki/Open Payments Auth APIs/Grants/Grant Request.bru
  localenv/mock-account-servicing-entity/app/routes/mock-idp._index.tsx
  localenv/mock-account-servicing-entity/app/routes/mock-idp.consent.tsx
  packages/auth/src/access/errors.ts
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/service.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/tests/grant.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth, pkg: mock-ase

#3478 docs: mi/3333/get-involved
  packages/documentation/src/content/docs/resources/get-involved.mdx
Labels: pkg: documentation

#3474 feat(backend): add tenantId to webhook, outgoing + combined payments pagination resolvers
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20250625121526_replace_combined_payments_view.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/combined_payments.ts
  packages/backend/src/graphql/resolvers/webhooks.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/combined/model.ts
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/combined/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3503 feat(backend): add sendAllWebhooksToOperator env variable
  packages/backend/src/asset/model.test.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/open_payments/wallet_address/service.ts
  packages/backend/src/payment-method/ilp/peer/model.test.ts
  packages/backend/src/payment-method/ilp/peer/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: type: tests, pkg: backend, type: source

#3520 docs: bump docs dependencies to their latest versions
  packages/documentation/package.json
  pnpm-lock.yaml
Labels: pkg: documentation

#3519 feat(pos): create merchants table
  packages/point-of-sale/migrations/20250708093546_create_merchants_table.js
  packages/point-of-sale/package.json
  packages/point-of-sale/src/merchant/model.ts
  packages/point-of-sale/src/shared/baseModel.test.ts
  packages/point-of-sale/src/shared/baseModel.ts
  packages/point-of-sale/src/shared/baseService.ts
  packages/point-of-sale/src/shared/filters.ts
  packages/point-of-sale/src/shared/pagination.ts
  pnpm-lock.yaml
Labels: type: tests

#3521 feat: setup i18n for rafiki docs
  packages/documentation/astro.config.mjs
  packages/documentation/src/components/Header.astro
  packages/documentation/src/content/docs/es/index.mdx
  packages/documentation/src/content/docs/es/overview/concepts/account-servicing-entity.mdx
  packages/documentation/src/content/docs/es/overview/concepts/accounting.mdx
  packages/documentation/src/content/docs/es/overview/concepts/clearing-settlement.mdx
  packages/documentation/src/content/docs/es/overview/concepts/interledger.mdx
  packages/documentation/src/content/docs/es/overview/concepts/open-payments.mdx
  packages/documentation/src/content/docs/es/overview/concepts/payment-pointers.mdx
  packages/documentation/src/content/docs/es/overview/concepts/telemetry.mdx
  packages/documentation/src/content/docs/es/overview/overview.mdx
Labels: pkg: documentation

#3529 fix: resolve i18n-related issues for docs header
  packages/documentation/src/components/Header.astro
Labels: pkg: documentation

#3528 feat(pos): merchants services
  packages/point-of-sale/jest.config.js
  packages/point-of-sale/jest.custom-environment.ts
  packages/point-of-sale/jest.env.js
  packages/point-of-sale/jest.setup.ts
  packages/point-of-sale/jest.teardown.js
  packages/point-of-sale/package.json
  packages/point-of-sale/scripts/init.sh
  packages/point-of-sale/src/config/app.ts
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/merchant/service.test.ts
  packages/point-of-sale/src/merchant/service.ts
  packages/point-of-sale/src/tests/app.ts
  packages/point-of-sale/src/tests/tableManager.ts
  pnpm-lock.yaml
Labels: type: tests

#3538 feat(pos): create merchant route
  packages/point-of-sale/migrations/20250708093546_create_merchants_table.js
  packages/point-of-sale/package.json
  packages/point-of-sale/src/app.ts
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/merchant/errors.ts
  packages/point-of-sale/src/merchant/model.ts
  packages/point-of-sale/src/merchant/routes.test.ts
  packages/point-of-sale/src/merchant/routes.ts
  packages/point-of-sale/src/merchant/service.test.ts
  packages/point-of-sale/src/shared/baseModel.ts
  packages/point-of-sale/src/tests/context.ts
  pnpm-lock.yaml
Labels: type: tests

#3548 feat(point-of-sale): POS Device service
  packages/point-of-sale/migrations/20250708121812_create_pos_device_table.js
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/merchant/devices/errors.ts
  packages/point-of-sale/src/merchant/devices/model.ts
  packages/point-of-sale/src/merchant/devices/service.test.ts
  packages/point-of-sale/src/merchant/devices/service.ts
Labels: type: tests

#3553 feat(pos-service): delete merchant route
  packages/point-of-sale/src/app.ts
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/merchant/devices/service.test.ts
  packages/point-of-sale/src/merchant/devices/service.ts
  packages/point-of-sale/src/merchant/routes.test.ts
  packages/point-of-sale/src/merchant/routes.ts
  packages/point-of-sale/src/merchant/service.test.ts
  packages/point-of-sale/src/merchant/service.ts
Labels: type: tests

#3555 feat(point-of-sale): added route for registering a POS device
  packages/point-of-sale/jest.env.js
  packages/point-of-sale/package.json
  packages/point-of-sale/src/app.ts
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/merchant/devices/errors.ts
  packages/point-of-sale/src/merchant/devices/routes.test.ts
  packages/point-of-sale/src/merchant/devices/routes.ts
  packages/point-of-sale/src/merchant/devices/service.ts
  packages/point-of-sale/src/tests/app.ts
  pnpm-lock.yaml
Labels: type: tests

#3546 feat: [RAF-1083][POS Service]: Add GQL Client for Rafiki BE calls for incoming payment operations
  packages/backend/codegen.yml
  packages/point-of-sale/jest.env.js
  packages/point-of-sale/package.json
  packages/point-of-sale/src/config/app.ts
  packages/point-of-sale/src/graphql/generated/graphql.ts
  packages/point-of-sale/src/graphql/mutations/createIncomingPayment.ts
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/payments/service.test.ts
  packages/point-of-sale/src/payments/service.ts
  packages/point-of-sale/src/shared/types.ts
  pnpm-lock.yaml
Labels: type: tests, pkg: backend

#3536 feat: migrate from astro-graphql-plugin to spectaql
  packages/documentation/astro.config.mjs
  packages/documentation/config-auth.yml
  packages/documentation/config-backend.yml
  packages/documentation/package.json
  packages/documentation/public/img/logo.png
  packages/documentation/src/content/docs/es/index.mdx
  packages/documentation/src/content/docs/index.mdx
  packages/documentation/src/content/docs/integration/deployment/helm-k8s.mdx
  packages/documentation/src/content/docs/integration/requirements/assets.mdx
  packages/documentation/src/content/docs/integration/requirements/open-payments/grants-revoking.mdx
  packages/documentation/src/content/docs/integration/requirements/peers.mdx
  packages/documentation/src/content/docs/integration/requirements/sending-fees.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
  packages/documentation/src/pages/apis/graphql/auth/index.html
  packages/documentation/src/pages/apis/graphql/backend/index.html
  pnpm-lock.yaml
Labels: pkg: documentation
