Repository interledger/rafiki, pull requests merged in 2025-02, with the labels that each got.

#3234 feat(backend): backend tenant graphql resolvers
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Tenant.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Delete Tenant.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Update Tenant.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  bruno/collections/Rafiki/scripts.js
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/auth/migrations/20241125233415_create_tenants_table.js
  packages/auth/src/tenant/model.ts
  packages/auth/src/tenant/routes.ts
  packages/auth/src/tenant/service.ts
  packages/backend/src/auth-service-client/client.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/tenant.test.ts
  packages/backend/src/graphql/resolvers/tenant.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/tenants/service.ts
  packages/backend/src/tests/tenant.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: auth, pkg: mock-ase, pkg: mock-account-service-lib

#3267 docs: fix broken variable table
  packages/documentation/src/content/docs/integration/requirements/idp.mdx
Labels: pkg: documentation

#3272 chore: fix docker image scans
  localenv/mock-account-servicing-entity/Dockerfile
  package.json
  packages/auth/Dockerfile.dev
  packages/auth/Dockerfile.prod
  packages/backend/Dockerfile.dev
  packages/backend/Dockerfile.prod
  packages/frontend/Dockerfile.dev
  packages/frontend/Dockerfile.prod
  pnpm-lock.yaml
Labels: pkg: backend, pkg: frontend, pkg: auth, pkg: mock-ase

#3280 docs: adding sequence diagram to local playground page
  packages/documentation/src/content/docs/integration/playground/overview.mdx
Labels: pkg: documentation

#3249 docs: Updated TRUST_PROXY as a conditionally required variable
  packages/documentation/src/content/docs/integration/deployment/docker-compose.mdx
  packages/documentation/src/partials/auth-variables.mdx
  packages/documentation/src/partials/backend-variables.mdx
Labels: pkg: documentation

#3275 fix(mock-ase): process is undefined error in client
  localenv/mock-account-servicing-entity/app/lib/utils.ts
Labels: pkg: mock-ase

#3251 docs(localenv): add details for tenant credentials for admin ui
  localenv/README.md
Labels: type: localenv

#3284 chore: update remix
  localenv/mock-account-servicing-entity/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: pkg: frontend, pkg: mock-ase

#3187 feat(auth): tenanted grants
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Grant Request Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Grant Request Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments/Grant Request Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments/Grant Request Outgoing Payment.bru
  bruno/collections/Rafiki/Examples/Open Payments/Grant Request Quote.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Grant Request Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Grant Request Outgoing Payment.bru
  bruno/collections/Rafiki/Open Payments Auth APIs/Grants/Grant Request.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  packages/auth/migrations/20241206232423_add_tenant_to_grant.js
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/utils.test.ts
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/app.ts
  packages/auth/src/grant/model.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/graphql/resolvers/grant.test.ts
  packages/auth/src/index.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/interaction/service.test.ts
  packages/auth/src/interaction/service.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/tenant/model.ts
  packages/auth/src/tests/grant.ts
  packages/auth/src/tests/tenant.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/wallet_address/routes.test.ts
  test/integration/lib/test-actions/open-payments.ts
Labels: type: tests, pkg: backend, type: source, pkg: auth

#3254 feat(2915): admin front-end for tenant support
  packages/frontend/app/components/Sidebar.tsx
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/tenant.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/peers.$peerId.tsx
  packages/frontend/app/routes/tenants.$tenantId.tsx
  packages/frontend/app/routes/tenants._index.tsx
  packages/frontend/app/routes/tenants.create.tsx
  packages/frontend/app/routes/wallet-addresses.$walletAddressId.tsx
Labels: pkg: frontend

#3241 docs: liquidity updates
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/admin/liquidity/asset-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/payment-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/peer-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/two-phase-transfers.mdx
  packages/documentation/src/content/docs/admin/manage-liquidity.mdx
  packages/documentation/src/content/docs/integration/deployment/docker-compose.mdx
  packages/documentation/src/content/docs/integration/playground/overview.mdx
  packages/documentation/src/content/docs/overview/concepts/accounting.mdx
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
  packages/documentation/src/partials/liquidity-idempotency.mdx
Labels: pkg: documentation

#3299 feat(backend/frontend): 3256 able to view deleted tenant
  packages/backend/src/graphql/resolvers/tenant.ts
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tenants/service.ts
  packages/frontend/app/routes/tenants.$tenantId.tsx
  packages/frontend/app/routes/tenants._index.tsx
Labels: type: tests, pkg: backend, pkg: frontend, type: source

#3271 feat(backend): tenanted incoming payments
  bruno/collections/Rafiki/Examples/Open Payments/Create Incoming Payment.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Create Incoming Payment.bru
  bruno/collections/Rafiki/Open Payments APIs/Incoming Payments/Create Incoming Payment.bru
  bruno/collections/Rafiki/Open Payments APIs/Incoming Payments/List Incoming Payments.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Incoming Payment.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Incoming Payment By Tenant.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20250120101610_add_tenant_to_incoming_payments.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/receiver.test.ts
  packages/backend/src/graphql/resolvers/receiver.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/incoming_remote/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/open_payments/wallet_address/middleware.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/routes.ts
  packages/backend/src/open_payments/wallet_address/service.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/ilp/stream-credentials/service.test.ts
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/tests/incomingPayment.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/receiver.ts
  packages/backend/src/webhook/service.test.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/integration.test.ts
  test/integration/lib/generated/graphql.ts
  test/integration/lib/test-actions/open-payments.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3171 feat(backend): tenanted quotes and outgoing payments
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments Without Quote/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments/Get sender wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Web Monetization/Get sender wallet address.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20241208214023_add_tenant_id_to_quote.js
  packages/backend/migrations/20241223104532_add_tenant_id_to_outgoing_payments.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/combined/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/wallet_address/middleware.test.ts
  packages/backend/src/open_payments/wallet_address/middleware.ts
  packages/backend/src/payment-method/handler/service.test.ts
  packages/backend/src/payment-method/ilp/service.test.ts
  packages/backend/src/payment-method/local/service.test.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/tests/outgoingPayment.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/webhook/service.test.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
  test/integration/lib/test-actions/open-payments.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3173 feat(backend): Check quote expiry in outgoing payment worker (#3141)
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: type: tests, pkg: backend, type: source

#3309 docs: merge token intro with auth service doc
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/deployment/services/auth-service.mdx
  packages/documentation/src/content/docs/integration/deployment/services/token-introspection.mdx
  packages/documentation/src/content/docs/resources/architecture.mdx
Labels: pkg: documentation

#3289 feat(frontend): add operator-contextual dropdowns for tenant selection
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/tests/app.ts
  packages/frontend/app/components/ui/Select.tsx
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/asset.server.ts
  packages/frontend/app/lib/api/tenant.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/assets.create.tsx
  packages/frontend/app/routes/peers.create.tsx
  packages/frontend/app/routes/wallet-addresses.create.tsx
  packages/frontend/app/styles/tailwind.css
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3310 docs: ase and playground related updates
  packages/documentation/astro.config.mjs
  packages/documentation/src/content/docs/integration/requirements/overview.mdx
  packages/documentation/src/content/docs/overview/concepts/account-servicing-entity.mdx
  packages/documentation/src/content/docs/overview/overview.mdx
Labels: pkg: documentation

#3316 docs: updates based on vale feedback
  packages/documentation/src/content/docs/admin/admin-user-guide.mdx
  packages/documentation/src/content/docs/admin/liquidity/asset-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/payment-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/peer-liquidity.mdx
  packages/documentation/src/content/docs/admin/liquidity/two-phase-transfers.mdx
  packages/documentation/src/content/docs/index.mdx
  packages/documentation/src/content/docs/integration/deployment/docker-compose.mdx
  packages/documentation/src/content/docs/integration/deployment/helm-k8s.mdx
  packages/documentation/src/content/docs/integration/deployment/services/auth-service.mdx
  packages/documentation/src/content/docs/integration/deployment/services/backend-service.mdx
  packages/documentation/src/content/docs/integration/deployment/services/frontend-service.mdx
  packages/documentation/src/content/docs/integration/playground/overview.mdx
  packages/documentation/src/content/docs/integration/requirements/exchange-rates.mdx
  packages/documentation/src/content/docs/integration/requirements/idp.mdx
  packages/documentation/src/content/docs/integration/requirements/overview.mdx
  packages/documentation/src/content/docs/integration/requirements/peers.mdx
  packages/documentation/src/content/docs/integration/requirements/sending-fees.mdx
  packages/documentation/src/content/docs/integration/requirements/wallet-addresses.mdx
  packages/documentation/src/content/docs/integration/requirements/webhook-events.mdx
  packages/documentation/src/content/docs/overview/concepts/account-servicing-entity.mdx
  packages/documentation/src/content/docs/overview/concepts/accounting.mdx
  packages/documentation/src/content/docs/overview/concepts/interledger.mdx
  packages/documentation/src/content/docs/overview/concepts/open-payments.mdx
  packages/documentation/src/content/docs/overview/concepts/telemetry.mdx
  packages/documentation/src/content/docs/resources/architecture.mdx
  packages/documentation/src/content/docs/resources/environment-variables.mdx
  packages/documentation/src/content/docs/resources/glossary.mdx
  packages/documentation/src/content/docs/resources/releases.mdx
  packages/documentation/src/content/docs/resources/webhook-event-types.mdx
Labels: pkg: documentation

#3281 feat(tenantSettings): initial implementation
  bruno/collections/Rafiki/Rafiki Admin APIs/Create Tenant Settings.bru
  bruno/collections/Rafiki/Rafiki Admin APIs/Get Tenants.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20250117205655_create_tenant_settings_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/tenant_settings.test.ts
  packages/backend/src/graphql/resolvers/tenant_settings.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/tenants/model.ts
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tenants/service.ts
  packages/backend/src/tenants/settings/errors.ts
  packages/backend/src/tenants/settings/model.test.ts
  packages/backend/src/tenants/settings/model.ts
  packages/backend/src/tenants/settings/service.test.ts
  packages/backend/src/tenants/settings/service.ts
  packages/backend/src/tests/tenantSettings.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/integration/lib/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3277 build: containers will now run as the non-root rafiki user
  packages/auth/Dockerfile.dev
  packages/auth/Dockerfile.prod
  packages/backend/Dockerfile.dev
  packages/backend/Dockerfile.prod
  packages/frontend/Dockerfile.dev
  packages/frontend/Dockerfile.prod
Labels: pkg: backend, pkg: frontend, pkg: auth
