Repository interledger/rafiki, pull requests merged in 2025-03, with the labels that each got.

#3323 feat(3322-tigerbeetle): bump tb from 0.15.4 to 0.16.29
  infrastructure/helm/tigerbeetle/values.yaml
  localenv/tigerbeetle/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/accounting/tigerbeetle/service.test.ts
  packages/backend/src/accounting/tigerbeetle/transfers.ts
  packages/backend/src/tests/tigerbeetle.ts
  packages/documentation/src/content/docs/integration/deployment/docker-compose.mdx
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, type: source, pkg: documentation

#3094 feat(auth): use gnap error middleware on idp api
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
  packages/auth/src/openapi/specs/id-provider.yaml
  pnpm-lock.yaml
Labels: type: tests, type: source, pkg: auth

#3340 feat(auth): handle expired interactions gracefully during finish
  packages/auth/src/interaction/routes.test.ts
  packages/auth/src/interaction/routes.ts
Labels: type: tests, type: source, pkg: auth

#3298 feat(backend): redirect to webpage when querying payment pointer in browser
  localenv/mock-account-servicing-entity/package.json
  packages/auth/package.json
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/wallet_address/middleware.test.ts
  packages/backend/src/open_payments/wallet_address/middleware.ts
  packages/frontend/package.json
  packages/token-introspection/package.json
  pnpm-lock.yaml
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: auth, pkg: mock-ase

#3314 fix(backend): allow admin api to query all receivers and move checks
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/model.ts
  packages/backend/src/open_payments/receiver/service.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/payment-method/ilp/stream-credentials/service.test.ts
  packages/backend/src/payment-method/ilp/stream-credentials/service.ts
  packages/backend/src/tests/quote.ts
Labels: type: tests, pkg: backend, type: source

#3274 ci: add performance script to PR jobs
  .github/workflows/node-build.yml
  .gitignore
  packages/auth/src/graphql/generated/graphql.schema.json
  packages/backend/codegen.yml
  packages/backend/src/graphql/generated/graphql.schema.json
  pnpm-lock.yaml
  test/integration/integration.test.ts
  test/integration/lib/test-actions/admin.ts
  test/integration/lib/test-actions/index.ts
  test/integration/lib/test-actions/open-payments.ts
  test/integration/package.json
  test/performance/README.md
  test/performance/config/local.env
  test/performance/config/test.env
  test/performance/package.json
  test/performance/scripts/create-outgoing-payments.js
  test/performance/scripts/run-tests.sh
  test/performance/scripts/start-mases.js
  test/test-lib/package.json
  test/test-lib/src/admin-client.ts
  test/test-lib/src/apollo-client.ts
  test/test-lib/src/config.ts
  test/test-lib/src/generated/graphql.ts
  test/test-lib/src/index.ts
  test/test-lib/src/integration-server.ts
  test/test-lib/src/mock-ase.ts
  test/test-lib/tsconfig.json
  test/testenv/cloud-nine-wallet/.env
  test/testenv/cloud-nine-wallet/docker-compose.yml
  test/testenv/cloud-nine-wallet/seed.yml
  test/testenv/dbinit.sql
  test/testenv/docker-compose.yml
  test/testenv/happy-life-bank/.env
  test/testenv/happy-life-bank/docker-compose.yml
  test/testenv/happy-life-bank/seed.yml
  test/testenv/private-key.pem
Labels: type: ci, type: tests, pkg: backend, type: source, pkg: auth

#3350 docs: add payment pointer/wallet address concepts page
  packages/documentation/astro.config.mjs
  packages/documentation/src/components/PageSidebar.astro
  packages/documentation/src/content/docs/overview/concepts/interledger.mdx
  packages/documentation/src/content/docs/overview/concepts/payment-pointers.mdx
Labels: pkg: documentation

#3320 fix(backend): deadlocks
  packages/backend/src/fee/service.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/quote.ts
  test/performance/scripts/create-local-outgoing-payments.js
Labels: type: tests, pkg: backend, type: source

#3356 docs: change theme to teal
  packages/documentation/astro.config.mjs
Labels: pkg: documentation

#3360 docs: mi/3294/peers-update
  packages/documentation/src/content/docs/integration/deployment/services/backend-service.mdx
  packages/documentation/src/content/docs/integration/requirements/peers.mdx
  packages/documentation/src/content/docs/overview/concepts/interledger.mdx
Labels: pkg: documentation
