Repository interledger/rafiki, pull requests merged in 2025-08, with the labels that each got.

#3535 feat: added card service client to initiate a payment from pos service
  packages/point-of-sale/package.json
  packages/point-of-sale/src/card-service-client/client.test.ts
  packages/point-of-sale/src/card-service-client/client.ts
  packages/point-of-sale/src/card-service-client/errors.ts
  packages/point-of-sale/src/index.ts
  pnpm-lock.yaml
Labels: type: tests

#3539 feat(backend): Raul/raf 1095 augment outgoing payments for card
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/migrations/20250708070748_create_outgoing_payment_card_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/card/model.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3588 fix(masl): seed script in MASE
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/mock-account-service-lib/src/seed.ts
Labels: type: tests, pkg: backend, type: source, pkg: mock-account-service-lib

#3572 feat(frontend): tenant settings fields for tenant create
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/tenant_settings.test.ts
  packages/backend/src/graphql/resolvers/tenant_settings.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/tenants/service.test.ts
  packages/backend/src/tenants/service.ts
  packages/backend/src/tenants/settings/service.test.ts
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/tenants.create.tsx
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/mock-account-service-lib/src/requesters.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3570 feat(frontend): use tenant wallet address prefix in admin UI
  packages/frontend/app/generated/graphql.ts
  packages/frontend/app/lib/api/tenant.server.ts
  packages/frontend/app/lib/validate.server.ts
  packages/frontend/app/routes/wallet-addresses._index.tsx
  packages/frontend/app/routes/wallet-addresses.create.tsx
Labels: pkg: frontend

#3567 feat(backend): tenant id filter tests for gql pagination
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/combined_payments.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/peer.test.ts
  packages/backend/src/graphql/resolvers/wallet_address.test.ts
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/tests/combinedPayment.ts
  packages/backend/src/tests/peer.ts
  packages/backend/src/tests/webhook.ts
Labels: type: tests, pkg: backend, type: source

#3600 fix(backend): made CARD_SERVICE_URL optional
  packages/backend/src/card/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/wallet_address/model.ts
  packages/backend/src/open_payments/wallet_address/routes.ts
  packages/frontend/app/generated/graphql.ts
  packages/point-of-sale/src/graphql/generated/graphql.ts
Labels: pkg: backend, pkg: frontend, type: source

#3603 fix(localenv): fix env, localenv, bruno errors
  bruno/collections/Rafiki/Examples/Open Payments/Get receiver wallet address.bru
  bruno/collections/Rafiki/Examples/Open Payments/Get sender wallet address.bru
  bruno/collections/Rafiki/environments/Local Playground.bru
  bruno/collections/Rafiki/environments/Tenanted Local Playground - Swapped Sender & Receiver.bru
  localenv/mock-account-servicing-entity/app/lib/parse_config.server.ts
  packages/mock-account-service-lib/src/requesters.ts
  packages/mock-account-service-lib/src/seed.ts
Labels: pkg: mock-ase, pkg: mock-account-service-lib

#3412 feat: calculate grant spent amounts from new table
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
Labels: type: tests, pkg: backend, type: source

#3612 docs: add footer
  packages/documentation/astro.config.mjs
  packages/documentation/src/components/Footer.astro
  packages/documentation/src/styles/rafiki.css
Labels: pkg: documentation

#3581 docs: add pr template for docs team
  .github/PULL_REQUEST_TEMPLATE/doc_template.md
  .github/PULL_REQUEST_TEMPLATE/eng_template.md
  .github/pull_request_template.md
Labels: type: ci

#3613 feat(point-of-sale): handle incoming payment completed webhooks from backend
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/card-service/src/payment/service.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/point-of-sale/jest.env.js
  packages/point-of-sale/package.json
  packages/point-of-sale/src/app.ts
  packages/point-of-sale/src/config/app.ts
  packages/point-of-sale/src/graphql/generated/graphql.ts
  packages/point-of-sale/src/graphql/mutations/createIncomingPayment.ts
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/merchant/devices/errors.ts
  packages/point-of-sale/src/payments/errors.ts
  packages/point-of-sale/src/payments/routes.test.ts
  packages/point-of-sale/src/payments/routes.ts
  packages/point-of-sale/src/payments/service.test.ts
  packages/point-of-sale/src/payments/service.ts
  packages/point-of-sale/src/tests/helpers.ts
  packages/point-of-sale/src/utils/deferred.ts
  packages/point-of-sale/src/webhook-handlers/middleware.test.ts
  packages/point-of-sale/src/webhook-handlers/middleware.ts
  packages/point-of-sale/src/webhook-handlers/request-map.ts
  packages/point-of-sale/src/webhook-handlers/routes.test.ts
  packages/point-of-sale/src/webhook-handlers/routes.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib
