Repository interledger/rafiki, pull requests merged in 2025-09, with the labels that each got.

#3617 chore(backend): remove peer id from outgoing payment model
  bruno/collections/Rafiki/Sample Webhook Events/Outgoing Payment Completed.bru
  bruno/collections/Rafiki/Sample Webhook Events/Outgoing Payment Created.bru
  bruno/collections/Rafiki/Sample Webhook Events/Outgoing Payment Failed.bru
  packages/backend/migrations/20250827153829_drop_peer_id_from_outgoing_payments.js
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/openapi/specs/webhooks.yaml
Labels: type: tests, pkg: backend, type: source

#3628 feat(backend): add custom webhook URL for POS
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: type: tests, pkg: backend, type: source

#3629 fix(point-of-sale): added bruno script + added missing env variables to local docker compose file
  bruno/collections/Rafiki/POS Service APIs/Initiate Payment.bru
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/happy-life-bank/docker-compose.yml
  packages/point-of-sale/src/card-service-client/client.test.ts
  packages/point-of-sale/src/card-service-client/client.ts
  packages/point-of-sale/src/payments/routes.test.ts
  packages/point-of-sale/src/payments/routes.ts
  packages/point-of-sale/src/payments/service.test.ts
  packages/point-of-sale/src/payments/service.ts
Labels: type: tests

#3653 fix: match payment bodies for pos and card service
  bruno/collections/Rafiki/POS Service APIs/Initiate Payment.bru
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/card-service/src/graphql/generated/graphql.ts
  packages/card-service/src/openapi/specs/card-server.yaml
  packages/card-service/src/payment/routes.test.ts
  packages/card-service/src/payment/service.test.ts
  packages/card-service/src/payment/service.ts
  packages/card-service/src/payment/types.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/point-of-sale/src/card-service-client/client.test.ts
  packages/point-of-sale/src/card-service-client/client.ts
  packages/point-of-sale/src/graphql/generated/graphql.ts
  packages/point-of-sale/src/payments/routes.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib

#3655 feat(card-service, pos-service): updating payment routes with new payload
  bruno/collections/Rafiki/POS Service APIs/Initiate Payment.bru
  localenv/happy-life-bank/docker-compose.yml
  packages/card-service/src/openapi/specs/card-server.yaml
  packages/card-service/src/payment/routes.test.ts
  packages/card-service/src/payment/service.test.ts
  packages/card-service/src/payment/service.ts
  packages/card-service/src/payment/types.ts
  packages/point-of-sale/src/card-service-client/client.test.ts
  packages/point-of-sale/src/card-service-client/client.ts
  packages/point-of-sale/src/index.ts
  packages/point-of-sale/src/payments/routes.test.ts
  packages/point-of-sale/src/payments/routes.ts
Labels: type: tests

#3662 fix(backend): fix webhook resolver filter for OP funded and cancelled events
  packages/backend/src/graphql/resolvers/webhooks.test.ts
  packages/backend/src/graphql/resolvers/webhooks.ts
Labels: type: tests, pkg: backend, type: source

#3668 fix: updates to make e2e payment flow work
  localenv/cloud-nine-wallet/docker-compose.yml
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/card-service/src/app.ts
  packages/point-of-sale/src/card-service-client/client.test.ts
  packages/point-of-sale/src/card-service-client/client.ts
  packages/point-of-sale/src/payments/routes.test.ts
Labels: type: tests, pkg: backend, type: source

#3667 feat(card-service): handle payment cancelled & funded events
  localenv/cloud-nine-wallet/docker-compose.yml
  localenv/mock-account-servicing-entity/generated/graphql.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/card-service/src/app.ts
  packages/card-service/src/graphql/generated/graphql.ts
  packages/card-service/src/openapi/specs/card-server.yaml
  packages/card-service/src/payment/routes.test.ts
  packages/card-service/src/payment/routes.ts
  packages/card-service/src/payment/service.test.ts
  packages/card-service/src/payment/service.ts
  packages/card-service/src/payment/types.ts
  packages/card-service/src/payment/wait-map.test.ts
  packages/card-service/src/payment/wait-map.ts
  packages/frontend/app/generated/graphql.ts
  packages/mock-account-service-lib/src/generated/graphql.ts
  packages/point-of-sale/src/card-service-client/client.test.ts
  packages/point-of-sale/src/card-service-client/client.ts
  packages/point-of-sale/src/graphql/generated/graphql.ts
  packages/point-of-sale/src/payments/routes.test.ts
  test/test-lib/src/generated/graphql.ts
Labels: type: tests, pkg: backend, pkg: frontend, type: source, pkg: mock-ase, pkg: mock-account-service-lib
